USE [SISE_NEW]
GO
/****** Object:  Table [SISE3].[REL_RolAPi]    Script Date: 29/02/2024 10:05:38 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SISE3].[REL_RolAPi](
	[IdRelRolApi] [int] IDENTITY(1,1) NOT NULL,
	[IdPrivilegio] [int] NOT NULL,
	[IdAPI] [int] NOT NULL,
	[sVerbo] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRelRolApi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [Unique_Rel_Privilegio_Api] UNIQUE NONCLUSTERED 
(
	[IdPrivilegio] ASC,
	[IdAPI] ASC,
	[sVerbo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [SISE3].[REL_RolAPi]  WITH CHECK ADD  CONSTRAINT [FK_PrivilegioIdRol] FOREIGN KEY([IdPrivilegio])
REFERENCES [SISE3].[CatPrivilegio] ([IdPrivilegio])
GO
ALTER TABLE [SISE3].[REL_RolAPi] CHECK CONSTRAINT [FK_PrivilegioIdRol]
GO
ALTER TABLE [SISE3].[REL_RolAPi]  WITH CHECK ADD  CONSTRAINT [FK_PrivilegioIdRol_IdAPI] FOREIGN KEY([IdAPI])
REFERENCES [SISE3].[CatAPI] ([IdApi])
GO
ALTER TABLE [SISE3].[REL_RolAPi] CHECK CONSTRAINT [FK_PrivilegioIdRol_IdAPI]
GO
