USE [SISE_NEW]
GO
/****** Object:  StoredProcedure [SISE3].[pcObtenerCatalogosDelito]    Script Date: 01/11/2024 04:50:52 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ==========================================================================================
-- Author:		Isidro Neri Silva
-- Create date: 1/11/2024
-- Description:	Obtiene los catalgos del delito Genero y Modalidad Delito y Entidad y Municipio
-- ==========================================================================================
CREATE PROCEDURE [SISE3].[pcObtenerCatalogosDelito]
@pi_TipoAsuntoId INT,
@pi_CatOrganismoId INT,
@pi_CatTipoAsuntoId INT
AS
BEGIN

DECLARE 
    @ErrorMessage NVARCHAR(4000),
    @ErrorSeverity INT,
    @ErrorState INT,
    @catalogo VARCHAR(100);

BEGIN TRY

     SET @catalogo = (SELECT Catalogo 
                         FROM viTiposAsunto 
                         WHERE TipoAsuntoId = @pi_TipoAsuntoId);

        IF @catalogo IS NOT NULL
        BEGIN
            EXEC usp_catalogosSel @catalogo, @pi_CatOrganismoId, @pi_CatTipoAsuntoId;
        END
        ELSE
        BEGIN
            RAISERROR ('No se encontró un valor para @catalogo', 16, 1);
        END

   
END TRY
BEGIN CATCH
    SELECT 
        @ErrorMessage = ERROR_MESSAGE(),
        @ErrorSeverity = ERROR_SEVERITY(),                 
        @ErrorState = ERROR_STATE();

    RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
END CATCH;
END