USE [SISE_NEW]
GO
/****** Object:  StoredProcedure [SISE3].[pcRepEstResumenRecuperado_Sel]    Script Date: 25/02/2025 05:38:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ==========================================================================================
-- Author:		Isidro Neri Silva Gtz
-- Create date: 14/02/2025
-- Description:	Permite obtener el resumen de un reporte
-- Ejemplo de ejecución: [SISE3].[pcRepEstResumenRecuperado_Sel] 180, 1, 2, 247
-- SP Original: EXEC usp_RepEstResumenRecuperado_Sel 180, 1, 2, 247 
-- ==========================================================================================
CREATE PROCEDURE [SISE3].[pcRepEstResumenRecuperado_Sel] 
@pi_CatOrganismoId INT,
@pi_CatTipoAsuntoId INT,
@pi_Diferente INT, 
@pi_Periodo INT
AS
BEGIN
	DECLARE @ErrorMessage NVARCHAR(4000)
		   ,@ErrorSeverity INT
		   ,@ErrorState INT

	BEGIN TRY

Declare @ColTotal int;
	Declare @ColCargaTrabajo int;
	Declare @ColSentidoResolucion int;
	Declare @ColUltimas int;
	Set @ColTotal=(Select MAX(columna)	
		 from RepEstResumen
		inner join RepEstResumenDetalle on RepEstResumen.CatOrganismoId=RepEstResumenDetalle.CatOrganismoId
		and RepEstResumen.TipoAsuntoId=RepEstResumenDetalle.TipoAsuntoId and
		RepEstResumen.Periodo=RepEstResumenDetalle.Periodo
		where 
		RepEstResumen.CatOrganismoId=@pi_CatOrganismoId
		and RepEstResumen.TipoAsuntoId=@pi_CatTipoAsuntoId 
		and RepEstResumen.Periodo=@pi_Periodo
		and RepEstResumen.StatusReg=1
		and RepEstResumenDetalle.StatusReg=1
		and RepEstResumenDetalle.Diferente=@pi_Diferente)
		
		--@ColTotal=15
Set @ColCargaTrabajo=6--Primeras 6 columnas (1,2,3,4,6 y si tiene tmb 5)
Set @ColSentidoResolucion=11--Todo lo de sentido incia en 11 y termina en 
Set @ColUltimas=7--ultimas 4 columnas (7,8,9,10)

		
Select RepEstResumen.CatOrganismoId
		,RepEstResumen.TipoAsuntoId
		,RepEstResumen.Periodo
		,RepEstResumen.TitularId
		,RepEstResumen.SecretarioId
		,RepEstResumenDetalle.Renglon
		,RepEstResumenDetalle.Columna
		,RepEstResumenDetalle.Valor
		,CONVERT(VARCHAR(24),RepEstResumen.FechaInicioReporte,103)
		,CONVERT(VARCHAR(24),RepEstResumen.FechaFinReporte,103)
		,CONVERT(VARCHAR(24),RepEstResumen.FechaReporte,103)
		,1 as valorColumna		
		,RepEstResumenDetalle.Tipo
		,RepEstResumen.Ponencia1
		,RepEstResumen.Ponencia2
		,RepEstResumen.Ponencia3
		 from RepEstResumen
		inner join RepEstResumenDetalle on RepEstResumen.CatOrganismoId=RepEstResumenDetalle.CatOrganismoId
		and RepEstResumen.TipoAsuntoId=RepEstResumenDetalle.TipoAsuntoId and
		RepEstResumen.Periodo=RepEstResumenDetalle.Periodo and RepEstResumen.Diferente=RepEstResumenDetalle.Diferente
		where 
		RepEstResumen.CatOrganismoId=@pi_CatOrganismoId
		and RepEstResumen.TipoAsuntoId=@pi_CatTipoAsuntoId and
		RepEstResumen.Periodo=@pi_Periodo
		and RepEstResumen.StatusReg=1
		and RepEstResumenDetalle.StatusReg=1
		and RepEstResumenDetalle.Diferente=@pi_Diferente
		and Columna<=@ColCargaTrabajo --6
UNION
Select RepEstResumen.CatOrganismoId
		,RepEstResumen.TipoAsuntoId
		,RepEstResumen.Periodo
		,RepEstResumen.TitularId
		,RepEstResumen.SecretarioId
		,RepEstResumenDetalle.Renglon
		,RepEstResumenDetalle.Columna
		,RepEstResumenDetalle.Valor
		,CONVERT(VARCHAR(24),RepEstResumen.FechaInicioReporte,103)
		,CONVERT(VARCHAR(24),RepEstResumen.FechaFinReporte,103)
		,CONVERT(VARCHAR(24),RepEstResumen.FechaReporte,103)		
		 ,2 as valorColumna
		 ,RepEstResumenDetalle.Tipo
		 ,RepEstResumen.Ponencia1
		,RepEstResumen.Ponencia2
		,RepEstResumen.Ponencia3
		 from RepEstResumen
		inner join RepEstResumenDetalle on RepEstResumen.CatOrganismoId=RepEstResumenDetalle.CatOrganismoId
		and RepEstResumen.TipoAsuntoId=RepEstResumenDetalle.TipoAsuntoId and
		RepEstResumen.Periodo=RepEstResumenDetalle.Periodo and RepEstResumen.Diferente=RepEstResumenDetalle.Diferente
		where 
		RepEstResumen.CatOrganismoId=@pi_CatOrganismoId
		and RepEstResumen.TipoAsuntoId=@pi_CatTipoAsuntoId and
		RepEstResumen.Periodo=@pi_Periodo
		and RepEstResumen.StatusReg=1
		and RepEstResumenDetalle.StatusReg=1
		and RepEstResumenDetalle.Diferente=@pi_Diferente
		and Columna between @ColSentidoResolucion and @ColTotal
UNION		
		Select RepEstResumen.CatOrganismoId
		,RepEstResumen.TipoAsuntoId
		,RepEstResumen.Periodo
		,RepEstResumen.TitularId
		,RepEstResumen.SecretarioId
		,RepEstResumenDetalle.Renglon
		,RepEstResumenDetalle.Columna
		,RepEstResumenDetalle.Valor
		,CONVERT(VARCHAR(24),RepEstResumen.FechaInicioReporte,103)
		,CONVERT(VARCHAR(24),RepEstResumen.FechaFinReporte,103)
		,CONVERT(VARCHAR(24),RepEstResumen.FechaReporte,103)		
		,3 as valorColumna
		,RepEstResumenDetalle.Tipo
		,RepEstResumen.Ponencia1
		,RepEstResumen.Ponencia2
		,RepEstResumen.Ponencia3
		 from RepEstResumen
		inner join RepEstResumenDetalle on RepEstResumen.CatOrganismoId=RepEstResumenDetalle.CatOrganismoId
		and RepEstResumen.TipoAsuntoId=RepEstResumenDetalle.TipoAsuntoId and
		RepEstResumen.Periodo=RepEstResumenDetalle.Periodo and RepEstResumen.Diferente=RepEstResumenDetalle.Diferente
		where 
		RepEstResumen.CatOrganismoId=@pi_CatOrganismoId
		and RepEstResumen.TipoAsuntoId=@pi_CatTipoAsuntoId and
		RepEstResumen.Periodo=@pi_Periodo
		and RepEstResumen.StatusReg=1
		and RepEstResumenDetalle.StatusReg=1
		and RepEstResumenDetalle.Diferente=@pi_Diferente
		and Columna between @ColUltimas and @ColSentidoResolucion-1
		
Order by renglon,Columna, Tipo

	
	END TRY
	BEGIN CATCH
		SELECT
			@ErrorMessage = ERROR_MESSAGE()
		   ,@ErrorSeverity = ERROR_SEVERITY()
		   ,@ErrorState = ERROR_STATE();

		RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
	END CATCH
END