SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ==========================================================================================
-- Author:		Isidro Neri Silva
-- Create date: 29/08/2024
-- Description:	Consulta los tipos de area por catOrganismoId
-- Actualización: 01/11/2024 - se quita validación
-- Cambios: Erick Garcia - 08/01/2025 - Se agrega ordenamiento por nombre
-- ==========================================================================================
ALTER PROCEDURE [SISE3].[pcConsultaTipoAreasPorOrganismo]
@pi_CatOrganismoId INT
AS
BEGIN

DECLARE 
    @ErrorMessage NVARCHAR(4000),
    @ErrorSeverity INT,
    @ErrorState INT,
    @OrganismoNombre VARCHAR(100);

BEGIN TRY

	SELECT kIdTipoArea, 
            sTipoArea 
    FROM SISE3.CAT_TipoArea 
	ORDER BY sTipoArea;
    
END TRY
BEGIN CATCH
    SELECT 
        @ErrorMessage = ERROR_MESSAGE(),
        @ErrorSeverity = ERROR_SEVERITY(),                 
        @ErrorState = ERROR_STATE();

    RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
END CATCH;
END