USE [SISE_NEW]
GO
/****** Object:  StoredProcedure [SISE3].[pa_RepEst_TU_Detalle_Upd]    Script Date: 29/04/2025 04:32:19 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ==========================================================================================
-- Author: Isidro Neri Silva
-- Create date: 29/04/2025
-- Description:	Actualiza detalle, Amparo Indirecto y Procesos Civiles y Administrativos
-- SP Original: [dbo].[usp_RepEst_TU_Detalle_Upd]
-- ==========================================================================================
CREATE PROCEDURE [SISE3].[pa_RepEst_TU_Detalle_Upd]
(
    @piCatOrganismoId INT,
    @piTipoAsuntoId INT,
    @piDiferente INT,
    @piPeriodo INT, 
    @piNumExpediente VARCHAR(50),
    @piAsuntoNeunId BIGINT,
    @piNumGuardado INT,
    @piNumMultiple INT,
    @piExpediente VARCHAR(50),
    @piMateria INT,
    @piDelitos VARCHAR(50),
    @piFechaAutoAclara DATE,
    @piFechaRadicacion DATE, 
    @piAutoridadesResponsables VARCHAR(50),
    @piRecurrentePromovente VARCHAR(50),
    @piTipoRecursoProcedimiento INT,
    @piResolucionMateria INT,
    @piDescripcionIngreso INT,
    @piValorFechaIngreso DATE,
    @piValorSentidoIngreso INT,
    @piDescripcionEgreso INT, 		
    @piValorFechaEgreso DATE, 
    @piValorSentidoEgreso VARCHAR(50),
    @piUsuarioCaptura BIGINT,
    @piEnvioTemporal BIT,
    @piValorFechaEgresoRI DATE, 
    @piValorSentidoEgresoRI VARCHAR(50),
    @piDescripcionIngresoRI BIT,
    @piIngresoPorAcuerdo BIT,
    @piEgresoPorAcuerdo BIT
)
AS
BEGIN

	DECLARE 
		@ErrorMessage NVARCHAR(4000),
		@ErrorSeverity INT,
		@ErrorState INT;

	BEGIN TRY

    SET NOCOUNT ON;

    UPDATE RepEstDetalleDetalle WITH (ROWLOCK)
    SET FechaBaja = GETDATE(),
        StatusReg = 0
    WHERE CatOrganismoId = @piCatOrganismoId
      AND TipoAsuntoId = @piTipoAsuntoId
      AND Diferente = @piDiferente
      AND Periodo = @piPeriodo
      AND NumExpediente = @piNumExpediente
      AND AsuntoNeunId = @piAsuntoNeunId
      AND NumMultiple = @piNumMultiple
      AND NumGuardado = @piNumGuardado;

    UPDATE RepEstDetalle WITH (ROWLOCK)
    SET FechaBaja = GETDATE(),
        StatusReg = 0
    WHERE CatOrganismoId = @piCatOrganismoId
      AND TipoAsuntoId = @piTipoAsuntoId
      AND Diferente = @piDiferente
      AND Periodo = @piPeriodo
      AND NumExpediente = @piNumExpediente
      AND AsuntoNeunId = @piAsuntoNeunId
      AND NumMultiple = @piNumMultiple
      AND NumGuardado = @piNumGuardado;

    SET @piNumGuardado = @piNumGuardado + 1;

    INSERT INTO RepEstDetalle WITH (ROWLOCK)
        (CatOrganismoId, TipoAsuntoId, Diferente, Periodo, NumExpediente, AsuntoNeunId, 
         NumMultiple, NumGuardado, FechaAlta, StatusReg)
    VALUES
        (@piCatOrganismoId, @piTipoAsuntoId, @piDiferente, @piPeriodo, @piNumExpediente,
         @piAsuntoNeunId, @piNumMultiple, @piNumGuardado, GETDATE(), 1);

    INSERT INTO RepEstDetalleDetalle WITH (ROWLOCK)
        (CatOrganismoId, TipoAsuntoId, Diferente, EnvioTemporal,
         Periodo, NumExpediente, AsuntoNeunId,
         NumMultiple, NumGuardado, Expediente,
         Materia, Delitos, FechaAutoAclara,
         FechaRadicacion, AutoridadesResponsables, RecurrentePromovente,
         TipoRecursoProcedimiento, ResolucionMateria, DescripcionIngreso,
         ValorFechaIngreso, ValorSentidoIngreso, DescripcionEgreso, 		
         ValorFechaEgreso, ValorSentidoEgreso, UsuarioCaptura,
         FechaAlta, FechaBaja, StatusReg,
         ValorFechaEgresoRI, ValorSentidoEgresoRI,
         DescripcionIngresoRI, IngrexAcuerdo, EgrexAcuerdo)
    VALUES
        (@piCatOrganismoId, @piTipoAsuntoId, @piDiferente, @piEnvioTemporal,
         @piPeriodo, @piNumExpediente, @piAsuntoNeunId,
         @piNumMultiple, @piNumGuardado, @piExpediente,
         @piMateria, @piDelitos, @piFechaAutoAclara,
         @piFechaRadicacion, @piAutoridadesResponsables, @piRecurrentePromovente,
         @piTipoRecursoProcedimiento, @piResolucionMateria, @piDescripcionIngreso,
         @piValorFechaIngreso, @piValorSentidoIngreso, @piDescripcionEgreso, 		
         @piValorFechaEgreso, @piValorSentidoEgreso, @piUsuarioCaptura,
         GETDATE(), NULL, 1,
         @piValorFechaEgresoRI, @piValorSentidoEgresoRI,
         @piDescripcionIngresoRI, @piIngresoPorAcuerdo, @piEgresoPorAcuerdo);

    SET NOCOUNT OFF;

	END TRY
	BEGIN CATCH
		SELECT 
			@ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),                 
            @ErrorState =ERROR_STATE();

		RAISERROR (@ErrorMessage,@ErrorSeverity,@ErrorState);
	END CATCH
END