USE [SISE_NEW]
GO
/****** Object:  StoredProcedure [SISE3].[piRepResumen_Ins]    Script Date: 25/02/2025 05:32:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ==========================================================================================
-- Author:		Isidro Neri Silva
-- Create date: 25/02/2025
-- Description:	Inserta un resumen para un reporte
-- SP Original: usp_RepEstSoloResumen_Ins
-- ==========================================================================================
CREATE PROCEDURE [SISE3].[piRepResumen_Ins](
    @pi_CatOrganismoId int,
    @pi_TipoAsuntoId int,
    @pi_DiferenteId int,
    @pi_PeriodoId int, 
    @pi_UsuarioCaptura bigint,
    @pi_TitularId int,
    @pi_SecretarioId int,
    @pi_informacionResumen NVARCHAR(MAX),
    @pi_Ponencia1 varchar(50),
    @pi_Ponencia2 varchar(50),
    @pi_Ponencia3 varchar(50)
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE 
        @ErrorMessage NVARCHAR(4000),
        @MaxNumGuadadoResumen int,
        @FIni datetime,
        @FFin datetime;

    DECLARE @TablaResumen TABLE (
        Renglon INT NOT NULL,
        Columna INT NOT NULL,
        Tipo INT NOT NULL,
        Valor INT NULL
    );

    BEGIN TRY
        BEGIN TRANSACTION;

        INSERT INTO @TablaResumen (Renglon, Columna, Tipo, Valor)
        SELECT 
            Renglon, Columna, Tipo, Valor
        FROM OPENJSON(@pi_informacionResumen) 
        WITH (
            Renglon INT,
            Columna INT,
            Tipo INT,
            Valor INT
        );

        SET LANGUAGE 'SPANISH';
        SELECT @FIni = CAST(Inicio AS datetime), @FFin = CAST(Fin AS datetime)
        FROM perestadistico 
        WHERE periodo = @pi_PeriodoId;

        SET @MaxNumGuadadoResumen = ISNULL(
            (SELECT MAX(NumGuardado) FROM RepEstResumen WITH (NOLOCK) 
             WHERE CatOrganismoId = @pi_CatOrganismoId 
               AND TipoAsuntoId = @pi_TipoAsuntoId 
               AND Periodo = @pi_PeriodoId), 0);

        UPDATE RepEstResumen 
        SET StatusReg = 0, FechaBaja = GETDATE() 
        WHERE CatOrganismoId = @pi_CatOrganismoId 
          AND TipoAsuntoId = @pi_TipoAsuntoId 
          AND Periodo = @pi_PeriodoId 
          AND NumGuardado = @MaxNumGuadadoResumen;

        UPDATE RepEstResumenDetalle 
        SET StatusReg = 0, FechaBaja = GETDATE() 
        WHERE CatOrganismoId = @pi_CatOrganismoId 
          AND TipoAsuntoId = @pi_TipoAsuntoId 
          AND Periodo = @pi_PeriodoId 
          AND NumGuardado = @MaxNumGuadadoResumen;

        INSERT INTO RepEstResumen WITH(ROWLOCK)
           ([CatOrganismoId], [TipoAsuntoId], [Diferente], [Periodo], [Firma],
            [FechaInicioReporte], [FechaFinReporte], [FechaReporte], 
            [TitularId], [SecretarioId], [FechaAlta], [StatusReg], 
            [UsuarioCaptura], [NumGuardado], [Ponencia1], [Ponencia2], [Ponencia3])
        VALUES
           (@pi_CatOrganismoId, @pi_TipoAsuntoId, @pi_DiferenteId, @pi_PeriodoId, 0,
            @FIni, @FFin, GETDATE(), @pi_TitularId, @pi_SecretarioId, GETDATE(),
            1, @pi_UsuarioCaptura, @MaxNumGuadadoResumen + 1, 
            @pi_Ponencia1, @pi_Ponencia2, @pi_Ponencia3);

        INSERT INTO RepEstResumenDetalle WITH(ROWLOCK)
           ([CatOrganismoId], [TipoAsuntoId], [Diferente], [Periodo], [Renglon], 
            [Columna], [Tipo], [Valor], [FechaAlta], [StatusReg], 
            [UsuarioCaptura], [NumGuardado])
        SELECT @pi_CatOrganismoId, @pi_TipoAsuntoId, @pi_DiferenteId, @pi_PeriodoId,
               Renglon, Columna, Tipo, Valor, GETDATE(), 1, 
               @pi_UsuarioCaptura, @MaxNumGuadadoResumen + 1
        FROM @TablaResumen;

        COMMIT TRANSACTION;

        SELECT @MaxNumGuadadoResumen + 1 AS NuevoNumGuardado;

    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;

        SET @ErrorMessage = ERROR_MESSAGE();

        SELECT 0 AS NuevoNumGuardado;
    END CATCH
END;
