SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ==========================================================================================
-- Author:		Erick Garcia de la Rosa
-- Create date: 25/06/2024
-- Description:	Consulta los roles de un empleado.
-- ==========================================================================================
CREATE PROCEDURE [SISE3].[pcConsultaRolEmpleado]
(
	@pc_iIdEmpleado INT
)
AS
BEGIN

	DECLARE 
		@ErrorMessage NVARCHAR(4000),
		@ErrorSeverity INT,
		@ErrorState INT;

	BEGIN TRY
		
		SELECT 
			REO.IdEmpleadoRol,
			REO.IdRol,
			REO.IdOrganismo,
			REO.IdCatEmpleado,
			REO.fFechaAlta,
			REO.fFechaBaja,
			REO.bStatus,
			R.sNombreRol,
			O.NombreOficial AS Organismo,
			E.Nombre,
			E.ApellidoPaterno,
			E.ApellidoMaterno
		FROM SISE3.REL_RolEmpleadoXOrganismo REO
		INNER JOIN SISE3.CatRol R ON R.IdRol=REO.IdRol
		INNER JOIN CatOrganismos O ON O.CatOrganismoId=REO.IdOrganismo
		INNER JOIN CatEmpleados E ON E.EmpleadoId=REO.IdCatEmpleado
		WHERE REO.IdCatEmpleado=@pc_iIdEmpleado;

	END TRY
	BEGIN CATCH
		SELECT 
			@ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),                 
            @ErrorState =ERROR_STATE();

		RAISERROR (@ErrorMessage,@ErrorSeverity,@ErrorState);
	END CATCH
END