USE [SISE_NEW]
GO
/****** Object:  StoredProcedure [SISE3].[pcConsultarResoluciones]    Script Date: 25/10/2024 08:25:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ==========================================================================================
-- Author:		Isidro Neri Silva
-- Create date: 07/10/2024
-- Description:	Obtiene las resoluciones escritas. copia del sp [dbo].[TAU_pcResolucionEscrita], se hicieron ajustes.
-- Ejemplo de ejecución: exec [SISE3].[pcConsultarResoluciones]  36068136
-- Actualización: 23/10/2024 - Se agregan campos de tipo de procedimeinto, Tipo Asunto y Proceso de Ejecución e incidentes
-- ==========================================================================================
ALTER PROCEDURE [SISE3].[pcConsultarResoluciones] 
(
@pi_IdAsuntoNeun BIGINT
)
AS
BEGIN
	DECLARE @ErrorMessage NVARCHAR(4000)
		   ,@ErrorSeverity INT
		   ,@ErrorState INT
		   ,@fechaZh DATETIME
		   ,@CatOrganismoId INT

	BEGIN TRY

SELECT
	@CatOrganismoId = CatOrganismoId
FROM Asuntos WITH (NOLOCK)
WHERE AsuntoNeunId = @pi_IdAsuntoNeun;

EXEC @fechaZh = fnObtenFechaTZ @idOrganismo = @CatOrganismoId;


UPDATE TAU_MOV_ResolucionSolicitudes
SET fechaInicioCelebrada = fechaInicio
   ,fkIdEstatusResolucion = 2
WHERE fkIdEstatusResolucion = 1
AND fkCatOrganismoId = @CatOrganismoId
AND fechaInicio < @fechaZh
AND fkIdAsuntoNeun = @pi_IdAsuntoNeun

UPDATE TAU_MOV_ResolucionSolicitudes
SET fkIdEstatusResolucion = 3
   ,fechaInicioCelebrada = fechaInicio
   ,fechaFinCelebrada = fechaFin
   ,fechaModificacion = GETDATE()
WHERE fkIdEstatusResolucion IN (1, 2)
AND fechaFin < dbo.fnObtenFechaTZ(fkCatOrganismoId)
AND fechaInicio > GETDATE() - 7

SELECT
	rs.kIdResolucionSolicitudes
   ,rs.fkIdAsuntoNeun
   ,rs.idResolucion
   ,b.sEstatusResolucion
   ,rs.sDescripcionResolucion
   ,rs.fkCatOrganismoId
   ,rs.fkIdEstatusResolucion
   ,rs.sObservacion
   ,ISNULL(rs.fechaInicioCelebrada, rs.fechaInicio) AS fechaInicio
   ,ISNULL(rs.fechaFinCelebrada, rs.fechaFin) AS fechaFin
   ,rs.fkIdTipoResolucion
   ,ISNULL((SELECT TOP 1
			empMod.Nombre + ' ' + empMod.ApellidoPaterno + ' ' + empMod.ApellidoMaterno
		FROM CatEmpleados empMod WITH (NOLOCK)
		WHERE empMod.EmpleadoId = rs.idUsuarioModificacion)
	, (SELECT TOP 1
			empAlta.Nombre + ' ' + empAlta.ApellidoPaterno + ' ' + empAlta.ApellidoMaterno
		FROM CatEmpleados empAlta WITH (NOLOCK)
		WHERE empAlta.EmpleadoId = rs.idUsuarioAlta)
	) AS Usuario
   ,ISNULL((SELECT TOP 1
			empMod.UserName
		FROM CatEmpleados empMod WITH (NOLOCK)
		WHERE empMod.EmpleadoId = rs.idUsuarioModificacion)
	, (SELECT TOP 1
			empAlta.UserName
		FROM CatEmpleados empAlta WITH (NOLOCK)
		WHERE empAlta.EmpleadoId = rs.idUsuarioAlta)
	) AS UserName
   ,rs.fechaModificacion
   ,rs.idJuez
   ,@fechaZh AS FechaZh
   ,CASE
		WHEN rs.idJuez = 0 THEN ''
		ELSE (SELECT TOP 1
					ISNULL(juez.Nombre + ' ' + juez.ApellidoPaterno + ' ' + juez.ApellidoMaterno, '')
				FROM CatEmpleados juez WITH (NOLOCK)
				WHERE juez.EmpleadoId = rs.idJuez)
	END AS NombreJuez
   ,rs.AsuntoAlias
   ,rs.fechaAlta
   ,a.CatTipoAsuntoId
   ,a.CatTipoProcedimiento
   ,ta.Descripcion AS TipoAsunto
   ,CASE
		WHEN ISNULL(sub3.CatalogoDependienteDescripcion,
			ISNULL(ti.CatalogoDependienteDescripcion,
			ISNULL(pe.CatalogoDependienteDescripcion, ''))) = 'INCIDENTES' OR
			ISNULL(sub3.CatalogoDependienteDescripcion, '') = 'Solicitud de inicio de Procedimiento de Ejecución (SIPE)' OR
			ISNULL(sub3.CatalogoDependienteDescripcion, '') = 'Solicitud de Traslado' OR
			ISNULL(sub3.CatalogoDependienteDescripcion, '') = 'Controversia' OR
			ISNULL(sub3.CatalogoDependienteDescripcion, '') = 'Ejecución Medida Cautelar' THEN 'Proceso de Ejecución'
		ELSE ISNULL(sub2.CatalogoDependienteDescripcion, ISNULL(tp.CatalogoDependienteDescripcion, ''))
	END AS TipoProcedimiento
   ,ISNULL(sub3.CatalogoDependienteDescripcion,
	ISNULL(ti.CatalogoDependienteDescripcion,
	ISNULL(pe.CatalogoDependienteDescripcion, ''))) AS Nivel3
   ,ISNULL(sub4.CatalogoDependienteDescripcion, ISNULL(inc.CatalogoDependienteDescripcion, '')) AS Nivel4

FROM TAU_MOV_ResolucionSolicitudes rs WITH (NOLOCK)
INNER JOIN TAU_CAT_EstatusResolucion b WITH (NOLOCK)
	ON b.kIdEstatusResolucion = rs.fkIdEstatusResolucion
INNER JOIN [dbo].[Asuntos] a WITH (NOLOCK)
	ON rs.fkIdAsuntoNeun = a.AsuntoNeunId
INNER JOIN CatTiposAsunto ta WITH (NOLOCK)
	ON a.CatTipoAsuntoId = ta.CatTipoAsuntoId
LEFT JOIN CatalogosDependientes tp
	ON tp.CatalogoDependienteIdPadre = 13298
		AND tp.CatalogoDependienteElementoIDNew = a.CatTipoProcedimiento
		AND tp.CatalogoDependienteId = 734
		AND tp.CatalogoDependienteNivel = 2
LEFT JOIN CatalogosDependientes ti
	ON ti.CatalogoDependienteIdPadre = 13300
		AND ti.CatalogoDependienteElementoIDNew = a.CatTipoProcedimiento
		AND ti.CatalogoDependienteId = 734
		AND ti.CatalogoDependienteNivel = 3
LEFT JOIN CatalogosDependientes pe
	ON pe.CatalogoDependienteIdPadre = 13482
		AND pe.CatalogoDependienteElementoIDNew = a.CatTipoProcedimiento
		AND pe.CatalogoDependienteId = 734
		AND pe.CatalogoDependienteNivel = 3
LEFT JOIN CatalogosDependientes inc
	ON inc.CatalogoDependienteIdPadre IN (SELECT
				ID
			FROM viCatalogos
			WHERE CatalogoPadre = 13488
			AND Catalogo = 734)
		AND inc.CatalogoDependienteElementoIDNew = a.CatTipoProcedimiento
		AND inc.CatalogoDependienteId = 734
		AND inc.CatalogoDependienteNivel = 4
LEFT JOIN REL_NoCarpInvetAsuntosSISE rel2
	ON rel2.iAsuntoNeunId = a.AsuntoNeunId
LEFT JOIN CatalogosDependientes sub2
	ON sub2.CatalogoDependienteElementoIDNew = rel2.iTipoSubNivel
		AND sub2.CatalogoDependienteId = 734
		AND sub2.CatalogoDependienteNivel = 2
LEFT JOIN CatalogosDependientes sub3
	ON sub3.CatalogoDependienteElementoIDNew = rel2.iTipoSubNivel
		AND sub3.CatalogoDependienteId = 734
		AND sub3.CatalogoDependienteNivel = 3
LEFT JOIN CatalogosDependientes sub4
	ON sub4.CatalogoDependienteElementoIDNew = rel2.iTipoSubNivel
		AND sub4.CatalogoDependienteId = 734
		AND sub4.CatalogoDependienteNivel = 4
WHERE rs.fkIdAsuntoNeun = @pi_IdAsuntoNeun
AND a.StatusReg = 1
ORDER BY rs.idResolucion;
END TRY
BEGIN CATCH
SELECT
	@ErrorMessage = ERROR_MESSAGE()
   ,@ErrorSeverity = ERROR_SEVERITY()
   ,@ErrorState = ERROR_STATE();

RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
END CATCH
END