USE [SISE_NEW]
GO
/****** Object:  StoredProcedure [SISE3].[peEliminarRol]    Script Date: 15/08/2024 12:11:02 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ==========================================================================================
-- Author:		Isidro Neri Silva
-- Create date: 25/06/2024
-- Description:	Elimina un rol del catalogo
-- ==========================================================================================
CREATE PROCEDURE [SISE3].[peEliminarRol](
    @pe_kIdRol INT
)
AS
BEGIN

	DECLARE 
		@ErrorMessage NVARCHAR(4000),
		@ErrorSeverity INT,
		@ErrorState INT;

	BEGIN TRY

	    UPDATE SISE3.CatRol
		SET bEstatus = 0
		WHERE IdRol = @pe_kIdRol;

		SELECT TOP 1 1 AS Resultado, 'Rol eliminado de manera exitosa' AS Mensaje FROM SISE3.CatRol  WHERE idRol = @pe_kIdRol;

	END TRY
	BEGIN CATCH
		SELECT 
			@ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),                 
            @ErrorState =ERROR_STATE();

		RAISERROR (@ErrorMessage,@ErrorSeverity,@ErrorState);
	END CATCH
END