USE [SISE_NEW]
GO
/****** Object:  StoredProcedure [SISE3].[pcConsecutivoAudiencia]    Script Date: 06/09/2024 06:19:38 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ==========================================================================================
-- Author:		Isidro Neri Silva
-- Create date: 06/09/2024
-- Description:	Obtiene el consecutivo de la audiencia por asunto neun id
-- ==========================================================================================
CREATE PROCEDURE [SISE3].[pcConsecutivoAudiencia]
    @pi_fkIdAsuntoNeun BIGINT,
    @pi_tipoAudiencia INT = 1 -- 1 Audiencia Oral, 2 Audiencia Escrita
AS
BEGIN
    DECLARE 
        @ErrorMessage NVARCHAR(4000),
        @ErrorSeverity INT,
        @ErrorState INT;

    BEGIN TRY
        IF @pi_tipoAudiencia = 1
        BEGIN
            SELECT 
                ISNULL(MAX(idAudiencia), 0) + 1 AS noAudiencia
            FROM 
                InformacionGeneralAudiencia WITH (NOLOCK)
            WHERE 
                fkIdAsuntoNeun = @pi_fkIdAsuntoNeun;
        END
        ELSE IF @pi_tipoAudiencia = 2
        BEGIN 
            SELECT 
                ISNULL(MAX(idResolucion), 0) + 1 AS noAudiencia
            FROM 
                TAU_MOV_ResolucionSolicitudes WITH (NOLOCK)
            WHERE 
                fkIdAsuntoNeun = @pi_fkIdAsuntoNeun;
        END
    END TRY
    BEGIN CATCH
        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),                 
            @ErrorState = ERROR_STATE();

        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
