USE [SISE_NEW]
GO
/****** Object:  StoredProcedure [SISE3].[pcConsultaInfoEmpleado]    Script Date: 19/07/2024 02:46:38 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ==========================================================================================
-- Author:		Isidro Neri Silva
-- Create date: 18/07/2024
-- Description:	Obtiene información del empleado.
-- ==========================================================================================
CREATE PROCEDURE [SISE3].[pcConsultaInfoEmpleado]
@pc_EmpleadoId NVARCHAR(MAX)
AS
BEGIN
DECLARE 
		@ErrorMessage NVARCHAR(4000),
		@ErrorSeverity INT,
		@ErrorState INT;
BEGIN TRY
SELECT a.EmpleadoId,
CONCAT(a.Nombre,' ', a.ApellidoPaterno,' ',a.ApellidoMaterno) as Nombre
FROM dbo.CatEmpleados AS a WITH (NOLOCK)
WHERE a.EmpleadoId = @pc_EmpleadoId
END TRY
BEGIN CATCH
SELECT 
			@ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),                 
            @ErrorState =ERROR_STATE();

		RAISERROR (@ErrorMessage,@ErrorSeverity,@ErrorState);
	END CATCH
END