USE [SISE_NEW]
GO
/****** Object:  StoredProcedure [SISE3].[pcConsultaDetalleEjecutoria]    Script Date: 29/01/2025 05:55:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ==========================================================================================
-- Author:		Isidro Neri Silva
-- Create date: 29/01/2025
-- Description:	Consulta Detalle de Ejecutoria de las sentencias por periodo de fechas
-- Ejemplo: EXEC [SISE3].[pcConsultaDetalleEjecutoria] 180, '2024-06-01','2025-01-29'
-- ==========================================================================================
CREATE PROCEDURE [SISE3].[pcConsultaDetalleEjecutoria]
    @pi_CatOrganismoId      INT,
    @pi_FechaPublicacionIni DATE,
    @pi_FechaPublicacionFin DATE
AS
BEGIN
    DECLARE 
        @ErrorMessage NVARCHAR(4000),
        @ErrorSeverity INT,
        @ErrorState INT;

    BEGIN TRY

        IF ISNULL(@pi_FechaPublicacionIni, '1900-01-02') <= '1900-01-01' 
           OR ISNULL(@pi_FechaPublicacionFin, '1900-01-02') <= '1900-01-01'
        BEGIN
            THROW 51000, 'ERROR: La fecha no debe ser menor a 01-ene-1900', 1; 
        END

        SET NOCOUNT ON;

		 SELECT 
			tbls.AsuntoId,
			tbls.CatTipoAsuntoId,
			tbls.CatTipoAsunto,
			tbls.FechaSentenciaVersionPublica,
			tbls.EstadoSentenciaId,
			tbls.EstadoSentencia,
			tbls.ArchivoSentenciaId,
			tbls.AsuntoNeunId,
			tbls.AsuntoAlias,
			tbls.fFechaAprobacionProyecto,
			tbls.TemaAsunto,
			tbls.Sentencia,
			tbls.Acuse,
			tbls.IdCapturo,
			tbls.NombreCapturo,
			tbls.FechaCapturo,
			tbls.IdAutorizo,
			tbls.NombreAutorizo,
			tbls.FechaAutorizo,
			tbls.IdPreAutorizo,
			tbls.NombrePreAutorizo,
			tbls.FechaPreautorizo,
			tbls.IdCancelo,
			tbls.NombreCancelo,
			tbls.FechaCancelo,
			FechaPublicacion =  ( CASE WHEN  tbls.CatTipoAsuntoId  = (1) AND tbls.TipoCuadernoId = 5647  THEN tbls.FechaAuto 
				                       WHEN  tbls.CatTipoAsuntoId  = (2) AND tbls.CatTipoOrganismoId IN(2) THEN tbls.FechaAuto 
							           WHEN  tbls.CatTipoAsuntoId IN( 18 --Medidas Precautorias 
	                                                                 ,19 --Procedimientos de Extradición
	                                                                 ,67 --Ejecución de Penas
	                                                                 ,125--Procedimientos Federales Penales en Segunda Instancia
	                                                                 ,127 --Reconocimiento de Inocencia y Anulación de Sentencia
	                                                    ) THEN tbls.FechaAuto 
							       ELSE tbls.FechaPublicacion END),      --1.1,
			tbls.FechaAuto,
			tbls.NumeroOrden,
			tbls.SintesisOrden, 
			tbls.TipoCuadernoId,
			tbls.TipoCuaderno,
			tbls.CatOrganismoId,
			tbls.NombreOrganismo,
			tbls.NomArchivoReal,
			tbls.FechaAlta,
			tbls.StatusReg,
			tbls.FechaActualizacion,
			tbls.TipoOrigen,
			tbls.CatTipoOrganismoId,
			tbls.AsuntoDocumentoId,
			tbls.GuidDocumento,
			tbls.OrigenSentencia,
		    tbls.CatAutorizacionDocumentosId,
		    tbls.pkProyectoId,
		    tbls.fFechaPublicacionSentencia,
		    CumpleReglasVersionPublica =ISNULL(svp.CumpleReglaSVP,0),
			tbls.TemaDelAsuntoProyecto,
		    tbls.ProcesoFirmadoDesdeSise2,
			sSintesis as SintesisCaptura,
			TitularIdProyecto,
			iTipoSentenciaId,			
			NombreArchivoLF = (SELECT sNombreArchivoReal  FROM [SISE3].[REL_SentenciasArchivoLecturaFacil]   WHERE AsuntoDocumentoId = tbls.AsuntoDocumentoId AND AsuntoNeunId = tbls.AsuntoNeunId AND iStatusReg = 1),
			LecturaFacil  = CASE WHEN ISNULL(tbls.LecturaFacil,0) = 0 THEN 0 ELSE tbls.LecturaFacil END ,                  
			NumTotalNotificaciones = (SELECT totalRegistros FROM [SISE3].[fnTableroDetalleTipoNotificacionPartes](tbls.AsuntoNeunId, tbls.SintesisOrden, tbls.NumeroOrden, tbls.CatTipoOrganismoId)),
			tbls.FirmadoOficio,
			YearPromocion =(SELECT DISTINCT ISNULL(MAX(YearPromocion),0) FROM Promociones WHERE AsuntoNeunId = tbls.AsuntoNeunId AND CatOrganismoId = tbls.CatOrganismoId  AND StatusReg>0 )
		 FROM 
			[SISE3].[fnTableroSentencias](@pi_CatOrganismoId, @pi_FechaPublicacionIni, @pi_FechaPublicacionFin, NULL, '3', NULL) tbls
			LEFT JOIN (SELECT * FROM [SISE3].[fnSentenciasVersionesPublicas](@pi_CatOrganismoId)) svp ON
			svp.AsuntoNeunId=tbls.AsuntoNeunId AND svp.SintesisOrden=tbls.SintesisOrden AND svp.NumeroOrden=tbls.NumeroOrden
			 WHERE tbls.CatTipoAsuntoId = 1
        ORDER BY tbls.EstadoSentenciaId
		        ,tbls.FechaSentenciaVersionPublica
				,tbls.FechaAuto
				,tbls.fFechaAprobacionProyecto DESC  

    END TRY
    BEGIN CATCH
       SELECT 
			@ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),                 
            @ErrorState =ERROR_STATE();

		RAISERROR (@ErrorMessage,@ErrorSeverity,@ErrorState);
    END CATCH
END
