USE [SISE_NEW]
GO
/****** Object:  StoredProcedure [SISE3].[pcObtenerDetalleAudienciaAlzada]    Script Date: 29/11/2024 06:22:16 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ==========================================================================================
-- Author:		Isidro Neri Silva
-- Create date: 21/11/2024
-- Description:	Obtiene el detalle de la audiencoa de alzada
-- Ejemplo: Exec [SISE3].[pcObtenerDetalleAudienciaAlzada] 203142 
-- ==========================================================================================
ALTER PROCEDURE [SISE3].[pcObtenerDetalleAudienciaAlzada]
@pi_IdInformacionGeneral bigint
AS
BEGIN
DECLARE 
		@ErrorMessage NVARCHAR(4000),
		@ErrorSeverity INT,
		@ErrorState INT;

			BEGIN TRY 

	   SELECT 
    iga.fkIdAsuntoNeun,
	iga.idInformacionGeneralAudiencia,
    iga.AsuntoAlias,
    iga.idAudiencia,
    iga.fkIdTipoAudiencia,
    iga.sDescripcionAudiencia,
    iga.fechaInicio,
    iga.fechaFin,
    iga.idSala,
	sala.iNumeroSala,
    ts.sDescripcionTipoSala AS descripcionSala,
	ts.iIdTipoSala,
	ts.sDescripcionTipoSala,
    iga.bEsPrivada,
    iga.idEstatusAudiencia,
    ea.descripcionEstatusAudiencia,
	CASE WHEN iga.bEsPrivada = 1 THEN 'Privada' WHEN iga.bEsPrivada = 0 THEN 'Pública' END	AS PrivadaPublica,
	CAST(FORMAT(iga.fechaInicio, 'HH:mm:ss') AS VARCHAR(8)) AS horaInicio,
	CAST(FORMAT(iga.fechaFin, 'HH:mm:ss') AS VARCHAR(8)) AS horaFin,
    iga.respuestaOtis,
    iga.fechaModificacion,
    iga.fkCatOrganismoId,
    co.NombreOficial,
    a.CatTipoAsuntoId,
    tp.Descripcion AS descripcionAsunto,
    ce.USERNAME AS Agendo
FROM 
    InformacionGeneralAudiencia AS iga
INNER JOIN 
    Asuntos a WITH (NOLOCK)
    ON iga.fkIdAsuntoNeun = a.AsuntoNeunId
INNER JOIN 
    CatEmpleados ce WITH (NOLOCK)
    ON a.EmpleadoId = ce.EmpleadoId
INNER JOIN 
    CatSalas sala WITH (NOLOCK)
    ON sala.idSala = iga.idSala
INNER JOIN 
    TAU_Cat_TipoSala ts WITH (NOLOCK)
    ON ts.iIdTipoSala = sala.fiIdTipoSala
INNER JOIN 
    CatOrganismos co WITH (NOLOCK)
    ON co.CatOrganismoId = a.CatOrganismoId
INNER JOIN 
    CatTiposAsunto tp WITH (NOLOCK)
    ON a.CatTipoAsuntoId = tp.CatTipoAsuntoId
INNER JOIN 
    CatEstatusAudiencia ea WITH (NOLOCK)
    ON ea.idEstatusAudiencia = iga.idEstatusAudiencia
WHERE 
    iga.idInformacionGeneralAudiencia = @pi_IdInformacionGeneral

END TRY
	BEGIN CATCH
		SELECT 
			@ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),                 
            @ErrorState =ERROR_STATE();

		RAISERROR (@ErrorMessage,@ErrorSeverity,@ErrorState);
	END CATCH
END