SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================= 
-- Autor: Isidro Neri Silva Gtz
-- Fecha de Creación: 5 de Diciembre 2024
-- Descripción: Actualiza el estado e inserion de registros de audiencia en AsuntosDetalleFechas y PersonasAsuntosDetalleFechas
-- Ejemplo : EXEC [SISE3].[piInsertarDetallesFechasAgendaActualiza] 36069534, 9173280, 1
-- Basado en SPs -- [SISE3].[piInsertarDetallesFechasAgenda] -- [SISE3].[paActualizarResultadoAudiencia]
-- Ajuste para asignar NoBloque de forma dinámica 181224 - INSG
-- Se agrega validación de TipoAuntoId 23903 y 23904 para fechaAcuerdoSolicitud fechaAudienciaSolicitud, 
-- corrige borrado lógico y asignación de noBloque en causa penal- 14/01/25 - INSG
-- Modificación AGA 12062025 : Se realiza ajuste para obtener los AsuntoDetalleFechasId correctos para dar de baja al actualizar el estatus de audiencias
-- ============================================= 
ALTER PROCEDURE [SISE3].[piInsertarDetallesFechasAgendaActualiza]
(
    @pi_CatOrganismoId INT,
	@pi_AsuntoNeunId BIGINT,
	@pi_TipoAsuntoId INT,
	@pi_AudienciaId INT,	
	@pi_Empleado INT,
	@pi_ValorCampoAsunto DATETIME,
	@pi_SecretarioId INT = NULL,
	@pi_PersonaId NVARCHAR(MAX),
	@pi_ControlFecha int,
	@pi_ControlHora int,
	@pi_IdResultado int,
	@pi_IdAgenda int
)
AS
BEGIN
    BEGIN TRY	

	  BEGIN TRAN
		
		DECLARE @ConsecutivoADF INT

		CREATE TABLE #PersonasTemp (PersonaId INT);
        INSERT INTO #PersonasTemp (PersonaId) SELECT value FROM OPENJSON(@pi_PersonaId);


		DECLARE @CatTipoOrganismoId INT = (SELECT CatTipoOrganismoId  
										   FROM [SISE_NEW].[dbo].[CatOrganismos] WITH(NOLOCK) 
										   WHERE CatOrganismoId = @pi_CatOrganismoId)
		
		DECLARE @MaxAsuntoDetalleFechaId INT = (SELECT ISNULL(MAX([AsuntoDetalleFechasId]),0) 
												FROM [AsuntosDetalleFechas] WITH(NOLOCK) 
												WHERE [AsuntoNeunId] = @pi_AsuntoNeunId)
					
		DECLARE @CatTipoAsuntoId INT = (SELECT CatTipoAsuntoId 
										FROM Asuntos WITH(NOLOCK) 
										WHERE AsuntoNeunId = @pi_AsuntoNeunId AND StatusReg = 1)	
	

		DECLARE @AsuntoId INT = (SELECT A.AsuntoId 
								 FROM [SISE_NEW].[dbo].[Asuntos] A WITH(NOLOCK) 
								 WHERE A.CatOrganismoId = @pi_CatOrganismoId
								 AND A.CatTipoAsuntoId = @CatTipoAsuntoId 
								 AND A.AsuntoNeunId = @pi_AsuntoNeunId 
								 AND StatusReg = 1)
		
		DECLARE @CtivoNoBloquePabre INT = (SELECT TOP(1) NoBloquePadre 
											FROM AsuntosDetalleFechas
											WHERE AsuntoNeunId = @pi_AsuntoNeunId 
											ORDER BY AsuntoDetalleFechasId DESC)


		-- INSG - Ajuste para asignar el NoBloque 18/12/24

		CREATE TABLE #TiposAsuntoTemp (ValorId INT);
        INSERT INTO #TiposAsuntoTemp (ValorId)
		SELECT 
			Valor
		FROM (
			SELECT 
				cat.IdTipoAudiencia AS IdTipoAudiencia,
				FAud,
				HAud,
				FDif,
				HDif
			FROM AUD_CatTipoAudiencia cat WITH (NOLOCK)
			INNER JOIN AUD_TipoAudienciaPorAsunto rel WITH (NOLOCK) ON cat.IdTipoAudiencia = rel.IdTipoAudiencia 
			INNER JOIN CatOrganismos catOrg WITH (NOLOCK) ON catOrg.CatTipoOrganismoId = rel.CatTipoOrganismoId
			WHERE rel.IdTipoAsunto = @pi_TipoAsuntoId
			  AND cat.IdTipoAgenda = 1
			  AND catOrg.CatOrganismoId = @pi_CatOrganismoId
			  AND rel.Activo = 1
			  AND cat.IdTipoAudiencia = @pi_AudienciaId
		) AS SourceTable
		UNPIVOT
		(
			Valor FOR Columna IN (FAud, HAud, FDif, HDif)
		) AS UnpivotedTable;


		DECLARE @iNoBloque INT;

		SET @iNoBloque = ISNULL((SELECT TOP(1) NoBloque 
								 FROM AsuntosDetalleFechas 
								 WHERE AsuntoNeunId = @pi_AsuntoNeunId AND StatusReg = 1
								 ORDER BY AsuntoDetalleFechasId DESC), 0);
								 
		IF EXISTS (
				SELECT 1
				FROM (
						SELECT TOP(1) TipoAsuntoId FROM AsuntosDetalleFechas 
						WHERE AsuntoNeunId = @pi_AsuntoNeunId AND StatusReg = 1
						ORDER BY AsuntoDetalleFechasId DESC) AS UltimoTipoAsunto
				WHERE TipoAsuntoId IN (23903, 23904) -- 14/01/25 - INSG
				OR TipoAsuntoId IN (SELECT ValorId FROM #TiposAsuntoTemp) 
		)
		BEGIN
			SET @iNoBloque = @iNoBloque + 1;
		END;

		IF @iNoBloque = 0
		BEGIN
			SET @iNoBloque = 1;
		END;
		-- INSG - FIN DE Ajuste para asignar el NoBloque 18/12/24
			   

		--SE OBTIENEN LOS TIPOASUNTOID DE AUD_AsuntosDetalleFechas FILTRANDO POR @pi_AsuntoNeunId Y @pi_IdAgenda
		--PARA OBTENER LOS TIPOASUNTOID A DAR DE BAJA
		
		CREATE TABLE #DetalleAUDFechasIdTemp (TipoAsuntoId INT);
		INSERT INTO #DetalleAUDFechasIdTemp (TipoAsuntoId)

		SELECT v.TipoAsuntoId
		FROM [AUD_AsuntosDetalleFechas] AS aud
		CROSS APPLY (VALUES (aud.ControlFecha), (aud.ControlHora)) AS v(TipoAsuntoId)
		WHERE aud.AsuntoNeunId = @pi_AsuntoNeunId
		AND aud.AgendaId = @pi_IdAgenda

		--SE REALIZA FILTRO DEL RESULTADO DE #DetalleAUDFechasIdTemp PARA OBTNER LOS AsuntoDetalleFechasId A DAR DE BAJA
		CREATE TABLE #DetalleFechasIdTemporal (AsuntoDetalleFechasId INT);
		INSERT INTO #DetalleFechasIdTemporal (AsuntoDetalleFechasId)
		
		SELECT AsuntoDetalleFechasId
		FROM AsuntosDetalleFechas
		WHERE AsuntoNeunId = @pi_AsuntoNeunId
		AND TipoAsuntoId NOT IN (SELECT TipoAsuntoId FROM #DetalleAUDFechasIdTemp 
																		UNION ALL SELECT 23903  -- 14/01/25 - INSG
																		UNION ALL SELECT 23904  -- 14/01/25 - INSG
																		)
		AND StatusReg = 1
		AND NoCaptura = 0
		ORDER BY AsuntoDetalleFechasId DESC;


		--SE REALIZA LA BAJA DE LOS AsuntoDetalleFechasId PARA ACTUALIZAR AL NUEVO ESTADO DE AUDIENCIA
		UPDATE AsuntosDetalleFechas
			SET StatusReg = 0,
			FechaBaja = GETDATE()
		WHERE AsuntoDetalleFechasId IN( SELECT * FROM #DetalleFechasIdTemporal)
		AND AsuntoNeunId = @pi_AsuntoNeunId


		CREATE TABLE #PersonasDetalleFechasIdTemporal (PersonaAsuntoDetallesFechasId BIGINT);
		INSERT INTO #PersonasDetalleFechasIdTemporal (PersonaAsuntoDetallesFechasId)

		SELECT padf.PersonaAsuntoDetallesFechasId
		FROM PersonasAsuntosDetalleFechas padf
		INNER JOIN #DetalleFechasIdTemporal dft	ON padf.AsuntoDetalleFechasId = dft.AsuntoDetalleFechasId
		WHERE padf.AsuntoNeunId = @pi_AsuntoNeunId;


		UPDATE PersonasAsuntosDetalleFechas
			SET StatusReg = 0,
			FechaBaja = GETDATE()
		WHERE PersonaAsuntoDetallesFechasId IN (SELECT * FROM #PersonasDetalleFechasIdTemporal)
		AND AsuntoNeunId = @pi_AsuntoNeunId



		----SE ACTUALIZA EL ResultadoId en AUD_AsuntosDetalleFechas
		UPDATE AUD_AsuntosDetalleFechas
			SET ResultadoId = @pi_IdResultado
		WHERE AsuntoNeunId = @pi_AsuntoNeunId 
		AND AgendaId = @pi_IdAgenda;


		IF @pi_IdResultado <> 0
			BEGIN
				CREATE TABLE #TblAsuntoDetalleFechas_Type (TipoAsunto INT, ValorCampoAsunto DATETIME, NoCaptura INT, NoBloque INT, NoBloquePadre INT, Consecutivo INT, FAud INT, Haud INT)
        
				IF @pi_ControlFecha IS NOT NULL
					SET @ConsecutivoADF = 1;
		
				INSERT INTO #TblAsuntoDetalleFechas_Type VALUES(@pi_ControlFecha,CONVERT(DATE,@pi_ValorCampoAsunto,103),0,@iNoBloque,@CtivoNoBloquePabre,@ConsecutivoADF,@pi_ControlFecha,@pi_ControlHora)
		
				IF @pi_ControlHora  IS NOT NULL
					SET @ConsecutivoADF = 2;

				INSERT INTO #TblAsuntoDetalleFechas_Type VALUES(@pi_ControlHora,@pi_ValorCampoAsunto,0,@iNoBloque,@CtivoNoBloquePabre,@ConsecutivoADF,@pi_ControlFecha,@pi_ControlHora)
 
				CREATE TABLE #NuevosValoresAudiencia (AsuntoNeunId INT, AsuntoId INT, AsuntoDetalleFechasId INT, TipoAsuntoId INT, ValorCampoAsunto DATETIME, NoCaptura INT, NoBloque INT, NoBloquePadre INT, Consecutivo INT, EmpleadoId INT, CatOrganismoId INT, TFAuh INT, THAud INT)

				INSERT INTO #NuevosValoresAudiencia
				SELECT  @pi_AsuntoNeunId AsuntoNeunId
					, @AsuntoId AsuntoId
					, (ROW_NUMBER ()OVER (ORDER BY @AsuntoId ASC) ) + @MaxAsuntoDetalleFechaId AsuntoDetalleFechasId
					, adf.TipoAsunto
					, adf.ValorCampoAsunto
					, adf.NoCaptura
					, adf.NoBloque
					, adf.NoBloquePadre
					, adf.Consecutivo
					, @pi_Empleado as EmpleadoId
					, @pi_CatOrganismoId as CatOrganismoId
					, adf.FAud
					, adf.Haud
				FROM #TblAsuntoDetalleFechas_Type adf 
				ORDER BY adf.Consecutivo

				--INSERT AsuntosDetalleFechas
				INSERT INTO AsuntosDetalleFechas WITH (ROWLOCK)(AsuntoNeunId, AsuntoId, AsuntoDetalleFechasId, TipoAsuntoId, ValorCampoAsunto, NoCaptura, NoBloque, NoBloquePadre, Consecutivo, EmpleadoId)
				SELECT AsuntoNeunId, AsuntoId, AsuntoDetalleFechasId, TipoAsuntoId, ValorCampoAsunto, NoCaptura, NoBloque, NoBloquePadre, Consecutivo, EmpleadoId 
				FROM #NuevosValoresAudiencia
	
				----GUARDADO DE PARTES
				INSERT INTO PersonasAsuntosDetalleFechas WITH (ROWLOCK)
				(AsuntoNeunId ,AsuntoID ,AsuntoDetalleFechasId ,PersonaId ,FechaAlta ,StatusReg, EmpleadoId)
				SELECT adf.AsuntoNeunId 
				    , adf.AsuntoId 
				    , adf.AsuntoDetalleFechasId
				    , pt.PersonaId
				    , GETDATE() FechaAlta
				    , 1 StatusReg
					, @pi_Empleado EmpleadoId
				FROM #NuevosValoresAudiencia adf WITH(NOLOCK)
				CROSS JOIN #PersonasTemp pt;
			END;

		COMMIT TRAN
		
		
		IF OBJECT_ID(N'tempdb..#NuevosValoresAudiencia', N'U') IS NOT NULL DROP TABLE #NuevosValoresAudiencia;
		IF OBJECT_ID(N'tempdb..#TblAsuntoDetalleFechas_Type', N'U') IS NOT NULL DROP TABLE #TblAsuntoDetalleFechas_Type;
		IF OBJECT_ID(N'tempdb..#PersonasTemp', N'U') IS NOT NULL DROP TABLE #PersonasTemp;
		IF OBJECT_ID(N'tempdb..#DetalleFechasIdTemporal', N'U') IS NOT NULL DROP TABLE #DetalleFechasIdTemporal;
		IF OBJECT_ID(N'tempdb..#TiposAsuntoTemp', N'U') IS NOT NULL DROP TABLE #TiposAsuntoTemp;
		IF OBJECT_ID(N'tempdb..#DetalleAUDFechasIdTemp', N'U') IS NOT NULL DROP TABLE #DetalleAUDFechasIdTemp;
		

		IF @pi_IdResultado = 0
			BEGIN

				SELECT 
					0 AS IdResultado,
					'Sin Resultado' AS Descripcion,
					@pi_IdAgenda AS IdAgenda;
			END
		ELSE
			BEGIN
				SELECT 
					ADF.ResultadoId AS IdResultado,
					CatResult.Descripcion,
					CONVERT(INT, ADF.AgendaId) AS IdAgenda
				FROM [AUD_AsuntosDetalleFechas] ADF WITH (NOLOCK)
				INNER JOIN AUD_CatResultado CatResult WITH (NOLOCK) ON CatResult.IdResultado = ADF.ResultadoId
				WHERE ADF.AgendaId = @pi_IdAgenda AND ADF.ResultadoId = @pi_IdResultado;
		END;

	END TRY

    BEGIN CATCH

		IF OBJECT_ID(N'tempdb..#NuevosValoresAudiencia', N'U') IS NOT NULL DROP TABLE #NuevosValoresAudiencia;
		IF OBJECT_ID(N'tempdb..#TblAsuntoDetalleFechas_Type', N'U') IS NOT NULL DROP TABLE #TblAsuntoDetalleFechas_Type;
		IF OBJECT_ID(N'tempdb..#PersonasTemp', N'U') IS NOT NULL DROP TABLE #PersonasTemp;
		IF OBJECT_ID(N'tempdb..#DetalleFechasIdTemporal', N'U') IS NOT NULL DROP TABLE #DetalleFechasIdTemporal;
		IF OBJECT_ID(N'tempdb..#TiposAsuntoTemp', N'U') IS NOT NULL DROP TABLE #TiposAsuntoTemp;
		IF OBJECT_ID(N'tempdb..#DetalleAUDFechasIdTemp', N'U') IS NOT NULL DROP TABLE #DetalleAUDFechasIdTemp;

		ROLLBACK TRAN
        EXECUTE dbo.usp_GetErrorInfo;
    END CATCH;
END;