USE [SISE_NEW]
GO
/****** Object:  StoredProcedure [SISE3].[pcConsultarInformacionGeneralAudiencia]    Script Date: 23/09/2024 06:59:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ==========================================================================================
-- Author:		Isidro Neri Silva
-- Create date: 09/09/2024
-- Description:	Obtiene la lista de audiencias por asunto neun id
-- Ejemplo de Ejecución: EXEC [SISE3].[pcConsultarInformacionGeneralAudiencia] 36068234
--						 EXEC [SISE3].[pcConsultarInformacionGeneralAudiencia] 36068234, 202825
-- ==========================================================================================
CREATE PROCEDURE [SISE3].[pcConsultarInformacionGeneralAudiencia]
    @pi_fkIdAsuntoNeun BIGINT,
    @pi_idInformacionGeneralAudiencia BIGINT = NULL
AS
BEGIN
    DECLARE 
        @ErrorMessage NVARCHAR(4000),
        @ErrorSeverity INT,
        @ErrorState INT;

    BEGIN TRY
       IF @pi_idInformacionGeneralAudiencia IS NULL OR @pi_idInformacionGeneralAudiencia = 0
  BEGIN
    SELECT
      iga.idInformacionGeneralAudiencia
     ,iga.idSala
     ,iga.fkIdAsuntoNeun
     ,iga.idAudiencia
     ,iga.fkIdTipoAudiencia
	 ,cta.sTipoAudiencia
     ,iga.idEstatusAudiencia
	 ,cea.descripcionEstatusAudiencia
     ,iga.fechaInicio
     ,iga.fechaFin
     ,iga.idUsuarioAlta
	 ,iga.bEsPrivada
	 ,iga.bDiferida
	 ,CONCAT (ce.Nombre, ' ', ce.ApellidoPaterno, ' ', ce.ApellidoMaterno) AS Nombre
	 ,ce.UserName
     ,iga.respuestaOtis
    FROM
      InformacionGeneralAudiencia iga with(nolock)
      left join CatEstatusAudiencia cea with(nolock) on iga.idEstatusAudiencia = cea.idEstatusAudiencia
	  left join [dbo].[SISE_CAT_TipoAudiencia] cta with(nolock) on iga.fkIdTipoAudiencia = cta.kIdTipoAudiencia
	  left join CatEmpleados ce with(nolock) on iga.idUsuarioAlta = ce.EmpleadoId
    WHERE
      iga.fkIdAsuntoNeun = @pi_fkIdAsuntoNeun
  END
ELSE
  BEGIN
    SELECT
      iga.idInformacionGeneralAudiencia
     ,iga.idSala
     ,iga.fkIdAsuntoNeun
     ,iga.idAudiencia
     ,iga.fkIdTipoAudiencia
	 ,cta.sTipoAudiencia
     ,iga.idEstatusAudiencia
	 ,cea.descripcionEstatusAudiencia
     ,iga.fechaInicio
     ,iga.fechaFin
     ,iga.idUsuarioAlta
	 ,iga.bEsPrivada
	 ,iga.bDiferida
	 ,CONCAT (ce.Nombre, ' ', ce.ApellidoPaterno, ' ', ce.ApellidoMaterno) AS Nombre
	 ,ce.UserName
     ,iga.respuestaOtis
    FROM
      InformacionGeneralAudiencia iga with(nolock)
      left join CatEstatusAudiencia cea with(nolock) on iga.idEstatusAudiencia = cea.idEstatusAudiencia
	  left join [dbo].[SISE_CAT_TipoAudiencia]  cta with(nolock)  on iga.fkIdTipoAudiencia = cta.kIdTipoAudiencia
	  left join CatEmpleados ce with(nolock) on iga.idUsuarioAlta = ce.EmpleadoId
    WHERE
      iga.idInformacionGeneralAudiencia = @pi_idInformacionGeneralAudiencia
  END
    END TRY
    BEGIN CATCH
        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),                 
            @ErrorState = ERROR_STATE();

        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
