USE [SISE_NEW]
GO
/****** Object:  StoredProcedure [SISE3].[pcReportes]    Script Date: 26/02/2025 11:21:20 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ==========================================================================================
-- Author:		Erick Garcia de la Rosa
-- Create date: 17/01/2025
-- Description:	Permite obtener la informacion de los reportes
-- ==========================================================================================
ALTER PROCEDURE [SISE3].[pcReportes]
	@pc_CatTipoOrganismoId INT
AS
BEGIN
	DECLARE @ErrorMessage NVARCHAR(4000)
		   ,@ErrorSeverity INT
		   ,@ErrorState INT

	BEGIN TRY

		SELECT 
			IdReporte,
			sNombre,
			sDescripcion,
			bActivo,
			(CASE WHEN bActivo=1 THEN 'Activo' ELSE 'Inactivo' END) Activo,
			CatTipoAsuntoId
		FROM SISE3.Reportes
		WHERE CatTipoOrganismoId=@pc_CatTipoOrganismoId AND bActivo=1;
	
	END TRY
	BEGIN CATCH
		SELECT
			@ErrorMessage = ERROR_MESSAGE()
		   ,@ErrorSeverity = ERROR_SEVERITY()
		   ,@ErrorState = ERROR_STATE();

		RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
	END CATCH
END