SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ==========================================================================================
-- Author:		Isidro Neri Silva
-- Create date: 27/08/2024
-- Description:	Consulta los empleados por organismo que no tiene el área especifica
-- Cambios: 17/12/2024 - Se agrega condición de StatusReg=1
-- ==========================================================================================
ALTER PROCEDURE [SISE3].[pcConsultaEmpleadosSinArea]
	@pi_IdOrganismo INT,
	@pi_IdArea INT
AS
BEGIN
DECLARE 
		@ErrorMessage NVARCHAR(4000),
		@ErrorSeverity INT,
		@ErrorState INT;

	BEGIN TRY
		SELECT DISTINCT
			E.EmpleadoId,
			CONCAT(E.Nombre, ' ', E.ApellidoPaterno, ' ', E.ApellidoMaterno) AS NombreCompleto,
			(SELECT 
			STUFF((SELECT ', ' + t.sNombreRol FROM 
			(
				SELECT 
					EMP.EmpleadoId,
					RS.sNombreRol
				FROM CatEmpleados EMP
				INNER JOIN SISE3.REL_RolEmpleadoXOrganismo REOS WITH(NOLOCK) ON REOS.IdCatEmpleado = EMP.EmpleadoId
				INNER JOIN SISE3.CatRol RS ON RS.IdRol=REOS.IdRol
				WHERE REOS.IdOrganismo=@pi_IdOrganismo 
				AND EMP.StatusRegistro=1 
				AND EMP.EmpleadoId=E.EmpleadoId 
				AND REOS.bStatus=1
				AND REOS.IdRol IS NOT NULL
			) t
			FOR XML PATH(''), TYPE).value('.[1]', 'nvarchar(4000)'), 1, 1, '')) AS PuestoDescripcion
		FROM CatEmpleados E
		INNER JOIN SISE3.REL_RolEmpleadoXOrganismo REO WITH(NOLOCK) ON REO.IdCatEmpleado = E.EmpleadoId
		INNER JOIN Areas a ON a.CatOrganismoId = REO.IdOrganismo
		WHERE REO.IdOrganismo=@pi_IdOrganismo 
		AND E.StatusRegistro=1
		AND REO.IdRol IS NOT NULL
		AND NOT EXISTS(
		SELECT 1
		FROM AreasEmpleados ae 
		WHERE ae.EmpleadoId = E.EmpleadoId
		AND ae.AreaId = @pi_IdArea AND ae.StatusReg=1
		)
		AND (SELECT 
                STUFF(
                    (SELECT ', ' + t.sNombreRol 
                     FROM (
                        SELECT 
                            EMP.EmpleadoId,
                            RS.sNombreRol
                        FROM CatEmpleados EMP
                        INNER JOIN SISE3.REL_RolEmpleadoXOrganismo REOS WITH(NOLOCK) ON REOS.IdCatEmpleado = EMP.EmpleadoId
                        INNER JOIN SISE3.CatRol RS ON RS.IdRol = REOS.IdRol
                        WHERE REOS.IdOrganismo = @pi_IdOrganismo 
                        AND EMP.StatusRegistro = 1 
                        AND EMP.EmpleadoId = E.EmpleadoId 
                        AND REOS.bStatus = 1
                        AND REOS.IdRol IS NOT NULL
                    ) t
                    FOR XML PATH(''), TYPE
                ).value('.[1]', 'nvarchar(4000)'), 1, 1, ''
                )
            ) IS NOT NULL
		ORDER BY NombreCompleto;
	END TRY
	BEGIN CATCH
		SELECT 
			@ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),                 
            @ErrorState =ERROR_STATE();

		RAISERROR (@ErrorMessage,@ErrorSeverity,@ErrorState);
	END CATCH
END