USE [SISE_NEW]
GO
/****** Object:  StoredProcedure [SISE3].[pcConsultaDelitosImputados]    Script Date: 19/09/2024 05:54:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ==========================================================================================
-- Author:		Isidro Neri Silva
-- Create date: 12/09/2024
-- Description:	Obtiene los imputados de la audiencia
--Ejemplo: exec [SISE3].[pcConsultaDelitosImputados] 36068136
-- ==========================================================================================
CREATE PROCEDURE [SISE3].[pcConsultaDelitosImputados]
(
@pi_fkIdAsuntoNeun BIGINT
)
AS
BEGIN
DECLARE 
@ErrorMessage NVARCHAR(4000),
@ErrorSeverity INT,
@ErrorState INT

			BEGIN TRY 

			
			DECLARE  @tblImputados  TABLE (Idimputado INT,Nombre VARCHAR(600),  Caracter VARCHAR(250), Sexo int,Alias VARCHAR(250),sCorreo VARCHAR(500), CatCaracterPersonaAsuntoId INT)

					insert into @tblImputados(Idimputado,Nombre, Caracter, Sexo, Alias, sCorreo, CatCaracterPersonaAsuntoId)
						exec [SISE3].[pcConsultarImputadosParticipantes] @pi_fkIdAsuntoNeun 

				select 
					   adc.AsuntosNeunId as NeunId,
					   p.PersonaId  AS Idimputado,
					   v.KS as DelitoId,
				       v.DESCRIPCION AS Delito
				from  AsuntosDetalleCatalogos adc WITH(NOLOCK)
				INNER JOIN PersonasAsuntosDetalleCatalogos p WITH(NOLOCK) on adc.AsuntosNeunId=p.AsuntoNeunId  and adc.AsuntoDetalleCatalogosId=p.AsuntoDetalleCatalogosId
				INNER JOIN vicatalogos v on adc.CatCatalogoAsuntoId=v.id
				INNER JOIN @tblImputados t on p.PersonaId=Idimputado
				where TipoAsuntoId in ( 
				select TipoAsuntoId from TiposAsunto 
				where  
					 StatusReg=1  
				AND Padre IN (11993, 15035, 15036, 15918, 15779, 15578)												  
			    AND Catalogo IS NOT null
				AND  CatTipoAsuntoId=74  
				AND  Catalogo=48				
				) 
				AND adc.AsuntosNeunId = @pi_fkIdAsuntoNeun 
				AND adc.StatusReg = 1
				AND p.StatusReg=1 
				AND p.FechaBaja IS NULL
				AND v.Catalogo=48
				group by adc.AsuntosNeunId,
					   p.PersonaId,
					   t.Nombre,
					   v.KS,
				       v.DESCRIPCION,
					   p.PersonaAsuntoDetalleCatalogoId,
				       p.AsuntoDetalleCatalogosId,
					   adc.CatCatalogoAsuntoId,
					   t.CatCaracterPersonaAsuntoId,
					   t.Caracter
					   
			END TRY

			BEGIN CATCH
              ROLLBACK TRAN TransaccionI
			  
			   SELECT 
					  @ErrorMessage = ERROR_MESSAGE(),
                      @ErrorSeverity = ERROR_SEVERITY(),                 
                      @ErrorState =ERROR_STATE();

			 RAISERROR (@ErrorMessage,@ErrorSeverity,@ErrorState);

			END CATCH
END;