SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ==========================================================================================
-- Author:		Isidro Neri Silva
-- Create date: 25/06/2024
-- Description:	Obtiene la lista de roles que hay el catalogo
-- Cambios: Erick Garcia - 09/01/2025 - Se agrega ordenamiento por nombre
-- ==========================================================================================
ALTER PROCEDURE [SISE3].[pcConsultarRoles]
AS
BEGIN
DECLARE 
		@ErrorMessage NVARCHAR(4000),
		@ErrorSeverity INT,
		@ErrorState INT;

	BEGIN TRY
    SELECT cr.IdRol,
	       cr.sNombreRol,
		   cr.bEstatus,
		   cr.pInicio
	FROM SISE3.CatRol AS cr
	WHERE cr.bEstatus=1
	ORDER BY cr.sNombreRol;
	END TRY
	BEGIN CATCH
		SELECT 
			@ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),                 
            @ErrorState =ERROR_STATE();

		RAISERROR (@ErrorMessage,@ErrorSeverity,@ErrorState);
	END CATCH
END