SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ==========================================================================================
-- Author:		Isidro Neri Silva / Erick Garcia de la Rosa
-- Create date: 11/06/2024
-- Description:	Consulta los empleados
-- ==========================================================================================
ALTER PROCEDURE [SISE3].[pcConsultaEmpleados]
	@pc_IdOrganismo INT
AS
BEGIN
DECLARE 
		@ErrorMessage NVARCHAR(4000),
		@ErrorSeverity INT,
		@ErrorState INT;

	BEGIN TRY
		SELECT DISTINCT
			E.EmpleadoId,
			CONCAT(E.Nombre, ' ', E.ApellidoPaterno, ' ', E.ApellidoMaterno) AS NombreCompleto,
			(SELECT 
			STUFF((SELECT ', ' + t.sNombreRol FROM 
			(
				SELECT 
					EMP.EmpleadoId,
					RS.sNombreRol
				FROM CatEmpleados EMP
				INNER JOIN SISE3.REL_RolEmpleadoXOrganismo REOS WITH(NOLOCK) ON REOS.IdCatEmpleado = EMP.EmpleadoId
				INNER JOIN SISE3.CatRol RS ON RS.IdRol=REOS.IdRol
				WHERE REOS.IdOrganismo=@pc_IdOrganismo AND EMP.StatusRegistro=1 AND EMP.EmpleadoId=E.EmpleadoId AND REOS.bStatus=1
			) t
			FOR XML PATH(''), TYPE).value('.[1]', 'nvarchar(4000)'), 1, 1, '')) AS PuestoDescripcion
		FROM CatEmpleados E
		INNER JOIN SISE3.REL_RolEmpleadoXOrganismo REO WITH(NOLOCK) ON REO.IdCatEmpleado = E.EmpleadoId
		INNER JOIN SISE3.CatRol R ON R.IdRol=REO.IdRol
		WHERE REO.IdOrganismo=@pc_IdOrganismo AND E.StatusRegistro=1
		ORDER BY NombreCompleto;
	END TRY
	BEGIN CATCH
		SELECT 
			@ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),                 
            @ErrorState =ERROR_STATE();

		RAISERROR (@ErrorMessage,@ErrorSeverity,@ErrorState);
	END CATCH
END