USE [SISE_NEW]
GO
/****** Object:  StoredProcedure [SISE3].[pcConsultaCalendarioAudienciasAlzada]    Script Date: 28/11/2024 04:57:48 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ==========================================================================================
-- Author:		Isidro Neri Silva
-- Create date: 28/11/2024
-- Description:	Obtiene las audiencias de alzada por un rango de fechas.
-- Ejemplo de ejecución: exec [SISE3].[pcConsultaCalendarioAudienciasAlzada] '2024/01/01', '2024/09/17'
-- ==========================================================================================
CREATE PROCEDURE [SISE3].[pcConsultaCalendarioAudienciasAlzada] 
(
@pi_fechaInicio DATETIME,
@pi_fechaFin DATETIME
)
AS
BEGIN
	DECLARE @ErrorMessage NVARCHAR(4000)
		   ,@ErrorSeverity INT
		   ,@ErrorState INT

	BEGIN TRY

			SELECT
				ROW_NUMBER() OVER (ORDER BY iga.idInformacionGeneralAudiencia DESC, iga.fechaInicio DESC) AS AudienciaNum
			   ,iga.idInformacionGeneralAudiencia
			   ,iga.AsuntoAlias
			   ,iga.idAudiencia
			   ,iga.idSala
			   ,ta.Descripcion AS Audiencia
			   ,iga.sDescripcionAudiencia AS TipoAudiencia
			   ,iga.identificadorSistema
			   ,iga.fkIdAsuntoNeun
			   ,iga.fechaInicio
			   ,iga.fechaFin
			   ,iga.idEstatusAudiencia
			   ,cea.descripcionEstatusAudiencia
			   ,iga.bDiferida
			   ,CAST(FORMAT(iga.fechaInicio, 'HH:mm:ss') AS VARCHAR(8)) AS horaInicio
			   ,CAST(FORMAT(iga.fechaFin, 'HH:mm:ss') AS VARCHAR(8)) AS HoraFin
			   ,CASE
					WHEN EXISTS (SELECT
								1
							FROM InformacionGeneralAudiencia prev_a
							WHERE prev_a.fkIdAsuntoNeun = iga.fkIdAsuntoNeun
							AND prev_a.idEstatusAudiencia NOT IN (2, 4, 5)) THEN CAST(1 AS BIT)
					ELSE CAST(0 AS BIT)
				END AS EsActiva
			FROM InformacionGeneralAudiencia AS iga
			INNER JOIN Asuntos a
				ON iga.fkIdAsuntoNeun = a.AsuntoNeunId
			INNER JOIN CatTiposAsunto ta
				ON a.CatTipoAsuntoId = ta.CatTipoAsuntoId
			INNER JOIN CatEstatusAudiencia cea 
			   ON iga.idEstatusAudiencia = cea.idEstatusAudiencia
			WHERE iga.fkIdTipoAudiencia in (236, 267) AND CAST(iga.fechaInicio AS DATE) BETWEEN CAST(@pi_fechaInicio AS DATE) AND CAST(@pi_fechaFin AS DATE)
		
	END TRY
	BEGIN CATCH
		SELECT
			@ErrorMessage = ERROR_MESSAGE()
		   ,@ErrorSeverity = ERROR_SEVERITY()
		   ,@ErrorState = ERROR_STATE();

		RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
	END CATCH
END