USE [SISE_NEW]
GO
/****** Object:  StoredProcedure [SISE3].[pcObtenerPartesReporteAgenda]    Script Date: 22/01/2025 02:41:43 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ==========================================================================================
-- Author:		Isidro Neri Silva
-- Create date: 22/01/2025
-- Description:	Obtiene obtiene las partes de la agenda
--Ejemplo: exec [SISE3].[pcObtenerPartesReporteAgenda] '[30315014]', 180, '[9183467]'
-- ==========================================================================================
CREATE PROCEDURE [SISE3].[pcObtenerPartesReporteAgenda]
(
@pi_AsuntoNeunIds NVARCHAR(MAX),
@pi_CatOrganismoId INT,
@pi_agendaIds NVARCHAR(MAX)
)
AS
BEGIN
DECLARE 
		@ErrorMessage NVARCHAR(4000),
		@ErrorSeverity INT,
		@ErrorState INT;
BEGIN TRY
	
SELECT
 aud.AsuntoNeunId
,aud.AgendaId
,pa.PersonaId
,CASE WHEN aud.Parte = 0 THEN 'Todas las Partes' ELSE ISNULL(pa.Nombre,'') + ' ' + ISNULL(pa.APaterno,'') + ' ' + ISNULL(pa.AMaterno,'') END AS Parte
,CONVERT(INT,pa.CatTipoPersonaId) TipoPersonaIdParte
,pa.DenominacionDeAutoridad DenominacionParte
FROM [AUD_AsuntosDetalleFechas] aud WITH(NOLOCK)
INNER JOIN AsuntosDetalleFechas fecha WITH(NOLOCK) ON aud.ControlFecha=fecha.TipoAsuntoId 
			AND aud.FechaId=fecha.AsuntoDetalleFechasId 
			AND aud.AsuntoNeunId = fecha.AsuntoNeunId
			AND aud.AsuntoId = fecha.AsuntoId
LEFT JOIN PersonasAsuntosDetalleFechas pdf WITH(NOLOCK) ON fecha.AsuntoNeunId = pdf.AsuntoNeunId
			AND fecha.AsuntoDetalleFechasId = pdf.AsuntoDetalleFechasId
			AND fecha.AsuntoId = pdf.AsuntoID
			AND aud.EmpleadoId = pdf.EmpleadoId	
			AND pdf.StatusReg = 1	
		LEFT JOIN PersonasAsunto pa WITH(NOLOCK) ON pdf.PersonaId = pa.PersonaId
			AND pa.AsuntoNeunId = pdf.AsuntoNeunId
			AND pa.StatusReg = 1
WHERE 
		    aud.OrganoId=@pi_CatOrganismoId			
			AND aud.StatusReg=1	
			AND aud.AsuntoNeunId IN (SELECT value FROM OPENJSON(@pi_AsuntoNeunIds))
			AND aud.AgendaId IN (SELECT value FROM OPENJSON(@pi_agendaIds))
					   
END TRY
	BEGIN CATCH
		SELECT 
			@ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),                 
            @ErrorState =ERROR_STATE();

		RAISERROR (@ErrorMessage,@ErrorSeverity,@ErrorState);
	END CATCH
END