SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ==========================================================================================
-- Author:		Isidro Neri Silva
-- Create date: 03/07/2024
-- Description:	Inhabilita  el registro del área 
-- Cambios: 17/12/2024 - Erick Garcia, se cambia Delete por Update
-- ==========================================================================================
ALTER PROCEDURE [SISE3].[peEliminaArea](
 @pa_kAreaId INT
	)
AS
BEGIN

	DECLARE 
		@ErrorMessage NVARCHAR(4000),
		@ErrorSeverity INT,
		@ErrorState INT;

	BEGIN TRY

        UPDATE Areas SET StatusReg=0, FechaElimina=GETDATE() WHERE AreaId = @pa_kAreaId;
		SELECT TOP 1 1 AS Resultado, 'El área se ha eliminado de manera exitosa' AS Mensaje FROM SISE3.CatRol;

	END TRY
	BEGIN CATCH
		SELECT 
			@ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),                 
            @ErrorState =ERROR_STATE();

		RAISERROR (@ErrorMessage,@ErrorSeverity,@ErrorState);
	END CATCH
END