USE [SISE_NEW]
GO
/****** Object:  StoredProcedure [SISE3].[pcConsultarNoBloque]    Script Date: 11/11/2024 08:15:10 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ==========================================================================================
-- Author:		Isidro Neri Silva
-- Create date: 11/11/2024
-- Description:	Obtiene el numero de bloque para la inserción del delito
-- Ejecución: exec [SISE3].[pcConsultarNoBloque] 36068234
-- ==========================================================================================
CREATE PROCEDURE [SISE3].[pcConsultarNoBloque]
(@pi_AsuntoNeunId BIGINT)
AS
BEGIN
DECLARE 
		@ErrorMessage NVARCHAR(4000),
		@ErrorSeverity INT,
		@ErrorState INT;

	BEGIN TRY

SELECT  ISNULL(MAX(C.NoBloque), 0) + 1 as NoBloque
        FROM AsuntosDetalleCatalogos C WITH (NOLOCK)
        WHERE C.AsuntosNeunId = @pi_AsuntoNeunId AND C.TipoAsuntoId = 12000 AND StatusReg = 1;

	END TRY
	BEGIN CATCH
		SELECT 
			@ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),                 
            @ErrorState =ERROR_STATE();

		RAISERROR (@ErrorMessage,@ErrorSeverity,@ErrorState);
	END CATCH
END