SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ==========================================================================================
-- Author:		Isidro Neri Silva / Erick Garcia de la Rosa
-- Create date: 10/06/2024
-- Description:	Elimina un Integrante de la Mesa de Trabajo
-- Cambio: 17/12/2024 - Se cambia Delete por Update
-- ==========================================================================================
ALTER PROCEDURE [SISE3].[peEliminaIntegranteMesa](
    @pe_RegistroId INT
)
AS
BEGIN

	DECLARE 
		@ErrorMessage NVARCHAR(4000),
		@ErrorSeverity INT,
		@ErrorState INT;

	BEGIN TRY

		UPDATE AreasEmpleados SET StatusReg=0, FechaBaja=GETDATE() WHERE RegistroId = @pe_RegistroId;

		SELECT TOP 1 1 AS Resultado, 'Integrante eliminado de manera exitosa' AS Mensaje FROM AreasEmpleados;

	END TRY
	BEGIN CATCH
		SELECT 
			@ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),                 
            @ErrorState =ERROR_STATE();

		RAISERROR (@ErrorMessage,@ErrorSeverity,@ErrorState);
	END CATCH
END

