USE [SISE_NEW]
GO
/****** Object:  StoredProcedure [SISE3].[piInsertaPermisoPersonalizado]    Script Date: 28/03/2025 11:37:16 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ==========================================================================================
-- Author:		Erick Garcia de la Rosa
-- Create date: 27/06/2024
-- Description:	Asigna un permiso personalizado a un rol de un empleado.
-- AJUSTE -INSG - 28/03/2025 - Se agrega fecha inicio, fecha modificación y el usuario que hace el registro
-- ==========================================================================================
ALTER PROCEDURE [SISE3].[piInsertaPermisoPersonalizado]
(
    @pi_IdEmpleado INT,
	@pi_IdRol INT,
	@pi_IdOrganismo INT,
	@pi_IdPrivilegio INT,
	@pi_bDeniega_Agrega INT,
	@pi_IdUsuarioAlta INT = NULL
)
AS
BEGIN

	DECLARE 
		@ErrorMessage NVARCHAR(4000),
		@ErrorSeverity INT,
		@ErrorState INT, 
		@IdEmpleadoRol INT,
		@ExistePersonalizado INT;

	BEGIN TRY
		
		SELECT @IdEmpleadoRol=ISNULL(IdEmpleadoRol,0) FROM SISE3.REL_RolEmpleadoXOrganismo WHERE IdCatEmpleado=@pi_IdEmpleado AND 
			IdRol=@pi_IdRol AND IdOrganismo=@pi_IdOrganismo;

		SET @ExistePersonalizado = (SELECT COUNT(IdEmpleadoRol) FROM SISE3.PermisosPersonalizados WHERE IdEmpleadoRol=@IdEmpleadoRol AND IdPrivilegio=@pi_IdPrivilegio);

		IF (NOT EXISTS(SELECT IdPrivilegio FROM CatPrivilegio WHERE IdPrivilegio=@pi_IdPrivilegio))
		BEGIN
			
			RAISERROR ('No existe el privilegio',16,1);

		END
		ELSE IF (@IdEmpleadoRol=0 AND @ExistePersonalizado=0)
		BEGIN
			
			-- EL EMPLEADO NO CUENTA CON EL ROL Y EL PERMISO PERSONALIZADO
			INSERT INTO SISE3.REL_RolEmpleadoXOrganismo
				(IdRol,IdOrganismo,IdCatEmpleado,fFechaAlta,fFechaBaja,bStatus)
			VALUES
				(@pi_IdRol, @pi_IdOrganismo, @pi_IdEmpleado, GETDATE(),NULL, 1);

			SET @IdEmpleadoRol=@@IDENTITY;

			INSERT INTO SISE3.PermisosPersonalizados 
				(IdEmpleadoRol, IdPrivilegio, bDeniega_Agrega, idUsuarioAlta, fFechaAlta)
			VALUES
				(@IdEmpleadoRol, @pi_IdPrivilegio, @pi_bDeniega_Agrega, @pi_IdUsuarioAlta, GETDATE());

		END
		ELSE IF (@IdEmpleadoRol<>0 AND @ExistePersonalizado=0)
		BEGIN
			-- CUENTA CON EL PERMISO EN ROL PERO NO CON EL PERMISO PERSONALIZADO
			INSERT INTO SISE3.PermisosPersonalizados 
				(IdEmpleadoRol, IdPrivilegio, bDeniega_Agrega, idUsuarioAlta, fFechaAlta)
			VALUES
				(@IdEmpleadoRol, @pi_IdPrivilegio, @pi_bDeniega_Agrega, @pi_IdUsuarioAlta, GETDATE());

		END
		ELSE IF (@IdEmpleadoRol<>0 AND @ExistePersonalizado<>0)
		BEGIN
			-- CUENTA CON EL PERMISO EN EL ROL Y CON EL PERMISO PERSONALIZADO
			UPDATE SISE3.PermisosPersonalizados SET
				bDeniega_Agrega=@pi_bDeniega_Agrega,
				fFechaModificacion = GETDATE()
			WHERE IdEmpleadoRol= @IdEmpleadoRol AND IdPrivilegio=@pi_IdPrivilegio;

		END

		SELECT IdPermisosPersonalizados, IdEmpleadoRol, IdPrivilegio, bDeniega_Agrega FROM SISE3.PermisosPersonalizados 
		WHERE IdEmpleadoRol= @IdEmpleadoRol AND IdPrivilegio=@pi_IdPrivilegio;

	END TRY
	BEGIN CATCH
		SELECT 
			@ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),                 
            @ErrorState =ERROR_STATE();

		RAISERROR (@ErrorMessage,@ErrorSeverity,@ErrorState);
	END CATCH
END