USE [SISE_NEW]
GO
/****** Object:  StoredProcedure [SISE3].[pcConsultarParticipantesAudiencia]    Script Date: 10/10/2024 07:04:17 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ==========================================================================================
-- Author:		Isidro Neri Silva
-- Create date: 10/10/2024
-- Description:	Obtiene los participantes de la adiencia
-- Ejemplo de Ejecución [SISE3].[pcConsultarParticipantesAudiencia] 36068234, 35;
-- ==========================================================================================
ALTER PROCEDURE [SISE3].[pcConsultarParticipantesAudiencia]
(
@pi_fkIdAsuntoNeun bigint,
@pi_idAudiencia int
)
AS
BEGIN
 DECLARE 
        @ErrorMessage NVARCHAR(4000),
        @ErrorSeverity INT,
        @ErrorState INT;

    BEGIN TRY
	SELECT 
	a.identificadorAsistente, 
	a.nombreAsistente, 
	a.rolAsistente,
	a.idrolAsistente
FROM
  PersonasAudiencia  a with(nolock) 
  LEFT JOIN TAU_REL_ImputadoDefensorAudiencia b with(nolock) 
  ON a.iIdentificadorAsistemte = b.kImputadoId
  AND a.idAudiencia=b.kNumeroAudiencia AND a.fkIdAsuntoNeun=b.kNeunId
WHERE
  a.fkIdAsuntoNeun = @pi_fkIdAsuntoNeun 
  AND
  a.idAudiencia = @pi_idAudiencia
  AND a.activo=1

    END TRY
    BEGIN CATCH
        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE();

        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END