USE [SISE_NEW]
GO
/****** Object:  StoredProcedure [SISE3].[pcConsultaEmpleadosPorRol]    Script Date: 24/07/2024 03:28:22 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ==========================================================================================
-- Author:		Isidro Neri Silva
-- Create date: 18/07/2024
-- Description:	Obtiene los empleados por rol.
-- ==========================================================================================
ALTER PROCEDURE [SISE3].[pcConsultaEmpleadosPorRol]
@pc_IdRol INT,
@pc_CatOrganismoId INT
AS
BEGIN
DECLARE 
		@ErrorMessage NVARCHAR(4000),
		@ErrorSeverity INT,
		@ErrorState INT;
BEGIN TRY
SELECT DISTINCT a.EmpleadoId,
CONCAT(a.Nombre,' ', a.ApellidoPaterno,' ',a.ApellidoMaterno) as Nombre
FROM dbo.CatEmpleados AS a WITH (NOLOCK)
LEFT JOIN SISE3.REL_RolEmpleadoXOrganismo eo ON eo.IdCatEmpleado = a.EmpleadoId
LEFT JOIN SISE3.CatRol c ON eo.IdRol = c.IdRol
WHERE c.IdRol = @pc_IdRol AND eo.bStatus=1 AND eo.IdOrganismo = @pc_CatOrganismoId 
ORDER BY Nombre
END TRY
	BEGIN CATCH
		SELECT 
			@ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),                 
            @ErrorState =ERROR_STATE();

		RAISERROR (@ErrorMessage,@ErrorSeverity,@ErrorState);
	END CATCH
END