SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ==========================================================================================
-- Author:		Erick Garcia de la Rosa
-- Create date: 27/06/2024
-- Description:	Cambia estatus en un permiso personalizado de un rol de empleado.
-- ==========================================================================================
CREATE PROCEDURE [SISE3].[peEstatusPermisoPersonalizado]
(
    @pi_IdPermisosPersonalizados INT,
	@pi_bDeniega_Agrega INT
)
AS
BEGIN

	DECLARE 
		@ErrorMessage NVARCHAR(4000),
		@ErrorSeverity INT,
		@ErrorState INT;

	BEGIN TRY
		
		UPDATE SISE3.PermisosPersonalizados SET
			bDeniega_Agrega=@pi_bDeniega_Agrega
		WHERE IdPermisosPersonalizados=@pi_IdPermisosPersonalizados;

		SELECT IdPermisosPersonalizados,IdEmpleadoRol,IdPrivilegio,bDeniega_Agrega FROM SISE3.PermisosPersonalizados WHERE IdPermisosPersonalizados=@pi_IdPermisosPersonalizados;
		
	END TRY
	BEGIN CATCH
		SELECT 
			@ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),                 
            @ErrorState =ERROR_STATE();

		RAISERROR (@ErrorMessage,@ErrorSeverity,@ErrorState);
	END CATCH
END