USE [SISE_NEW]
GO
/****** Object:  StoredProcedure [SISE3].[piInsertaDetalleTexto]    Script Date: 11/11/2024 08:29:19 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ==========================================================================================
-- Author:		Isidro Neri Silva
-- Create date: 07/11/2024
-- Description:	Permite insertar en asunto detalle descripción y personas asunto detalle descripción, en referencia a los delitos.
-- ==========================================================================================
CREATE PROCEDURE [SISE3].[piInsertaDetalleTexto]
(
    @pi_AsuntoNeunId BIGINT,														
    @pi_TipoAsuntoId INT,
    @pi_Contenido VARCHAR(MAX),
    @pi_NoCaptura INT,
    @pi_NoBloque INT,
    @pi_NoBloquePadre INT,
    @pi_EmpleadoId INT,
	@pi_Consecutivo INT,
    @pi_Persona INT
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE 
        @AsuntoDetalleDescripcionId INT,
        @ErrorMessage NVARCHAR(4000),
        @ErrorSeverity INT,
        @ErrorState INT;

    BEGIN TRY
        BEGIN TRANSACTION;

        -- Calcular el nuevo AsuntoDetalleDescripcionId
        SELECT @AsuntoDetalleDescripcionId = ISNULL(MAX(AsuntoDetalleDescripcionId), 0) + 1
        FROM AsuntosDetalleDescripcion WITH (NOLOCK)
        WHERE AsuntoNeunId = @pi_AsuntoNeunId AND AsuntoID = 1;     

        -- Insertar en AsuntosDetalleDescripcion
        INSERT INTO AsuntosDetalleDescripcion WITH (ROWLOCK)  
            (AsuntoNeunId, AsuntoId, AsuntoDetalleDescripcionId, TipoAsuntoId, Contenido, NoCaptura, NoBloque, NoBloquePadre, Consecutivo, EmpleadoId)
        VALUES 
            (@pi_AsuntoNeunId, 1, @AsuntoDetalleDescripcionId, @pi_TipoAsuntoId, @pi_Contenido, @pi_NoCaptura, @pi_NoBloque, @pi_NoBloquePadre, @pi_Consecutivo, @pi_EmpleadoId);

        -- Insertar en PersonasAsuntoDetalleDescripcion para la Persona
        INSERT INTO PersonasAsuntoDetalleDescripcion WITH (ROWLOCK)  
            (AsuntoNeunId, AsuntoID, AsuntoDetalleDescripcionId, PersonaId)
        VALUES 
            (@pi_AsuntoNeunId, 1, @AsuntoDetalleDescripcionId, @pi_Persona);
           
        COMMIT TRANSACTION;
        
        -- Retornar éxito
        SELECT CAST(1 AS BIT) AS IsSuccess;

    END TRY
    BEGIN CATCH
        -- Manejo de errores y revertir la transacción si hay algún fallo
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        -- Obtener el mensaje de error
        SET @ErrorMessage = ERROR_MESSAGE();
        SET @ErrorSeverity = ERROR_SEVERITY();
        SET @ErrorState = ERROR_STATE();

        -- Lanzar el error con el mensaje completo
        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
        
        -- Retornar fallo
        SELECT CAST(0 AS BIT) AS IsSuccess;
    END CATCH;
END;