SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ==========================================================================================
-- Author:		Erick Garcia de la Rosa
-- Create date: 21/06/2024
-- Description:	Inserta el privilegio de un rol.
-- ==========================================================================================
CREATE PROCEDURE [SISE3].[piInsertaPrivilegioRol]
(
    @pi_fkIdRol INT, 
	@pi_fkIdPrivilegio INT
)
AS
BEGIN

	DECLARE 
		@ErrorMessage NVARCHAR(4000),
		@ErrorSeverity INT,
		@ErrorState INT;

	BEGIN TRY
		
		IF (NOT EXISTS(SELECT IdRol FROM SISE3.CatRol WHERE IdRol=@pi_fkIdRol))
		BEGIN
			
			RAISERROR ('El rol no existe',16,1);

		END
		ELSE IF (NOT EXISTS(SELECT IdPrivilegio FROM SISE3.CatPrivilegio WHERE IdPrivilegio=@pi_fkIdPrivilegio))
		BEGIN
			
			RAISERROR ('No existe el privilegio',16,1);

		END
		ELSE IF (EXISTS(SELECT IdRol FROM SISE3.REL_PrivilegioXRol WHERE IdRol=@pi_fkIdRol AND IdPrivilegio=@pi_fkIdPrivilegio))
		BEGIN
			
			RAISERROR ('El Rol ya cuenta con este privilegio',16,1);

		END
		ELSE
		BEGIN
			INSERT INTO SISE3.REL_PrivilegioXRol
				(IdRol, IdPrivilegio, bEstatus, fFechaAlta, fFechaBaja)
			VALUES
				(@pi_fkIdRol, @pi_fkIdPrivilegio, 1, GETDATE(), NULL);

			SELECT IdPrivilegioxRol,IdRol,IdPrivilegio,bEstatus,fFechaAlta,fFechaBaja FROM SISE3.REL_PrivilegioXRol WHERE IdPrivilegioxRol=@@IDENTITY;
		END

	END TRY
	BEGIN CATCH
		SELECT 
			@ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),                 
            @ErrorState =ERROR_STATE();

		RAISERROR (@ErrorMessage,@ErrorSeverity,@ErrorState);
	END CATCH
END