USE [SISE_NEW]
GO
/****** Object:  StoredProcedure [SISE3].[pcObtInformacionAudiencias]    Script Date: 21/10/2024 06:01:17 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ==========================================================================================
-- Author: Isidro Neri Silva
-- Create date: 03/10/2024
-- Description:	Obtiene la información de las de audiencias por asunto neun id
-- Ejemplo de Ejecución: EXEC [SISE3].[pcObtInformacionAudiencias] 36068136
-- ==========================================================================================
ALTER PROCEDURE [SISE3].[pcObtInformacionAudiencias] @pi_fkIdAsuntoNeun BIGINT
AS
BEGIN
	DECLARE @ErrorMessage NVARCHAR(4000)
		   ,@ErrorSeverity INT
		   ,@ErrorState INT
		   ,@IdInformacionGeneral BIGINT;

	BEGIN TRY
		BEGIN

			SELECT TOP 1
				@IdInformacionGeneral = idInformacionGeneralAudiencia
			FROM TAU_VIS_InformacionGeneralSinFiltros
			WHERE fkIdAsuntoNeun = @pi_fkIdAsuntoNeun
			ORDER BY idInformacionGeneralAudiencia DESC;

			SELECT
				tvigsf.idInformacionGeneralAudiencia
			   ,tvigsf.iNumeroSala
			   ,tvigsf.descripcionSala
			   ,tvigsf.iIdTipoSala
			   ,tvigsf.sDescripcionTipoSala
			   ,tvigsf.fkidSala
			   ,tvigsf.fkIdAsuntoNeun
			   ,tvigsf.idAudiencia
			   ,tvigsf.fkIdTipoAudiencia
			   ,tvigsf.sDescripcionAudiencia
			   ,tvigsf.idEstatusAudiencia
			   ,tvigsf.descripcionEstatusAudiencia
			   ,tvigsf.fechaInicio
			   ,tvigsf.fechaFin
			   ,tvigsf.idJuez
			   ,tvigsf.Juez
			   ,tvigsf.fkCatOrganismoId
			   ,tvigsf.bEsPrivada
			   ,CASE
					WHEN tvigsf.bEsPrivada = 1 THEN 'Privada'
					WHEN tvigsf.bEsPrivada = 0 THEN 'Pública'
				END AS PrivadaPublica
			   ,tvigsf.bEnviadoOralTis
			   ,tvigsf.AsuntoAlias
			   ,tvigsf.duracion
			   ,tvigsf.idAgendaSIGJP
			   ,tvigsf.rolAsistente
			   ,tvigsf.idrolAsistente
			   ,tvigsf.nuc
			   ,tvigsf.fkIdDefensorPublico
			   ,tvigsf.xmlPromedios
			   ,tvigsf.Token
			   ,tvigsf.DescripcionAsunto
			   ,tvigsf.NombreOficial
			   ,ce.UserName AS Agendo
			   ,iga.iPrioridad
			   ,CASE
					WHEN iga.iPrioridad = 0 THEN 'Baja'
					WHEN iga.iPrioridad = 1 THEN 'Alta'
				END AS Prioridad
			   ,iga.fechaAlta
			   ,ts.sDescripcionTipoSala AS DescSala
			   ,CAST(FORMAT(iga.fechaInicio, 'HH:mm:ss') AS VARCHAR(8)) AS horaInicio
			   ,CAST(FORMAT(iga.fechaFin, 'HH:mm:ss') AS VARCHAR(8)) AS HoraFin
			   ,iga.fechaModificacion AS FechaEstado
			   ,CASE
					WHEN EXISTS (SELECT
								1
							FROM InformacionGeneralAudiencia a
							WHERE a.fkIdAsuntoNeun = tvigsf.fkIdAsuntoNeun
							AND a.idInformacionGeneralAudiencia < @IdInformacionGeneral) THEN CAST(1 AS BIT)
					ELSE CAST(0 AS BIT)
				END AS EsContinuacion
			   ,ISNULL((SELECT TOP 1
						prev_a.sDescripcionAudiencia
					FROM InformacionGeneralAudiencia prev_a
					WHERE prev_a.fkIdAsuntoNeun = tvigsf.fkIdAsuntoNeun
					AND prev_a.idInformacionGeneralAudiencia < @IdInformacionGeneral
					ORDER BY prev_a.idInformacionGeneralAudiencia DESC)
				, 'No hay audiencia previa') AS AudienciaPrevia
			   ,CASE
					WHEN x.IdInformacionGeneralAudiencia IS NOT NULL THEN 'Videoconferencia'
					ELSE tvigsf.sDescripcionTipoSala
				END AS Forma
			   ,(SELECT
						STRING_AGG(ax.nombreAsistente, ', ')
					FROM PersonasAudiencia ax WITH (NOLOCK)
					LEFT JOIN TAU_REL_ImputadoDefensorAudiencia bx WITH (NOLOCK)
						ON ax.iIdentificadorAsistemte = bx.kImputadoId
						AND ax.idAudiencia = bx.kNumeroAudiencia
						AND ax.fkIdAsuntoNeun = bx.kNeunId
					WHERE bx.kImputadoId IS NOT NULL
					AND ax.fkIdAsuntoNeun = tvigsf.fkIdAsuntoNeun
					GROUP BY ax.fkIdAsuntoNeun)
				AS Imputado
			   ,(SELECT
						COUNT(*)
					FROM TAU_REL_ResolucionesAudiencia rr
					WHERE rr.fkIdInformacionGeneralAudiencia = tvigsf.idInformacionGeneralAudiencia
					AND rr.iStatusReg = 1)
				AS ResolucionAudiencia
			FROM TAU_VIS_InformacionGeneralSinFiltros tvigsf
			INNER JOIN InformacionGeneralAudiencia iga
				ON tvigsf.idInformacionGeneralAudiencia = iga.idInformacionGeneralAudiencia
			INNER JOIN Asuntos a WITH (NOLOCK)
				ON tvigsf.fkIdAsuntoNeun = a.AsuntoNeunId
			INNER JOIN CatEmpleados ce WITH (NOLOCK)
				ON a.EmpleadoId = ce.EmpleadoId
			INNER JOIN CatSalas sala WITH (NOLOCK)
				ON sala.idSala = iga.idSala
			LEFT JOIN TAU_Cat_TipoSala ts WITH (NOLOCK)
				ON ts.iIdTipoSala = sala.fiIdTipoSala
			LEFT JOIN TAU_Rel_ElementoAudiencia x WITH (NOLOCK)
				ON x.IdInformacionGeneralAudiencia = tvigsf.idInformacionGeneralAudiencia
					AND x.fkIdTipoElemento = 1
					AND x.iEstatus = 1
			WHERE tvigsf.fkIdAsuntoNeun = @pi_fkIdAsuntoNeun
			ORDER BY tvigsf.idAudiencia;
		END
	END TRY
	BEGIN CATCH
		SELECT
			@ErrorMessage = ERROR_MESSAGE()
		   ,@ErrorSeverity = ERROR_SEVERITY()
		   ,@ErrorState = ERROR_STATE();

		RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
	END CATCH
END