USE [SISE_NEW]
GO
/****** Object:  StoredProcedure [SISE3].[peEliminarPrivilegio]    Script Date: 15/08/2024 12:03:05 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ==========================================================================================
-- Author:		Isidro Neri Silva
-- Create date: 25/06/2024
-- Description:	Elimina un Privilegio del catalogo
-- ==========================================================================================
CREATE PROCEDURE [SISE3].[peEliminarPrivilegio](
    @pe_kIdPrivilegio INT
)
AS
BEGIN

	DECLARE 
		@ErrorMessage NVARCHAR(4000),
		@ErrorSeverity INT,
		@ErrorState INT;

	BEGIN TRY

        UPDATE SISE3.CatPrivilegio 
		SET bEstatus = 0
		WHERE idPrivilegio = @pe_kIdPrivilegio;

		SELECT TOP 1 1 AS Resultado, 'Privilegio eliminado de manera exitosa' AS Mensaje FROM SISE3.CatPrivilegio WHERE idPrivilegio = @pe_kIdPrivilegio;

	END TRY
	BEGIN CATCH
		SELECT 
			@ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),                 
            @ErrorState =ERROR_STATE();

		RAISERROR (@ErrorMessage,@ErrorSeverity,@ErrorState);
	END CATCH
END