USE [SISE_NEW]
GO
/****** Object:  StoredProcedure [SISE3].[pcConsultaArea]    Script Date: 12/07/2024 05:07:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ==========================================================================================
-- Author:		Isidro Neri Silva
-- Create date: 03/07/2024
-- Description:	Consultas el área por un el id
-- ==========================================================================================

CREATE PROCEDURE [SISE3].[pcConsultaArea](
    @pc_kAreaId INT
)
AS
BEGIN
DECLARE 
		@ErrorMessage NVARCHAR(4000),
		@ErrorSeverity INT,
		@ErrorState INT;

	BEGIN TRY
SELECT a.AreaId,
       a.Nombre,
	   a.Descripcion,
	   a.EmpleadoId,
	   a.AreaIdPadre,
	   a.CatOrganismoId,
	   a.UsuarioCaptura,
	   a.fkIdTipoArea,
	   CONCAT(ce.Nombre, ' ', ce.ApellidoPaterno, ' ', ce.ApellidoMaterno) AS 'ResponsableMesa'
FROM Areas AS a
LEFT JOIN CatEmpleados AS ce
            ON a.EmpleadoId = ce.EmpleadoId
WHERE a.AreaId = @pc_kAreaId
END TRY
	BEGIN CATCH
		SELECT 
			@ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),                 
            @ErrorState =ERROR_STATE();

		RAISERROR (@ErrorMessage,@ErrorSeverity,@ErrorState);
	END CATCH
END