USE [SISE_NEW]
GO
/****** Object:  StoredProcedure [SISE3].[piInsertaArea]    Script Date: 31/07/2024 11:59:03 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ==========================================================================================
-- Author:		Isidro Neri Silva
-- Create date: 21/06/2024
-- Description:	Inserta un área de trabajo
-- ==========================================================================================
CREATE PROCEDURE [SISE3].[piInsertaArea](
    @pi_Nombre NVARCHAR(50),
    @pi_Descripcion NVARCHAR(255),
    @pi_EmpleadoId INT,
    @pi_AreaIdPadre INT,
    @pi_CatOrganismoId INT,
	@pi_UsuarioCaptura INT,
    @pi_fkIdTipoArea INT
)
AS
BEGIN

	DECLARE 
		@ErrorMessage NVARCHAR(4000),
		@ErrorSeverity INT,
		@ErrorState INT;


    BEGIN TRY
        INSERT INTO 
            Areas (Nombre, Descripcion, EmpleadoId, AreaIdPadre, CatOrganismoId, FechaAlta, UsuarioCaptura, StatusReg, fkIdTipoArea)
        VALUES 
            (@pi_Nombre, @pi_Descripcion, @pi_EmpleadoId, @pi_AreaIdPadre, @pi_CatOrganismoId, GETDATE(), @pi_UsuarioCaptura, 1, @pi_fkIdTipoArea);

        SELECT * FROM Areas WHERE AreaId = SCOPE_IDENTITY();

    END TRY
    BEGIN CATCH
        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),                 
            @ErrorState = ERROR_STATE();

        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END