USE [SISE_NEW]
GO
/****** Object:  StoredProcedure [SISE3].[piInserInformacionGeneralAudiencia]    Script Date: 07/03/2025 06:31:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ==========================================================================================
-- Author:		Isidro Neri Silva
-- Create date: 07/03/2025
-- Description:	Inserta la información general de una audiencia
-- Original: [dbo].[piInformacionGeneralAudiencia]
-- ==========================================================================================
CREATE PROCEDURE [SISE3].[piInserInformacionGeneralAudiencia]
 @pi_idSala            INT
,@pi_fkIdAsuntoNeun    BIGINT
,@pi_idAudiencia       INT
,@pi_IdTipoAudiencia   INT
,@pi_fechaInicio       DATETIME
,@pi_fechaFin          DATETIME
,@pi_idUsuario         INT
,@pi_respuestaOtis     VARCHAR(50) = NULL
,@pi_descripcionAudiencia VARCHAR(500)
,@pi_IdAudienciaSIGJP  INT = 0
,@pi_infoResultado     VARCHAR(500) = NULL
,@pi_bEsPrivada        BIT = 0
,@pi_idJuez	        INT = 0
,@pi_idDefensor        INT = 0
,@pi_XmlAcuseGraficas  XML = NULL
,@pi_iPrioridad INT
WITH EXEC AS CALLER
AS
BEGIN
    BEGIN TRANSACTION;

    SET NOCOUNT ON;

    DECLARE 
        @ErrorMessage NVARCHAR(4000),
        @ErrorSeverity INT,
        @ErrorState INT,
        @NumeroAsunto VARCHAR(50),
        @IdOrgano INT = 0,
        @IdTipoJuez INT = 0,
        @prioridad SMALLINT;

    BEGIN TRY

        SET @prioridad = CASE WHEN @pi_iPrioridad = 1 THEN 0 ELSE 1 END;


        SET @pi_descripcionAudiencia = ISNULL(@pi_descripcionAudiencia, '');

        IF @pi_IdTipoAudiencia NOT IN (236, 255, 259, 260, 261)
        BEGIN
            SET @pi_descripcionAudiencia = (
                SELECT sTipoAudiencia 
                FROM SISE_CAT_TipoAudiencia WITH (NOLOCK) 
                WHERE kIdTipoAudiencia = @pi_IdTipoAudiencia
            );
        END

        SELECT 
            @NumeroAsunto = AsuntoAlias, 
            @IdOrgano = CatOrganismoId 
        FROM Asuntos WITH (NOLOCK) 
        WHERE AsuntoNeunId = @pi_fkIdAsuntoNeun;

        IF @pi_idJuez != 0
        BEGIN
            SELECT TOP 1 @IdTipoJuez = A.fkIdTipoJuez
            FROM TAU_Rel_TipoJuez A WITH (NOLOCK)  
            WHERE A.iEstatus = 1 
              AND A.fEmpleadoId = @pi_idJuez 
              AND A.fCatOrganismoId = @IdOrgano
            ORDER BY A.fFechaAlta DESC;
        END


        INSERT INTO InformacionGeneralAudiencia(
            idSala, fkIdAsuntoNeun, idAudiencia, fkIdTipoAudiencia, idEstatusAudiencia,
            fechaInicio, fechaFin, fechaAlta, idUsuarioAlta, respuestaOtis,
            sDescripcionAudiencia, idAgendaSIGJP, bEsPrivada, AsuntoAlias,
            fkCatOrganismoId, idJuez, fkIdDefensorPublico, xmlPromedios, fkIdTipoJuez, iPrioridad
        )
        VALUES (
            @pi_idSala, @pi_fkIdAsuntoNeun, @pi_idAudiencia, @pi_IdTipoAudiencia, 1,
            @pi_fechaInicio, @pi_fechaFin, GETDATE(), @pi_idUsuario, @pi_respuestaOtis,
            @pi_descripcionAudiencia, @pi_IdAudienciaSIGJP, @pi_bEsPrivada, @NumeroAsunto,
            @IdOrgano, @pi_idJuez, @pi_idDefensor, @pi_XmlAcuseGraficas, @IdTipoJuez, @prioridad
        );

        DECLARE @id BIGINT = SCOPE_IDENTITY();

        IF @pi_IdAudienciaSIGJP = -1
        BEGIN
            EXEC [SISE_NEWLOG].[dbo].[piBitAgendaSIGJP] @id, @pi_infoResultado;
        END

        COMMIT TRANSACTION;

        SELECT 
            idInformacionGeneralAudiencia, idSala, fkIdAsuntoNeun, idAudiencia, fkIdTipoAudiencia,
            idEstatusAudiencia, fechaInicio, fechaFin, fechaAlta, idUsuarioAlta, respuestaOtis,
            sDescripcionAudiencia, fechaModificacion, idJuez, fkIdDefensorPublico,
            ISNULL(xmlPromedios, '') AS XmlAcuseGraficas, iPrioridad
        FROM InformacionGeneralAudiencia WITH (NOLOCK)
        WHERE idInformacionGeneralAudiencia = @id;

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),                 
            @ErrorState = ERROR_STATE();

        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END;
