USE [SISE_NEW]
GO
/****** Object:  StoredProcedure [SISE3].[pcConsultaDetalleRequerimiento]    Script Date: 30/01/2025 05:48:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ==========================================================================================
-- Author:		Isidro Neri Silva
-- Create date: 30/01/2025
-- Description:	Consulta el detalle de los acuerdos autorizados de una sentencia.
-- ==========================================================================================
CREATE PROCEDURE [SISE3].[pcConsultaDetalleRequerimiento]
@pi_AsuntoNeunIds NVARCHAR(MAX)
AS
BEGIN

DECLARE 
    @ErrorMessage NVARCHAR(4000),
    @ErrorSeverity INT,
    @ErrorState INT;

BEGIN TRY

	SELECT ad.AsuntoNeunId,
		   saa.FechaAuto,
		   ad.NombreArchivo,
		   ad.ExtensionDocumento,
		   CONCAT(ISNULL(ad.NombreArchivo, ''), ISNULL(ad.ExtensionDocumento, '')) as Nombre,
		   ad.uGuidDocumento,
		   ad.TipoRuta,
		   rc.sDescripcion,
		   rc.sTipoArchivoDesc,
		   rc.sRuta 
	FROM AsuntosDocumentos ad 
	LEFT JOIN CAT_RutasChunk rc 
		ON rc.kId = ad.TipoRuta
	LEFT JOIN SintesisAcuerdoAsunto saa
		ON ad.AsuntoNeunId = saa.AsuntoNeunId 
		AND ad.SintesisOrden = saa.SintesisOrden
	WHERE ad.CatContenidoId = 25292 
	AND ad.CatAutorizacionDocumentosId = 3 
	AND ad.FechaAlta <= saa.FechaAuto
	AND ad.AsuntoNeunId IN (SELECT value FROM STRING_SPLIT(@pi_AsuntoNeunIds, ','))
    
END TRY
BEGIN CATCH
    SELECT 
        @ErrorMessage = ERROR_MESSAGE(),
        @ErrorSeverity = ERROR_SEVERITY(),                 
        @ErrorState = ERROR_STATE();

    RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
END CATCH;
END