USE [SISE_NEW]
GO
/****** Object:  StoredProcedure [SISE3].[pa_RepEst_Aux_Detalle_Upd]    Script Date: 29/04/2025 04:30:22 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ==========================================================================================
-- Author: Isidro Neri Silva
-- Create date: 29/04/2025
-- Description:	Actualiza Detalle Reporte Capturado de Amparo Indirecto, Causa Penal y Procesos Civiles y Administrativos
-- SP Original: [dbo].[usp_RepEst_Aux_Detalle_Upd]
-- ==========================================================================================
CREATE PROCEDURE [SISE3].[pa_RepEst_Aux_Detalle_Upd]
	@piCatOrganismoId INT,
    @piTipoAsuntoId INT,
    @piDiferente INT,
    @piPeriodo INT, 
    @piNumExpediente VARCHAR(50),
    @piAsuntoNeunId BIGINT,
    @piNumGuardado INT,
    @piNumMultiple INT,
    @piExpediente VARCHAR(50),
    @piOrganoOrigen VARCHAR(MAX),
    @piExpedienteOrigen VARCHAR(50),
    @piFechaRecepcion DATE,
    @piFechaResolucion DATE,
    @piFechaDevolucion DATE,
    @piTipoAsunto INT,
    @piMateria INT,
    @piSentidoResolucion_0 VARCHAR(50),
    @piSentidoResolucion_1 INT,
    @piSentidoResolucion_2 INT, 
    @piSentidoResolucion_3 INT,
    @piUsuarioCaptura BIGINT
AS
BEGIN

	DECLARE 
		@ErrorMessage NVARCHAR(4000),
		@ErrorSeverity INT,
		@ErrorState INT;

	BEGIN TRY

	SET NOCOUNT ON;

	UPDATE RepEstDetalleDetalleAux WITH (ROWLOCK)
	SET FechaBaja = GETDATE(),
	    StatusReg = 0
	WHERE CatOrganismoId = @piCatOrganismoId
		AND TipoAsuntoId = @piTipoAsuntoId
		AND Diferente = @piDiferente
		AND Periodo = @piPeriodo
		AND NumExpediente = @piNumExpediente
		AND AsuntoNeunId = @piAsuntoNeunId
		AND NumMultiple = @piNumMultiple
		AND NumGuardado = @piNumGuardado;

	UPDATE RepEstDetalle WITH (ROWLOCK)
	SET FechaBaja = GETDATE(),
	    StatusReg = 0
	WHERE CatOrganismoId = @piCatOrganismoId
		AND TipoAsuntoId = @piTipoAsuntoId
		AND Diferente = @piDiferente
		AND Periodo = @piPeriodo
		AND NumExpediente = @piNumExpediente
		AND AsuntoNeunId = @piAsuntoNeunId
		AND NumMultiple = @piNumMultiple
		AND NumGuardado = @piNumGuardado;

	SET @piNumGuardado = @piNumGuardado + 1;

	INSERT INTO RepEstDetalle WITH (ROWLOCK)
		(CatOrganismoId, TipoAsuntoId, Diferente, Periodo, NumExpediente, AsuntoNeunId, 
		 NumMultiple, NumGuardado, FechaAlta, StatusReg)
	VALUES (@piCatOrganismoId, @piTipoAsuntoId, @piDiferente, @piPeriodo, @piNumExpediente,
	        @piAsuntoNeunId, @piNumMultiple, @piNumGuardado, GETDATE(), 1);

	INSERT INTO RepEstDetalleDetalleAux WITH (ROWLOCK)
		(CatOrganismoId, TipoAsuntoId, Diferente, Periodo, NumExpediente, AsuntoNeunId,
		 NumMultiple, NumGuardado, Expediente, FechaRecepcion, OrganoOrigen, ExpedienteOrigen,
		 TipoAsunto, Materia, FechaResolucion, SentidoResolucion_0, SentidoResolucion_1,
		 SentidoResolucion_2, SentidoResolucion_3, FechaDevolucion,
		 FechaAlta, FechaBaja, StatusReg, UsuarioCaptura)
	VALUES (@piCatOrganismoId, @piTipoAsuntoId, @piDiferente, @piPeriodo, @piNumExpediente,
			@piAsuntoNeunId, @piNumMultiple, @piNumGuardado, @piExpediente, 
			@piFechaRecepcion, @piOrganoOrigen, @piExpedienteOrigen,
			@piTipoAsunto, @piMateria, @piFechaResolucion, @piSentidoResolucion_0,
			@piSentidoResolucion_1, @piSentidoResolucion_2, @piSentidoResolucion_3,
			@piFechaDevolucion, GETDATE(), NULL, 1, @piUsuarioCaptura);

    SET NOCOUNT OFF;
		
	END TRY
	BEGIN CATCH
		SELECT 
			@ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),                 
            @ErrorState =ERROR_STATE();

		RAISERROR (@ErrorMessage,@ErrorSeverity,@ErrorState);
	END CATCH
END
