USE [SISE_NEW]
GO
/****** Object:  StoredProcedure [SISE3].[pcAsuntoConSubniveles]    Script Date: 30/04/2025 02:33:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ==========================================================================================
-- Author:		Isidro Neri Silva
-- Create date: 11/09/2024
-- Description:	Consulta el expediente con Técnicas de Investigación, Proceso de Ejecución e Incidentes
-- Ejemplo de Ejecución - EXEC [SISE3].[pcAsuntoConSubniveles] '1/2024', 1462
-- ==========================================================================================
ALTER PROCEDURE [SISE3].[pcAsuntoConSubniveles]
    @pi_AsuntoAlias VARCHAR(50),
    @pi_CatOrganismoId INT,
    @pi_CatTipoAsuntoId INT = NULL,
    @pi_CatTipoProcedimiento INT = NULL,
    @pi_AsuntoNeunId BIGINT = NULL
AS
BEGIN
DECLARE 
		@ErrorMessage NVARCHAR(4000),
		@ErrorSeverity INT,
		@ErrorState INT;

	BEGIN TRY 
	
	IF @pi_AsuntoNeunId IS NULL
	BEGIN
	SELECT DISTINCT 
        a.CatTipoAsuntoId,
        a.AsuntoNeunId,
        @pi_CatOrganismoId AS CatOrganismoId,
        a.AsuntoAlias,
        a.CatMateriaId,
        a.NumeroOCC,
		jae.idJuez,
		CONCAT(ce.Nombre, ' ', ce.ApellidoPaterno, ' ', ce.ApellidoMaterno) AS NombreCompleto,
		ce.UserName,
		ce.PuestoDescripcion,
		a.CatTipoProcedimiento,
        ta.Descripcion AS TipoAsunto,
        CASE 
            WHEN ISNULL(sub3.CatalogoDependienteDescripcion, 
                        ISNULL(ti.CatalogoDependienteDescripcion, 
                               ISNULL(pe.CatalogoDependienteDescripcion, ''))) = 'INCIDENTES'
                 OR ISNULL(sub3.CatalogoDependienteDescripcion, '') = 'Solicitud de inicio de Procedimiento de Ejecución (SIPE)'
                 OR ISNULL(sub3.CatalogoDependienteDescripcion, '') = 'Solicitud de Traslado'
                 OR ISNULL(sub3.CatalogoDependienteDescripcion, '') = 'Controversia'
                 OR ISNULL(sub3.CatalogoDependienteDescripcion, '') = 'Ejecución Medida Cautelar'
            THEN 'Proceso de Ejecución'
            ELSE ISNULL(sub2.CatalogoDependienteDescripcion, ISNULL(tp.CatalogoDependienteDescripcion, '')) 
        END AS TipoProcedimiento,
        ISNULL(sub3.CatalogoDependienteDescripcion, 
               ISNULL(ti.CatalogoDependienteDescripcion, 
                      ISNULL(pe.CatalogoDependienteDescripcion, ''))) AS Nivel3,
        ISNULL(sub4.CatalogoDependienteDescripcion, ISNULL(inc.CatalogoDependienteDescripcion, '')) AS Nivel4
    FROM 
        [dbo].[Asuntos] a WITH(NOLOCK)
    INNER JOIN 
        CatTiposAsunto ta WITH(NOLOCK) ON a.CatTipoAsuntoId = ta.CatTipoAsuntoId
	LEFT JOIN 
		TAU_Mov_ReservacionJuezControl jae ON a.AsuntoNeunId = jae.fAsuntoNeunId 
		AND jae.iEstatus = 1 -- INSG - 30042025
	LEFT JOIN 
		CatEmpleados ce WITH(NOLOCK) ON jae.idJuez = ce.EmpleadoId
    LEFT JOIN 
        CatalogosDependientes tp ON tp.CatalogoDependienteIdPadre = 13298 
        AND tp.CatalogoDependienteElementoIDNew = a.CatTipoProcedimiento
        AND tp.CatalogoDependienteId = 734
        AND tp.CatalogoDependienteNivel = 2
    LEFT JOIN 
        CatalogosDependientes ti ON ti.CatalogoDependienteIdPadre = 13300 
        AND ti.CatalogoDependienteElementoIDNew = a.CatTipoProcedimiento
        AND ti.CatalogoDependienteId = 734
        AND ti.CatalogoDependienteNivel = 3
    LEFT JOIN 
        CatalogosDependientes pe ON pe.CatalogoDependienteIdPadre = 13482
        AND pe.CatalogoDependienteElementoIDNew = a.CatTipoProcedimiento
        AND pe.CatalogoDependienteId = 734
        AND pe.CatalogoDependienteNivel = 3
    LEFT JOIN 
        CatalogosDependientes inc ON inc.CatalogoDependienteIdPadre IN 
        (SELECT ID FROM viCatalogos WHERE CatalogoPadre = 13488 AND Catalogo = 734)
        AND inc.CatalogoDependienteElementoIDNew = a.CatTipoProcedimiento
        AND inc.CatalogoDependienteId = 734
        AND inc.CatalogoDependienteNivel = 4
    LEFT JOIN 
        REL_NoCarpInvetAsuntosSISE rel2 ON rel2.iAsuntoNeunId = a.AsuntoNeunId
    LEFT JOIN 
        CatalogosDependientes sub2 ON sub2.CatalogoDependienteElementoIDNew = rel2.iTipoSubNivel
        AND sub2.CatalogoDependienteId = 734
        AND sub2.CatalogoDependienteNivel = 2
    LEFT JOIN 
        CatalogosDependientes sub3 ON sub3.CatalogoDependienteElementoIDNew = rel2.iTipoSubNivel
        AND sub3.CatalogoDependienteId = 734
        AND sub3.CatalogoDependienteNivel = 3
    LEFT JOIN 
        CatalogosDependientes sub4 ON sub4.CatalogoDependienteElementoIDNew = rel2.iTipoSubNivel
        AND sub4.CatalogoDependienteId = 734
        AND sub4.CatalogoDependienteNivel = 4
    WHERE  
        a.StatusReg = 1
        AND a.CatOrganismoId = @pi_CatOrganismoId
        AND a.AsuntoAlias = @pi_AsuntoAlias
        AND a.CatTipoAsuntoId = ISNULL(@pi_CatTipoAsuntoId, a.CatTipoAsuntoId)
		AND a.CatTipoProcedimiento = ISNULL(@pi_CatTipoProcedimiento, a.CatTipoProcedimiento)
    ORDER BY AsuntoNeunID ASC;

	END
	ELSE
	BEGIN
	SELECT DISTINCT 
        a.CatTipoAsuntoId,
        a.AsuntoNeunId,
        @pi_CatOrganismoId AS CatOrganismoId,
        a.AsuntoAlias,
        a.CatMateriaId,
        a.NumeroOCC,
		jae.idJuez,
		CONCAT(ce.Nombre, ' ', ce.ApellidoPaterno, ' ', ce.ApellidoMaterno) AS NombreCompleto,
		ce.UserName,
		ce.PuestoDescripcion,
		a.CatTipoProcedimiento,
        ta.Descripcion AS TipoAsunto,
        CASE 
            WHEN ISNULL(sub3.CatalogoDependienteDescripcion, 
                        ISNULL(ti.CatalogoDependienteDescripcion, 
                               ISNULL(pe.CatalogoDependienteDescripcion, ''))) = 'INCIDENTES'
                 OR ISNULL(sub3.CatalogoDependienteDescripcion, '') = 'Solicitud de inicio de Procedimiento de Ejecución (SIPE)'
                 OR ISNULL(sub3.CatalogoDependienteDescripcion, '') = 'Solicitud de Traslado'
                 OR ISNULL(sub3.CatalogoDependienteDescripcion, '') = 'Controversia'
                 OR ISNULL(sub3.CatalogoDependienteDescripcion, '') = 'Ejecución Medida Cautelar'
            THEN 'Proceso de Ejecución'
            ELSE ISNULL(sub2.CatalogoDependienteDescripcion, ISNULL(tp.CatalogoDependienteDescripcion, '')) 
        END AS TipoProcedimiento,
        ISNULL(sub3.CatalogoDependienteDescripcion, 
               ISNULL(ti.CatalogoDependienteDescripcion, 
                      ISNULL(pe.CatalogoDependienteDescripcion, ''))) AS Nivel3,
        ISNULL(sub4.CatalogoDependienteDescripcion, ISNULL(inc.CatalogoDependienteDescripcion, '')) AS Nivel4
    FROM 
        [dbo].[Asuntos] a WITH(NOLOCK)
    INNER JOIN 
        CatTiposAsunto ta WITH(NOLOCK) ON a.CatTipoAsuntoId = ta.CatTipoAsuntoId
	LEFT JOIN 
		TAU_Mov_ReservacionJuezControl jae ON a.AsuntoNeunId = jae.fAsuntoNeunId 
		AND jae.iEstatus = 1 -- INSG - 30042025
	LEFT JOIN 
		CatEmpleados ce WITH(NOLOCK) ON jae.idJuez = ce.EmpleadoId
    LEFT JOIN 
        CatalogosDependientes tp ON tp.CatalogoDependienteIdPadre = 13298 
        AND tp.CatalogoDependienteElementoIDNew = a.CatTipoProcedimiento
        AND tp.CatalogoDependienteId = 734
        AND tp.CatalogoDependienteNivel = 2
    LEFT JOIN 
        CatalogosDependientes ti ON ti.CatalogoDependienteIdPadre = 13300 
        AND ti.CatalogoDependienteElementoIDNew = a.CatTipoProcedimiento
        AND ti.CatalogoDependienteId = 734
        AND ti.CatalogoDependienteNivel = 3
    LEFT JOIN 
        CatalogosDependientes pe ON pe.CatalogoDependienteIdPadre = 13482
        AND pe.CatalogoDependienteElementoIDNew = a.CatTipoProcedimiento
        AND pe.CatalogoDependienteId = 734
        AND pe.CatalogoDependienteNivel = 3
    LEFT JOIN 
        CatalogosDependientes inc ON inc.CatalogoDependienteIdPadre IN 
        (SELECT ID FROM viCatalogos WHERE CatalogoPadre = 13488 AND Catalogo = 734)
        AND inc.CatalogoDependienteElementoIDNew = a.CatTipoProcedimiento
        AND inc.CatalogoDependienteId = 734
        AND inc.CatalogoDependienteNivel = 4
    LEFT JOIN 
        REL_NoCarpInvetAsuntosSISE rel2 ON rel2.iAsuntoNeunId = a.AsuntoNeunId
    LEFT JOIN 
        CatalogosDependientes sub2 ON sub2.CatalogoDependienteElementoIDNew = rel2.iTipoSubNivel
        AND sub2.CatalogoDependienteId = 734
        AND sub2.CatalogoDependienteNivel = 2
    LEFT JOIN 
        CatalogosDependientes sub3 ON sub3.CatalogoDependienteElementoIDNew = rel2.iTipoSubNivel
        AND sub3.CatalogoDependienteId = 734
        AND sub3.CatalogoDependienteNivel = 3
    LEFT JOIN 
        CatalogosDependientes sub4 ON sub4.CatalogoDependienteElementoIDNew = rel2.iTipoSubNivel
        AND sub4.CatalogoDependienteId = 734
        AND sub4.CatalogoDependienteNivel = 4
    WHERE  
        a.StatusReg = 1
        AND a.CatOrganismoId = @pi_CatOrganismoId
        AND a.AsuntoNeunId = @pi_AsuntoNeunId
        AND a.CatTipoAsuntoId = ISNULL(@pi_CatTipoAsuntoId, a.CatTipoAsuntoId)
		AND a.CatTipoProcedimiento = ISNULL(@pi_CatTipoProcedimiento, a.CatTipoProcedimiento)
    ORDER BY AsuntoNeunID ASC;
	END
END TRY
	BEGIN CATCH
		SELECT 
			@ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),                 
            @ErrorState =ERROR_STATE();

		RAISERROR (@ErrorMessage,@ErrorSeverity,@ErrorState);
	END CATCH
END
 