USE [SISE_NEW]
GO
/****** Object:  StoredProcedure [SISE3].[paActualizaPermisoPersonalizado]    Script Date: 25/07/2024 06:21:03 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ==========================================================================================
-- Author: Isidro Neri Silva
-- Create date: 25/07/2024
-- Description:	Actualizar un permiso personalizado a un rol de un empleado.
-- ==========================================================================================
CREATE PROCEDURE [SISE3].[paActualizaPermisoPersonalizado]
(
    @pa_IdEmpleadoRol INT, 
	@pa_IdPrivilegio INT,
	@pa_bDeniega_Agrega INT
)
AS
BEGIN

	DECLARE 
		@ErrorMessage NVARCHAR(4000),
		@ErrorSeverity INT,
		@ErrorState INT;

	BEGIN TRY
		
		IF (NOT EXISTS(SELECT IdEmpleadoRol FROM SISE3.REL_RolEmpleadoXOrganismo WHERE IdEmpleadoRol=@pa_IdEmpleadoRol))
		BEGIN
			
			RAISERROR ('El empleado no cuenta con este rol',16,1);

		END
		ELSE IF (NOT EXISTS(SELECT IdPrivilegio FROM CatPrivilegio WHERE IdPrivilegio=@pa_IdPrivilegio))
		BEGIN
			
			RAISERROR ('No existe el privilegio',16,1);

		END
		ELSE IF (NOT EXISTS(SELECT IdEmpleadoRol FROM SISE3.PermisosPersonalizados WHERE IdEmpleadoRol=@pa_IdEmpleadoRol AND IdPrivilegio=@pa_IdPrivilegio))
		BEGIN
			
			RAISERROR ('El permiso no existe',16,1);

		END
		ELSE
		BEGIN
			UPDATE SISE3.PermisosPersonalizados
			SET bDeniega_Agrega = @pa_bDeniega_Agrega
			WHERE IdEmpleadoRol =  @pa_IdEmpleadoRol  AND IdPrivilegio = @pa_IdPrivilegio

			SELECT IdPermisosPersonalizados, IdEmpleadoRol, IdPrivilegio, bDeniega_Agrega FROM SISE3.PermisosPersonalizados WHERE IdEmpleadoRol =  @pa_IdEmpleadoRol  AND IdPrivilegio = @pa_IdPrivilegio;
		END

	END TRY
	BEGIN CATCH
		SELECT 
			@ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),                 
            @ErrorState =ERROR_STATE();

		RAISERROR (@ErrorMessage,@ErrorSeverity,@ErrorState);
	END CATCH
END



