USE [SISE_NEW]
GO
/****** Object:  StoredProcedure [SISE3].[pcConsultaDiferimientoAudiencia]    Script Date: 18/12/2024 08:59:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ==========================================================================================
-- Author:		Isidro Neri Silva
-- Create date: 18/12/2024
-- Description:	Valida si la audiencia de un expediente es diferida.
-- ==========================================================================================
CREATE PROCEDURE [SISE3].[pcConsultaDiferimientoAudiencia]
@pi_IdResultado INT
AS
BEGIN

DECLARE 
    @ErrorMessage NVARCHAR(4000),
    @ErrorSeverity INT,
    @ErrorState INT,
	@ResultadoDif INT, 
	@dif BIT;

BEGIN TRY


SET @ResultadoDif = ISNULL((
    SELECT IdResultado 
    FROM AUD_CatResultado 
    WHERE IdResultado = @pi_IdResultado 
      AND Descripcion LIKE 'Diferida'
), 0);

SET @dif = CASE 
              WHEN @ResultadoDif <> 0 THEN 1
              ELSE 0 
           END;

SELECT @dif AS Diferida;

END TRY
BEGIN CATCH
    SELECT 
        @ErrorMessage = ERROR_MESSAGE(),
        @ErrorSeverity = ERROR_SEVERITY(),                 
        @ErrorState = ERROR_STATE();

    RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
END CATCH;
END