SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ==========================================================================================
-- Author:		Isidro Neri Silva / Erick Garcia de la Rosa
-- Create date: 10/06/2024
-- Description:	Inserta Integrantes a la Mesa de Trabajo
-- Cambios: 17/12/2024 - Se agrega actualizacion en caso de que exista el empleado
-- ==========================================================================================
ALTER PROCEDURE [SISE3].[piInsertaIntegranteMesa](
    @pi_AreaId INT,
    @pi_EmpleadoId INT,
    @pi_UsuarioCaptura INT,
    @pi_IsMigrated BIT,
	@pi_IdOrganismo INT
)
AS
BEGIN

	DECLARE 
		@ErrorMessage NVARCHAR(4000),
		@ErrorSeverity INT,
		@ErrorState INT,
		@NombreEmpleado VARCHAR(200),
		@MensajeUno VARCHAR(100),
		@MensajeDos VARCHAR(100);

	BEGIN TRY

		SELECT @NombreEmpleado=CONCAT(Nombre,' ', ApellidoPaterno,' ', ApellidoMaterno) FROM CatEmpleados WHERE EmpleadoId=@pi_EmpleadoId;
		SET @MensajeUno = CONCAT('El empleado ', @NombreEmpleado,' ya existe en el área');
		SET @MensajeDos = CONCAT('El empleado ',@NombreEmpleado,' es responsable del área, por lo que no se puede agregar al área');
		
		IF (EXISTS(SELECT AreaId FROM AreasEmpleados WHERE AreaId=@pi_AreaId AND EmpleadoId=@pi_EmpleadoId AND StatusReg=1))
		BEGIN
			RAISERROR (@MensajeUno,16,1);
		END
		ELSE IF (EXISTS(SELECT AreaId FROM Areas WHERE AreaId=@pi_AreaId AND EmpleadoId=@pi_EmpleadoId AND CatOrganismoId=@pi_IdOrganismo AND StatusReg=1))
		BEGIN
			RAISERROR (@MensajeDos,16,1);
		END

		IF (EXISTS(SELECT AreaId FROM AreasEmpleados WHERE AreaId=@pi_AreaId AND EmpleadoId=@pi_EmpleadoId AND StatusReg=0))
		BEGIN
			UPDATE AreasEmpleados SET StatusReg=1, FechaBaja=NULL
			WHERE AreaId=@pi_AreaId AND EmpleadoId=@pi_EmpleadoId;
		END
		ELSE
		BEGIN
			INSERT INTO AreasEmpleados
				(AreaId, EmpleadoId, FechaAlta, UsuarioCaptura, IsMigrated)
			VALUES 
				(@pi_AreaId, @pi_EmpleadoId, GETDATE(), @pi_UsuarioCaptura, @pi_IsMigrated);
		END

		SELECT * FROM AreasEmpleados WHERE RegistroId=@@IDENTITY;

	END TRY
	BEGIN CATCH
		SELECT 
			@ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),                 
            @ErrorState =ERROR_STATE();

		RAISERROR (@ErrorMessage,@ErrorSeverity,@ErrorState);
	END CATCH
END

