SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ==========================================================================================
-- Author:		Isidro Neri Silva / Erick Garcia de la Rosa
-- Create date: 12/07/2024
-- Description:	Consultas las areas por el id organismo
-- Cambios: 17/12/2024, Se agrega filtro de area StatusReg=1
-- ==========================================================================================
ALTER PROCEDURE [SISE3].[pcConsultaAreasPorOrganismo](
	@pc_CatOrganismoId INT,
	@pc_kIdTipoArea INT
)
AS
BEGIN
DECLARE 
		@ErrorMessage NVARCHAR(4000),
		@ErrorSeverity INT,
		@ErrorState INT;

	BEGIN TRY

    BEGIN
		  SELECT
            a.AreaId,
			a.Nombre AS Area,
			a.Descripcion,
            COUNT(ae.RegistroId) AS Integrantes,
            CONCAT(ce.Nombre, ' ', ce.ApellidoPaterno, ' ', ce.ApellidoMaterno) AS 'ResponsableMesa',
			a.AreaIdPadre,
			a.fkIdTipoArea
        FROM Areas AS a
        LEFT JOIN SISE3.CAT_TipoArea ta 
            ON a.fkIdTipoArea = ta.kIdTipoArea
        LEFT JOIN CatEmpleados AS ce
            ON a.EmpleadoId = ce.EmpleadoId
        LEFT JOIN AreasEmpleados AS ae 
            ON a.AreaId = ae.AreaId
		LEFT JOIN CatOrganismos AS co
		    ON a.CatOrganismoId = co.CatOrganismoId
		WHERE a.StatusReg=1 AND a.CatOrganismoId = @pc_CatOrganismoId AND ta.kIdTipoArea not in(@pc_kIdTipoArea)
        GROUP BY
            a.AreaId,
            a.Nombre,
			a.Descripcion,
            ta.sTipoArea,
            ce.Nombre,
            ce.ApellidoPaterno,
            ce.ApellidoMaterno,
			co.NombreOficial,
			a.AreaIdPadre,
			a.fkIdTipoArea;
    END	
END TRY
	BEGIN CATCH
		SELECT 
			@ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),                 
            @ErrorState =ERROR_STATE();

		RAISERROR (@ErrorMessage,@ErrorSeverity,@ErrorState);
	END CATCH
END