USE [SISE_NEW]
GO
/****** Object:  StoredProcedure [SISE3].[pcConsultarRol]    Script Date: 14/08/2024 03:53:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ==========================================================================================
-- Author:		Isidro Neri Silva
-- Create date: 12/08/2024
-- Description:	Obtiene la información del rol
-- ==========================================================================================
CREATE PROCEDURE [SISE3].[pcConsultarRol]
(
@pc_IdRol INT
)
AS
BEGIN
DECLARE 
		@ErrorMessage NVARCHAR(4000),
		@ErrorSeverity INT,
		@ErrorState INT;

	BEGIN TRY
SELECT cr.IdRol,
	   cr.sNombreRol
FROM SISE3.CATROL AS cr
WHERE cr.IdRol = @pc_IdRol
	END TRY
	BEGIN CATCH
		SELECT 
			@ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),                 
            @ErrorState =ERROR_STATE();

		RAISERROR (@ErrorMessage,@ErrorSeverity,@ErrorState);
	END CATCH
END
