USE [SISE_NEW]
GO
/****** Object:  StoredProcedure [SISE3].[pcConsultaTribunalesColegiados]    Script Date: 27/11/2024 06:09:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ==========================================================================================
-- Author:		Isidro Neri Silva
-- Create date: 19/11/2024
-- Description:	Consulta los Tribunales Colegiados de Apelación
-- ==========================================================================================
CREATE PROCEDURE [SISE3].[pcConsultaTribunalesColegiados]
AS
BEGIN
DECLARE 
		@ErrorMessage NVARCHAR(4000),
		@ErrorSeverity INT,
		@ErrorState INT;

	BEGIN TRY
SELECT
	CatOrganismoId
   ,NombreOficial
FROM CatOrganismos
WHERE CatTipoOrganismoId = 340
AND StatusReg = 1
END TRY
BEGIN CATCH
SELECT
	@ErrorMessage = ERROR_MESSAGE()
   ,@ErrorSeverity = ERROR_SEVERITY()
   ,@ErrorState = ERROR_STATE();

RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
END CATCH
END