USE [SISE_NEW]
GO
/****** Object:  StoredProcedure [SISE3].[paActualizarRol]    Script Date: 14/08/2024 03:46:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ==========================================================================================
-- Author:		Isidro Neri Silva
-- Create date: 25/06/2024
-- Description:	Modifica un rol del catalogo
-- ==========================================================================================
CREATE PROCEDURE [SISE3].[paActualizarRol](
    @pa_kIdRol INT,
    @pa_sNombreRol VARCHAR(255),
    @pa_bEstatus smallint,
    @pa_sInicio VARCHAR(255)
)
AS
BEGIN

	DECLARE 
		@ErrorMessage NVARCHAR(4000),
		@ErrorSeverity INT,
		@ErrorState INT;

	BEGIN TRY 
        
    UPDATE SISE3.CatRol
    SET sNombreRol = @pa_sNombreRol,
        bEstatus = @pa_bEstatus,
        pInicio = @pa_sInicio
    WHERE idRol = @pa_kIdRol;
	
        
		SELECT* FROM SISE3.CatRol WHERE idRol = @pa_kIdRol;
        
	END TRY
	BEGIN CATCH
		SELECT 
			@ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),                 
            @ErrorState =ERROR_STATE();

		RAISERROR (@ErrorMessage,@ErrorSeverity,@ErrorState);
	END CATCH
END