SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ==========================================================================================
-- Author:		Erick Garcia de la Rosa
-- Create date: 27/06/2024
-- Description:	Consulta los permisos personalizados de un rol de empleado.
-- ==========================================================================================
CREATE PROCEDURE [SISE3].[pcConsultaPermisoPersonalizado]
(
    @pi_IdEmpleadoRol INT
)
AS
BEGIN

	DECLARE 
		@ErrorMessage NVARCHAR(4000),
		@ErrorSeverity INT,
		@ErrorState INT;

	BEGIN TRY
		
		SELECT 
			PP.IdPermisosPersonalizados,
			PP.IdEmpleadoRol,
			PP.IdPrivilegio,
			PP.bDeniega_Agrega,
			R.sNombreRol,
			O.NombreOficial AS NombreOrganismo,
			E.Nombre,
			E.ApellidoPaterno,
			E.ApellidoMaterno,
			CP.sNombrePrivilegio
		FROM SISE3.PermisosPersonalizados PP
		INNER JOIN SISE3.REL_RolEmpleadoXOrganismo REO ON REO.IdEmpleadoRol=PP.IdEmpleadoRol
		INNER JOIN SISE3.CatRol R ON R.IdRol=REO.IdRol
		INNER JOIN CatOrganismos O ON O.CatOrganismoId=REO.IdOrganismo
		INNER JOIN CatEmpleados E ON E.EmpleadoId=REO.IdCatEmpleado
		INNER JOIN SISE3.CatPrivilegio CP ON CP.IdPrivilegio=PP.IdPrivilegio
		WHERE PP.IdEmpleadoRol=@pi_IdEmpleadoRol;
		
	END TRY
	BEGIN CATCH
		SELECT 
			@ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),                 
            @ErrorState =ERROR_STATE();

		RAISERROR (@ErrorMessage,@ErrorSeverity,@ErrorState);
	END CATCH
END