USE [SISE_NEW]
GO
/****** Object:  StoredProcedure [SISE3].[pcConsultarEmpleadosRol]    Script Date: 02/09/2024 09:49:44 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ==========================================================================================
-- Author:		Isidro Neri Silva Gutiérrez
-- Create date: 24/07/2024
-- Description:	Consulta los empleados que son diferentes al rol del filtro.
-- ==========================================================================================
CREATE PROCEDURE [SISE3].[pcConsultarEmpleadosRol]
@pi_IdRol INT, 
@pi_CatOrganismoId INT   
AS
BEGIN
DECLARE 
		@ErrorMessage NVARCHAR(4000),
		@ErrorSeverity INT,
		@ErrorState INT;
BEGIN TRY

    SELECT DISTINCT 
        CONVERT(INT, CatEmp.EmpleadoId) AS empleadoId,
        LTRIM(CatEmp.Nombre) + ' ' + ISNULL(CatEmp.ApellidoPaterno,'') + ' ' + ISNULL(CatEmp.ApellidoMaterno,'') AS Descripcion  
    FROM 
        CatEmpleados CatEmp WITH(NOLOCK)
    INNER JOIN 
        EmpleadoOrganismo EOrg WITH(NOLOCK) 
        ON EOrg.EmpleadoId = CatEmp.EmpleadoId
    WHERE 
        EOrg.CatOrganismoId = @pi_CatOrganismoId
        AND CatEmp.StatusRegistro = 1
        AND EOrg.StatusRegistro = 1
        AND NOT EXISTS (
            SELECT 1 
            FROM 
                SISE3.REL_RolEmpleadoXOrganismo rel 
            WHERE 
                rel.IdOrganismo = @pi_CatOrganismoId 
                AND rel.IdRol = @pi_IdRol
                AND rel.IdCatEmpleado = CatEmp.EmpleadoId
                AND rel.bStatus = 1
        )
    ORDER BY 
        Descripcion;

END TRY
	BEGIN CATCH
		SELECT 
			@ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),                 
            @ErrorState =ERROR_STATE();

		RAISERROR (@ErrorMessage,@ErrorSeverity,@ErrorState);
	END CATCH
END