SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ==========================================================================================
-- Author:		Isidro Neri Silva
-- Create date: 02/07/2024
-- Description:	Obtiene los empleados por área.
-- Cambios: 17/12/2024 - Se agrega filtro StatusReg=1
-- ==========================================================================================
ALTER PROCEDURE [SISE3].[pcConsultaEmpleadosPorArea](
@pc_fAreaId NVARCHAR(MAX)
)
AS
BEGIN
DECLARE 
		@ErrorMessage NVARCHAR(4000),
		@ErrorSeverity INT,
		@ErrorState INT;

	BEGIN TRY

    DECLARE @AreaIds TABLE (AreaId INT);


    INSERT INTO @AreaIds (AreaId)
    SELECT value
    FROM OPENJSON(@pc_fAreaId)
    WITH (value INT '$');


    SELECT ae.RegistroId,
           ae.AreaId,
           ae.EmpleadoId,
           CONCAT(ce.Nombre, ' ', ce.ApellidoPaterno, ' ', ce.ApellidoMaterno) AS 'Nombre'
    FROM AreasEmpleados AS ae
    INNER JOIN CatEmpleados AS ce ON ae.EmpleadoId = ce.EmpleadoId
    WHERE ae.AreaId IN (SELECT AreaId FROM @AreaIds) AND ae.StatusReg=1;

END TRY
	BEGIN CATCH
		SELECT 
			@ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),                 
            @ErrorState =ERROR_STATE();

		RAISERROR (@ErrorMessage,@ErrorSeverity,@ErrorState);
	END CATCH
END