USE [SISE_NEW]
GO
/****** Object:  StoredProcedure [SISE3].[pcCatPeriodoEstadisticoSel]    Script Date: 15/04/2025 09:44:08 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ==========================================================================================
-- Author:		Isidro Neri Silva Gtz
-- Create date: 20/02/2025
-- Description:	Permite obtener los periodos por año
-- Ejemplo de Ejecución: Exec [SISE3].[pcCatPeriodoEstadisticoSel] 180, 2022
-- ==========================================================================================
ALTER PROCEDURE [SISE3].[pcCatPeriodoEstadisticoSel]
@pi_CatOrganismoId INT,
@pi_Anio INT
AS
BEGIN
	DECLARE @ErrorMessage NVARCHAR(4000)
		   ,@ErrorSeverity INT
		   ,@ErrorState INT

	BEGIN TRY
	
	DECLARE @TiposAsunto TABLE (TipoAsuntoId INT);
    
    INSERT INTO @TiposAsunto (TipoAsuntoId)
    SELECT 1 UNION ALL
	SELECT 2 UNION ALL
    SELECT 3 UNION ALL
    SELECT 4 UNION ALL
	SELECT 18 UNION ALL
	SELECT 19 UNION ALL
	SELECT 27 UNION ALL
	SELECT 28 UNION ALL
	SELECT 29 UNION ALL
    SELECT 71; -- INSG - 140425

    WITH CTE_RepEstResumen AS (
        SELECT
            *,
            MAX(NumGuardado) OVER (PARTITION BY Periodo, TipoAsuntoId) AS MaxNumGuardado
        FROM RepEstResumen
    )

    SELECT 
        p.Periodo AS PeriodoId,
        'PERIODO: ' + CAST(p.Periodo AS VARCHAR) + ' - Del ' + CAST(p.Inicio AS VARCHAR) + ' al ' + CAST(p.Fin AS VARCHAR) AS Descripcion,
        p.Inicio,
        p.Fin,
        FORMAT(TRY_CONVERT(DATE, RTRIM(p.Inicio), 103), 'MMMM', 'es-ES') AS NombreMes,
        r.Firma,
        t.TipoAsuntoId
    FROM PerEstadistico AS p WITH(NOLOCK)
    CROSS JOIN @TiposAsunto AS t
    LEFT JOIN CTE_RepEstResumen AS r 
        ON p.Periodo = r.Periodo
        AND r.NumGuardado = r.MaxNumGuardado
        AND r.CatOrganismoId = @pi_CatOrganismoId
        AND r.TipoAsuntoId = t.TipoAsuntoId
    WHERE 
        (TRY_CONVERT(DATE, RTRIM(p.Inicio), 103) BETWEEN DATEFROMPARTS(@pi_Anio, 1, 1) AND DATEFROMPARTS(@pi_Anio, 12, 31))
        OR (TRY_CONVERT(DATE, RTRIM(p.Fin), 103) BETWEEN DATEFROMPARTS(@pi_Anio, 1, 1) AND DATEFROMPARTS(@pi_Anio, 12, 31))
        OR (TRY_CONVERT(DATE, RTRIM(p.Inicio), 103) < DATEFROMPARTS(@pi_Anio, 1, 1) AND TRY_CONVERT(DATE, RTRIM(p.Fin), 103) > DATEFROMPARTS(@pi_Anio, 12, 31))
    ORDER BY 
        t.TipoAsuntoId, P.Periodo DESC;
    
	END TRY
	BEGIN CATCH
		SELECT
			@ErrorMessage = ERROR_MESSAGE()
		   ,@ErrorSeverity = ERROR_SEVERITY()
		   ,@ErrorState = ERROR_STATE();

		RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
	END CATCH
END