USE [SISE_NEW]
GO
/****** Object:  StoredProcedure [SISE3].[pcConsultarRolAudiencia]    Script Date: 10/10/2024 07:08:54 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ==========================================================================================
-- Author:		Isidro Neri Silva
-- Create date: 09/10/2024
-- Description:	Obtiene la descripcion del rol de la audiencia
-- Ejemplo de Ejecución [SISE3].[pcConsultarRolAudiencia] 'Parte';
-- ==========================================================================================
ALTER PROCEDURE [SISE3].[pcConsultarRolAudiencia]
(
@pi_sDescripcion NVARCHAR(255)
)
AS
BEGIN
 DECLARE 
        @ErrorMessage NVARCHAR(4000),
        @ErrorSeverity INT,
        @ErrorState INT,
        @CaracterPersonaId INT,
		@rolAsistente NVARCHAR(50);

    BEGIN TRY
        SELECT @CaracterPersonaId = CatCaracterPersonaAsuntoId 
        FROM CatCaracterPersonaAsunto 
        WHERE StatusReg = 1 
        AND CatTipoAsuntoId = 74  
        AND Descripcion = @pi_sDescripcion;

        IF @CaracterPersonaId IS NULL
        BEGIN

            SELECT 
                idPuestoPersonaAudiencia AS 'ID',
                descripcionPuestoPersonaAudiencia AS 'DESCRIPCION'
            FROM CatPuestoPersonaAudiencia WITH (NOLOCK)
            WHERE idEstatus = 1 
            AND CatTipoAsuntoId = 74 
            AND descripcionPuestoPersonaAudiencia = @pi_sDescripcion;

            RETURN;
        END

        SET @rolAsistente = CASE 
                                WHEN @CaracterPersonaId IN (254, 257, 258, 260, 263) THEN 'Parte'
                                ELSE 'Tercero'
                            END;
        SELECT 
            idPuestoPersonaAudiencia AS 'ID',
            descripcionPuestoPersonaAudiencia AS 'DESCRIPCION'
        FROM CatPuestoPersonaAudiencia WITH (NOLOCK)
        WHERE idEstatus = 1 
        AND CatTipoAsuntoId = 74 
        AND descripcionPuestoPersonaAudiencia = @rolAsistente;

    END TRY
    BEGIN CATCH
        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE();

        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END