USE [SISE_NEW]
GO
/****** Object:  StoredProcedure [SISE3].[pcConsultaCatMateriaPorOrganismo]    Script Date: 25/02/2025 05:39:52 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ==========================================================================================
-- Author:		Isidro Neri Silva
-- Create date: 10/022/2025
-- Description:	Consultas información de materia del organismo
-- Ejemplo de ejecución: [SISE3].[pcConsultaCatMateriaPorOrganismo] 180, 2
-- ==========================================================================================
CREATE PROCEDURE [SISE3].[pcConsultaCatMateriaPorOrganismo](
	@pi_CatOrganismoId INT,
	@pi_CatTipoOrganismoId INT
)
AS
BEGIN
DECLARE 
		@ErrorMessage NVARCHAR(4000),
		@ErrorSeverity INT,
		@ErrorState INT;

	BEGIN TRY

    BEGIN
		  
		SELECT co.CatOrganismoId,
			   co.CatTipoOrganismoId,
			   cm.CatMateriaId,
			   cm.Nombre 
		FROM CatOrganismos co
		INNER JOIN CatMaterias cm ON cm.CatMateriaId = co.CatMateriaId
		WHERE co.CatOrganismoId = @pi_CatOrganismoId AND co.CatTipoOrganismoId = @pi_CatTipoOrganismoId

    END	
END TRY
	BEGIN CATCH
		SELECT 
			@ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),                 
            @ErrorState =ERROR_STATE();

		RAISERROR (@ErrorMessage,@ErrorSeverity,@ErrorState);
	END CATCH
END