USE [SISE_NEW]
GO
/****** Object:  StoredProcedure [SISE3].[piInsertaResolucionEscrita]    Script Date: 17/10/2024 07:18:27 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ==========================================================================================
-- Author: Isidro Neri Silva
-- Create date: 17/10/2024
-- Description:	Inserta las resoluciones escritas, este sp se basa en el TAU_piResolucionEscrita, se genera nuevo ya que requiere ajustes.
-- ==========================================================================================
CREATE PROCEDURE [SISE3].[piInsertaResolucionEscrita]
 @pi_fkIdAsuntoNeun    BIGINT
,@pi_idResolucion       INT
,@pi_IdTipoResolucion   INT
,@pi_fechaInicio       DATETIME
,@pi_fechaFin          DATETIME
,@pi_idUsuario         INT
,@pi_descripcionResolucuion VARCHAR(500)
,@pi_idJuez	INT=0
AS
BEGIN
SET NOCOUNT ON;
DECLARE 
		@ErrorMessage NVARCHAR(4000),
		@ErrorSeverity INT,
		@ErrorState INT,
		@ExisteReg INT,
		@NumeroAsunto VARCHAR(50),
		@IdOrgano INT;

	BEGIN TRY

SELECT
	@ExisteReg = COUNT(*)
FROM TAU_MOV_ResolucionSolicitudes
WHERE fkIdAsuntoNeun = @pi_fkIdAsuntoNeun
AND idResolucion = @pi_idResolucion

IF @ExisteReg > 0
BEGIN
SELECT
	kIdResolucionSolicitudes
   ,fkIdAsuntoNeun
   ,idResolucion
   ,fkIdTipoResolucion
   ,fkIdEstatusResolucion
   ,fechaInicio
   ,fechaFin
   ,fechaAlta
   ,idUsuarioAlta
   ,sDescripcionResolucion
   ,AsuntoAlias
   ,fkCatOrganismoId
   ,fechaModificacion
   ,idJuez
   ,fkIdExclusion
FROM dbo.TAU_MOV_ResolucionSolicitudes WITH (NOLOCK)
WHERE fkIdAsuntoNeun = @pi_fkIdAsuntoNeun
AND idResolucion = @pi_idResolucion
END
ELSE
BEGIN

IF @pi_IdTipoResolucion <> 31
BEGIN

SET @pi_descripcionResolucuion = (SELECT
		a.sTipoResolucion
	FROM TAU_CAT_TipoResolucion a WITH (NOLOCK)
	WHERE a.kIdTipoResolucion = @pi_IdTipoResolucion);
			END

SELECT
	@NumeroAsunto = AsuntoAlias
   ,@IdOrgano = CatOrganismoId
FROM Asuntos WITH (NOLOCK)
WHERE AsuntoNeunId = @pi_fkIdAsuntoNeun;

INSERT INTO dbo.TAU_Mov_Exclusion (fCatOrganismoId
, fkIdMotivo
, fkIdTipoMovimiento
, ffechaIncio
, ffechaFin
, iUsuario
, iEstatus
, fFechaRegistro
, fidElemento
, sObservacion)
	VALUES (@IdOrgano, 7, 5, @pi_fechaInicio, @pi_fechaFin, @pi_idUsuario, 1, GETDATE(), @pi_idJuez, 'Provisional')

DECLARE @idExclusion BIGINT = SCOPE_IDENTITY()


INSERT INTO dbo.TAU_MOV_ResolucionSolicitudes (fkIdAsuntoNeun
, idResolucion
, fkIdTipoResolucion
, fkIdEstatusResolucion
, fechaInicio
, fechaFin
, fechaAlta
, idUsuarioAlta
, sDescripcionResolucion
, AsuntoAlias
, fkCatOrganismoId
, fechaModificacion
, idJuez
, fkIdExclusion)
	VALUES (@pi_fkIdAsuntoNeun, @pi_idResolucion, @pi_IdTipoResolucion, 1, @pi_fechaInicio, @pi_fechaFin, GETDATE(), @pi_idUsuario, @pi_descripcionResolucuion, @NumeroAsunto, @IdOrgano, GETDATE(), @pi_idJuez, @idExclusion)


DECLARE @id BIGINT = SCOPE_IDENTITY()

SELECT
	rs.kIdResolucionSolicitudes
   ,rs.fkIdAsuntoNeun
   ,rs.idResolucion
   ,rs.fkIdTipoResolucion
   ,b.sEstatusResolucion
   ,rs.fkIdEstatusResolucion
   ,rs.fechaInicio
   ,rs.fechaFin
   ,rs.fechaAlta
   ,rs.idUsuarioAlta
   ,rs.sDescripcionResolucion
   ,rs.AsuntoAlias
   ,rs.fkCatOrganismoId
   ,rs.fechaModificacion
   ,rs.idJuez
   ,CASE
		WHEN rs.idJuez = 0 THEN ''
		ELSE ISNULL(juez.Nombre + ' ' + juez.ApellidoPaterno + ' ' + juez.ApellidoMaterno, '')
	END AS NombreJuez
   ,rs.fkIdExclusion
   ,a.CatTipoAsuntoId
   ,a.CatTipoProcedimiento
   ,ta.Descripcion AS TipoAsunto
   ,CASE
		WHEN ISNULL(sub3.CatalogoDependienteDescripcion,
			ISNULL(ti.CatalogoDependienteDescripcion,
			ISNULL(pe.CatalogoDependienteDescripcion, ''))) = 'INCIDENTES' OR
			ISNULL(sub3.CatalogoDependienteDescripcion, '') = 'Solicitud de inicio de Procedimiento de Ejecución (SIPE)' OR
			ISNULL(sub3.CatalogoDependienteDescripcion, '') = 'Solicitud de Traslado' OR
			ISNULL(sub3.CatalogoDependienteDescripcion, '') = 'Controversia' OR
			ISNULL(sub3.CatalogoDependienteDescripcion, '') = 'Ejecución Medida Cautelar' THEN 'Proceso de Ejecución'
		ELSE ISNULL(sub2.CatalogoDependienteDescripcion, ISNULL(tp.CatalogoDependienteDescripcion, ''))
	END AS TipoProcedimiento
   ,ISNULL(sub3.CatalogoDependienteDescripcion,
	ISNULL(ti.CatalogoDependienteDescripcion,
	ISNULL(pe.CatalogoDependienteDescripcion, ''))) AS Nivel3
   ,ISNULL(sub4.CatalogoDependienteDescripcion, ISNULL(inc.CatalogoDependienteDescripcion, '')) AS Nivel4

FROM dbo.TAU_MOV_ResolucionSolicitudes rs WITH (NOLOCK)
INNER JOIN TAU_CAT_EstatusResolucion b WITH (NOLOCK)
	ON b.kIdEstatusResolucion = rs.fkIdEstatusResolucion
LEFT JOIN CatEmpleados juez WITH (NOLOCK)
	ON juez.EmpleadoId = rs.idJuez
INNER JOIN [dbo].[Asuntos] a WITH (NOLOCK)
	ON rs.fkIdAsuntoNeun = a.AsuntoNeunId
INNER JOIN CatTiposAsunto ta WITH (NOLOCK)
	ON a.CatTipoAsuntoId = ta.CatTipoAsuntoId
LEFT JOIN TAU_Mov_ReservacionJuezControl jae
	ON a.AsuntoNeunId = jae.fAsuntoNeunId
LEFT JOIN CatEmpleados ce WITH (NOLOCK)
	ON jae.idJuez = ce.EmpleadoId
LEFT JOIN CatalogosDependientes tp
	ON tp.CatalogoDependienteIdPadre = 13298
		AND tp.CatalogoDependienteElementoIDNew = a.CatTipoProcedimiento
		AND tp.CatalogoDependienteId = 734
		AND tp.CatalogoDependienteNivel = 2
LEFT JOIN CatalogosDependientes ti
	ON ti.CatalogoDependienteIdPadre = 13300
		AND ti.CatalogoDependienteElementoIDNew = a.CatTipoProcedimiento
		AND ti.CatalogoDependienteId = 734
		AND ti.CatalogoDependienteNivel = 3
LEFT JOIN CatalogosDependientes pe
	ON pe.CatalogoDependienteIdPadre = 13482
		AND pe.CatalogoDependienteElementoIDNew = a.CatTipoProcedimiento
		AND pe.CatalogoDependienteId = 734
		AND pe.CatalogoDependienteNivel = 3
LEFT JOIN CatalogosDependientes inc
	ON inc.CatalogoDependienteIdPadre IN (SELECT
				ID
			FROM viCatalogos
			WHERE CatalogoPadre = 13488
			AND Catalogo = 734)
		AND inc.CatalogoDependienteElementoIDNew = a.CatTipoProcedimiento
		AND inc.CatalogoDependienteId = 734
		AND inc.CatalogoDependienteNivel = 4
LEFT JOIN REL_NoCarpInvetAsuntosSISE rel2
	ON rel2.iAsuntoNeunId = a.AsuntoNeunId
LEFT JOIN CatalogosDependientes sub2
	ON sub2.CatalogoDependienteElementoIDNew = rel2.iTipoSubNivel
		AND sub2.CatalogoDependienteId = 734
		AND sub2.CatalogoDependienteNivel = 2
LEFT JOIN CatalogosDependientes sub3
	ON sub3.CatalogoDependienteElementoIDNew = rel2.iTipoSubNivel
		AND sub3.CatalogoDependienteId = 734
		AND sub3.CatalogoDependienteNivel = 3
LEFT JOIN CatalogosDependientes sub4
	ON sub4.CatalogoDependienteElementoIDNew = rel2.iTipoSubNivel
		AND sub4.CatalogoDependienteId = 734
		AND sub4.CatalogoDependienteNivel = 4
WHERE rs.kIdResolucionSolicitudes = @id
AND a.StatusReg = 1
AND a.AsuntoNeunId = @pi_fkIdAsuntoNeun
ORDER BY a.AsuntoNeunID ASC;

UPDATE TAU_Mov_Exclusion
SET sObservacion = 'Exclusión por Resolución de Solicitud que no requiere audiencia. Expediente: ' + @NumeroAsunto + ' Neun: ' + CONVERT(VARCHAR(8), @pi_fkIdAsuntoNeun) + ' Número de versión escrita: ' + CONVERT(VARCHAR(10), @pi_idResolucion)
WHERE kIdExclusion = @idExclusion
END

END TRY
BEGIN CATCH
SELECT
	@ErrorMessage = ERROR_MESSAGE()
   ,@ErrorSeverity = ERROR_SEVERITY()
   ,@ErrorState = ERROR_STATE();

RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
END CATCH
END