8USE [SISE_NEW]
GO
/****** Object:  StoredProcedure [SISE3].[piInsertarPrivilegioRol]    Script Date: 14/08/2024 03:54:31 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ==========================================================================================
-- Author:		Isidro Neri Silva
-- Create date: 13/08/2024
-- Description:	Inserta privilegios de un rol
-- ==========================================================================================
CREATE PROCEDURE [SISE3].[piInsertarPrivilegioRol](
    @pi_IdRol INT,
    @pi_IdPrivilegio INT,
    @pi_bDeniega_Agrega BIT
)
AS
BEGIN
DECLARE 
    @ErrorMessage NVARCHAR(4000),
    @ErrorSeverity INT,
    @ErrorState INT,
    @ExistePrivilegio INT;

BEGIN TRY

    -- Verificar si el privilegio ya existe en la relación con el rol
    SET @ExistePrivilegio = (SELECT COUNT(IdPrivilegioxRol) 
                             FROM SISE3.REL_PrivilegioXRol 
                             WHERE IdRol = @pi_IdRol AND IdPrivilegio = @pi_IdPrivilegio);

    -- Validar si el privilegio existe en el catálogo de privilegios
    IF (NOT EXISTS(SELECT IdPrivilegio 
                   FROM SISE3.CatPrivilegio 
                   WHERE IdPrivilegio = @pi_IdPrivilegio))
    BEGIN
        RAISERROR ('No existe el Privilegio', 16, 1);
    END
    -- Validar si el rol existe en el catálogo de roles
    ELSE IF (NOT EXISTS(SELECT IdRol 
                        FROM SISE3.CatRol 
                        WHERE IdRol = @pi_IdRol))
    BEGIN
        RAISERROR ('No existe el Rol', 16, 1);
    END
    -- Si no existe el privilegio para el rol, insertar un nuevo registro
    ELSE IF (@ExistePrivilegio = 0)
    BEGIN
        INSERT INTO SISE3.REL_PrivilegioXRol
            (IdRol, IdPrivilegio, bEstatus, fFechaAlta, fFechaBaja)
        VALUES
            (@pi_IdRol, @pi_IdPrivilegio, @pi_bDeniega_Agrega, GETDATE(), NULL);

        SELECT * 
        FROM SISE3.REL_PrivilegioXRol 
        WHERE IdPrivilegioxRol = SCOPE_IDENTITY();
    END
    -- Si ya existe el privilegio para el rol, actualizar el registro
    ELSE IF (@ExistePrivilegio <> 0)
    BEGIN
        UPDATE SISE3.REL_PrivilegioXRol 
        SET bEstatus = @pi_bDeniega_Agrega
        WHERE IdRol = @pi_IdRol AND IdPrivilegio = @pi_IdPrivilegio;

        SELECT IdPrivilegioxRol, IdRol, IdPrivilegio, bEstatus, fFechaAlta, fFechaBaja  
        FROM SISE3.REL_PrivilegioXRol 
        WHERE IdRol = @pi_IdRol AND IdPrivilegio = @pi_IdPrivilegio;
    END
END TRY
BEGIN CATCH
    SELECT 
        @ErrorMessage = ERROR_MESSAGE(),
        @ErrorSeverity = ERROR_SEVERITY(),                 
        @ErrorState = ERROR_STATE();

    RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
END CATCH
END
