USE [SISE_NEW]
GO
/****** Object:  StoredProcedure [SISE3].[pcObtenerTipoAsuntoDetalles]    Script Date: 04/11/2024 05:37:33 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ==========================================================================================
-- Author:		Isidro Neri Silva
-- Create date: 04/11/2024
-- Description:	Obtiene detalles del tipo asunto
-- ==========================================================================================
CREATE PROCEDURE [SISE3].[pcObtenerTipoAsuntoDetalles]
AS
BEGIN

DECLARE 
    @ErrorMessage NVARCHAR(4000),
    @ErrorSeverity INT,
    @ErrorState INT;

BEGIN TRY

SELECT TipoAsuntoId
	  ,DescripcionXCat
	  ,Descripcion
	  ,TipoCampo
	  ,TipoCampoId
	  ,Catalogo
FROM viTiposAsunto
WHERE CatTipoAsuntoId = 74 and Padre = 11993

   
END TRY
BEGIN CATCH
    SELECT 
        @ErrorMessage = ERROR_MESSAGE(),
        @ErrorSeverity = ERROR_SEVERITY(),                 
        @ErrorState = ERROR_STATE();

    RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
END CATCH;
END