USE [SISE_NEW]
GO
/****** Object:  StoredProcedure [SISE3].[pcConsecutivoAudienciaAlzada]    Script Date: 27/11/2024 06:06:46 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ==========================================================================================
-- Author:		Isidro Neri Silva
-- Create date: 25/11/2024
-- Description:	Obtiene el consecutivo de la audiencia de alzada por asunto neun id
-- ==========================================================================================
CREATE PROCEDURE [SISE3].[pcConsecutivoAudienciaAlzada]
    @pi_fkIdAsuntoNeun BIGINT
AS
BEGIN
    DECLARE 
        @ErrorMessage NVARCHAR(4000),
        @ErrorSeverity INT,
        @ErrorState INT;

    BEGIN TRY
   
    
            SELECT 
                ISNULL(MAX(idAudiencia), 0) + 1 AS noAudiencia
            FROM 
                InformacionGeneralAudiencia WITH (NOLOCK)
            WHERE 
                fkIdAsuntoNeun = @pi_fkIdAsuntoNeun and fkIdTipoAudiencia in (236, 267);

       
    END TRY
    BEGIN CATCH
        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),                 
            @ErrorState = ERROR_STATE();

        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
