USE [SISE_NEW]
GO
/****** Object:  StoredProcedure [SISE3].[peEliminaRolEmpleado]    Script Date: 23/07/2024 12:31:21 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ==========================================================================================
-- Author:		Erick Garcia de la Rosa
-- Create date: 25/06/2024
-- Description:	Elimina el rol de un empleado.
-- ==========================================================================================
CREATE PROCEDURE [SISE3].[peEliminaRolEmpleado]
(
	@pe_fkIdRol INT,
	@pe_fkIdCatEmpleado INT,
	@pe_bStatus INT
)
AS
BEGIN

	DECLARE 
		@ErrorMessage NVARCHAR(4000),
		@ErrorSeverity INT,
		@ErrorState INT;

	BEGIN TRY
		
		UPDATE SISE3.REL_RolEmpleadoXOrganismo 
		SET bStatus=@pe_bStatus
		WHERE IdRol = @pe_fkIdRol AND IdCatEmpleado = @pe_fkIdCatEmpleado;

		SELECT IdEmpleadoRol,IdRol,IdOrganismo,IdCatEmpleado,fFechaAlta,fFechaBaja,bStatus FROM SISE3.REL_RolEmpleadoXOrganismo WHERE IdRol = @pe_fkIdRol AND IdCatEmpleado = @pe_fkIdCatEmpleado;

	END TRY
	BEGIN CATCH
		SELECT 
			@ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),                 
            @ErrorState =ERROR_STATE();

		RAISERROR (@ErrorMessage,@ErrorSeverity,@ErrorState);
	END CATCH
END