USE [SISE_NEW]
GO
/****** Object:  StoredProcedure [SISE3].[pc_ConsultaExistePermisoPersonalizado]    Script Date: 25/07/2024 06:22:06 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ==========================================================================================
-- Author: Isidro Neri Silva
-- Create date: 25/07/2024
-- Description:	Consulta si existe un permisos personalizado.
-- ==========================================================================================
CREATE PROCEDURE [SISE3].[pc_ConsultaExistePermisoPersonalizado]
    @pc_IdEmpleadoRol INT,
    @pc_IdPrivilegio INT
AS
BEGIN
DECLARE 
		@ErrorMessage NVARCHAR(4000),
		@ErrorSeverity INT,
		@ErrorState INT;
BEGIN TRY
    SELECT IdPermisosPersonalizados,
	       IdEmpleadoRol,
		   IdPrivilegio,
		   bDeniega_Agrega
        FROM SISE3.PermisosPersonalizados
        WHERE IdEmpleadoRol = @pc_IdEmpleadoRol AND IdPrivilegio = @pc_IdPrivilegio
END TRY
	BEGIN CATCH
		SELECT 
			@ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),                 
            @ErrorState =ERROR_STATE();

		RAISERROR (@ErrorMessage,@ErrorSeverity,@ErrorState);
	END CATCH
END