USE [SISE_NEW]
GO
/****** Object:  StoredProcedure [SISE3].[pcConsultarPrivilegiosRol]    Script Date: 14/08/2024 03:52:03 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ==========================================================================================
-- Author:		Isidro Neri Silva
-- Create date: 12/08/2024
-- Description:	Obtiene los privilegios que pertenecen a un rol
-- ==========================================================================================
CREATE PROCEDURE [SISE3].[pcConsultarPrivilegiosRol]
(
@pc_IdRol INT
)
AS
BEGIN
DECLARE 
		@ErrorMessage NVARCHAR(4000),
		@ErrorSeverity INT,
		@ErrorState INT;

	BEGIN TRY
SELECT 
    cp.IdPrivilegio,
    cp.sNombrePrivilegio,
	cp.sDescripcion,
	cp.sModulo,
    CASE 
        WHEN EXISTS (
            SELECT 1 
            FROM SISE3.REL_PrivilegioXRol pp 
            WHERE pp.IdPrivilegio = cp.IdPrivilegio and pp.IdRol = @pc_IdRol and pp.bEstatus = 1
        ) THEN CAST(1 AS BIT) ELSE CAST(0 AS BIT) END AS flg_permiso
FROM 
   SISE3.CatPrivilegio cp;
	END TRY
	BEGIN CATCH
		SELECT 
			@ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),                 
            @ErrorState =ERROR_STATE();

		RAISERROR (@ErrorMessage,@ErrorSeverity,@ErrorState);
	END CATCH
END
