USE [SISE_NEW]
GO
/****** Object:  StoredProcedure [SISE3].[pcSalasPorOrganismo]    Script Date: 19/12/2024 05:47:02 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/***************************************************************************************************************************/
-- Autor : Isidro Neri Silva
-- Fecha de Creacion:  2024-10-25
-- Descripcion: Obtiene las salas moviles por organismo
-- Ejemplo : EXEC [SISE3].[pcSalasPorOrganismo] 14662
/***************************************************************************************************************************/
ALTER PROCEDURE [SISE3].[pcSalasPorOrganismo]
   @pi_idOrganismo		INT,
   @pi_resultado INT = 1
AS
BEGIN
	DECLARE 
		@ErrorMessage NVARCHAR(4000),
		@ErrorSeverity INT,
		@ErrorState INT

	SET NOCOUNT ON
	BEGIN TRY
	
	IF (@pi_resultado = 1)
        BEGIN
            SELECT 
                a.idOrganismo AS OrganismoId,
                a.idSala AS IdSala,
                a.descripcionSala AS Sala,
                a.iNumeroSala AS NumeroSala,
                a.fiIdTipoSala AS IdTipoSala
            FROM CatSalas a
            WHERE 
                a.idEstatus = 1
                AND a.idOrganismo = @pi_idOrganismo
                AND a.fiIdTipoSala = 3
            ORDER BY a.descripcionSala;
        END
        ELSE
        BEGIN
            SELECT 
                a.idOrganismo AS OrganismoId,
                a.idSala AS IdSala,
                a.descripcionSala AS Sala,
                a.iNumeroSala AS NumeroSala,
                a.fiIdTipoSala AS IdTipoSala
            FROM CatSalas a
            WHERE 
                a.idEstatus = 1
                AND a.idOrganismo = @pi_idOrganismo
                AND a.fiIdTipoSala <> 1
            ORDER BY a.descripcionSala;
        END

	END TRY
	BEGIN CATCH
		SELECT 
			@ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),                 
            @ErrorState =ERROR_STATE();
		RAISERROR (@ErrorMessage,@ErrorSeverity,@ErrorState);
	END CATCH
	SET NOCOUNT OFF
	
END
