USE [SISE_NEW]
GO
/****** Object:  StoredProcedure [SISE3].[paActualizarPrivilegio]    Script Date: 14/08/2024 03:48:40 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ==========================================================================================
-- Author:		Isidro Neri Silva
-- Create date: 25/06/2024
-- Description:	Actualiza un privilegio del catalogo
-- ==========================================================================================
CREATE PROCEDURE [SISE3].[paActualizarPrivilegio](
    @pa_kIdPrivilegio INT,
    @pa_sNombrePrivilegio VARCHAR(255),
    @pa_sDescripcion VARCHAR(255),
    @pa_sModulo VARCHAR(255),
    @pa_bEstatus smallint
)
AS
BEGIN

	DECLARE 
		@ErrorMessage NVARCHAR(4000),
		@ErrorSeverity INT,
		@ErrorState INT;

	BEGIN TRY 
        
	UPDATE SISE3.CatPrivilegio
    SET sNombrePrivilegio =  @pa_sNombrePrivilegio,
        sDescripcion =  @pa_sDescripcion,
        sModulo =  @pa_sModulo,
        bEstatus =  @pa_bEstatus
    WHERE idPrivilegio =  @pa_kIdPrivilegio;
        
		SELECT* FROM SISE3.CatPrivilegio WHERE idPrivilegio =  @pa_kIdPrivilegio;
      
	END TRY
	BEGIN CATCH
		SELECT 
			@ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),                 
            @ErrorState =ERROR_STATE();

		RAISERROR (@ErrorMessage,@ErrorSeverity,@ErrorState);
	END CATCH
END