USE [SISE_NEW]
GO
/****** Object:  StoredProcedure [SISE3].[pe_RepEstDetalleDetalleComOficDel]    Script Date: 25/04/2025 05:29:35 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ==========================================================================================
-- Author: Isidro Neri Silva
-- Create date: 25/04/2025
-- Description:	Elimina Detalle Reporte Capturado de Comunicaciones Oficiales
-- SP Original: [dbo].[usp_RepEstDetalleDetalleComOficDel]
-- ==========================================================================================
CREATE PROCEDURE [SISE3].[pe_RepEstDetalleDetalleComOficDel] 
(
    @pi_CatOrganismoId INT,
    @pi_TipoAsuntoId INT,
    @pi_Diferente INT,
    @pi_Periodo INT,
    @pi_NumExpediente VARCHAR(50),
    @pi_AsuntoNeunId BIGINT, 
    @pi_NumMultiple INT, 
    @pi_NumGuardado INT
)
AS
BEGIN

	DECLARE 
		@ErrorMessage NVARCHAR(4000),
		@ErrorSeverity INT,
		@ErrorState INT;

	BEGIN TRY

	SET NOCOUNT ON;

    DECLARE @RegistrosActualizados INT = 0;

	UPDATE RepEstDetalle WITH(ROWLOCK) 
	SET StatusReg=0,
		FechaBaja=GETDATE()
	WHERE CatOrganismoId = @pi_CatOrganismoId
	AND	TipoAsuntoId = @pi_TipoAsuntoId
	AND	Diferente = @pi_Diferente
	AND	Periodo = @pi_Periodo
	AND	NumExpediente = @pi_NumExpediente
	AND AsuntoNeunId = @pi_AsuntoNeunId
	AND NumMultiple = @pi_NumMultiple
	AND NumGuardado = @pi_NumGuardado
	AND StatusReg=1

	SET @RegistrosActualizados = @RegistrosActualizados + @@ROWCOUNT;

	UPDATE RepEstDetalleDetalleComOfic WITH(ROWLOCK) 
	SET FechaBaja=GETDATE(),
		StatusReg=0
	WHERE CatOrganismoId = @pi_CatOrganismoId
	AND	TipoAsuntoId = @pi_TipoAsuntoId
	AND	Diferente = @pi_Diferente
	AND	Periodo = @pi_Periodo
	AND	NumExpediente = @pi_NumExpediente
	AND AsuntoNeunId = @pi_AsuntoNeunId
	AND NumMultiple = @pi_NumMultiple
	AND NumGuardado = @pi_NumGuardado
	AND StatusReg=1

	SET @RegistrosActualizados = @RegistrosActualizados + @@ROWCOUNT;

	SELECT @RegistrosActualizados AS RegistrosEliminados;

	SET NOCOUNT OFF;
		
	END TRY
	BEGIN CATCH
		SELECT 
			@ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),                 
            @ErrorState =ERROR_STATE();

		RAISERROR (@ErrorMessage,@ErrorSeverity,@ErrorState);
	END CATCH
END