USE [SISE_NEW]
GO
/****** Object:  StoredProcedure [SISE3].[piInsertaDetalleCatalogos]    Script Date: 06/08/2024 09:29:29 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ==========================================================================================
-- Author:		Isidro Neri Silva
-- Create date: 05/08/2024
-- Description:	Inserta Asuntos Detalle Catalogos
-- ==========================================================================================
CREATE PROCEDURE [SISE3].[piInsertaDetalleCatalogos](
@pi_AsuntosNeunId bigint
,@pi_AsuntoID int
,@pi_AsuntoDetalleCatalogosId int
,@pi_TipoAsuntoId int
,@pi_CatTipoCatalogoAsuntoId int
,@pi_CatCatalogoAsuntoId int
,@pi_NoCaptura smallint
,@pi_NoBloque smallint
,@pi_NoBloquePadre smallint
,@pi_Consecutivo int
,@pi_StatusReg smallint
,@pi_EmpleadoId bigint
)
AS
BEGIN

	DECLARE 
		@ErrorMessage NVARCHAR(4000),
		@ErrorSeverity INT,
		@ErrorState INT;


    BEGIN TRY
INSERT INTO [dbo].[AsuntosDetalleCatalogos]
           ([AsuntosNeunId]
           ,[AsuntoID]
           ,[AsuntoDetalleCatalogosId]
           ,[TipoAsuntoId]
           ,[CatTipoCatalogoAsuntoId]
           ,[CatCatalogoAsuntoId]
           ,[NoCaptura]
           ,[NoBloque]
           ,[NoBloquePadre]
           ,[Consecutivo]
           ,[FechaAlta]
           ,[FechaBaja]
           ,[StatusReg]
           ,[EmpleadoId]
           ,[IsMigrated])
     VALUES
           (@pi_AsuntosNeunId
           ,@pi_AsuntoID
           ,@pi_AsuntoDetalleCatalogosId
           ,@pi_TipoAsuntoId
           ,@pi_CatTipoCatalogoAsuntoId
           ,@pi_CatCatalogoAsuntoId
           ,@pi_NoCaptura
           ,@pi_NoBloque
           ,@pi_NoBloquePadre
           ,@pi_Consecutivo
           ,GETDATE()
           ,NULL
           ,@pi_StatusReg
           ,@pi_EmpleadoId
           ,NULL)

    END TRY
    BEGIN CATCH
        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),                 
            @ErrorState = ERROR_STATE();

        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END


