USE [SISE_NEW]
GO
/****** Object:  StoredProcedure [SISE3].[pcDetalleResolucionEscrita]    Script Date: 16/12/2024 04:28:05 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ==========================================================================================
-- Author: Isidro Neri Silva
-- Create date: 13/12/2024
-- Description:	Obtiene el detalle de una Resolución sin Audiencia.
-- Ejemplo de ejecución exec [SISE3].[pcDetalleResolucionEscrita] 36069587, 959
-- ==========================================================================================
CREATE PROCEDURE [SISE3].[pcDetalleResolucionEscrita]
 @pi_fkIdAsuntoNeun BIGINT
,@pi_kIdResolucionSolicitudes    BIGINT
AS
BEGIN
SET NOCOUNT ON;
DECLARE 
		@ErrorMessage NVARCHAR(4000),
		@ErrorSeverity INT,
		@ErrorState INT,
		@NumeroAsunto VARCHAR(50),
		@IdOrgano INT;

	BEGIN TRY

SELECT
	rs.kIdResolucionSolicitudes
   ,rs.fkIdAsuntoNeun
   ,rs.idResolucion
   ,rs.fkIdTipoResolucion
   ,b.sEstatusResolucion
   ,rs.fkIdEstatusResolucion
   ,rs.fechaInicio
   ,rs.fechaFin
   ,rs.fechaAlta
   ,rs.idUsuarioAlta
   ,rs.sDescripcionResolucion
   ,rs.AsuntoAlias
   ,rs.fkCatOrganismoId
   ,rs.fechaModificacion
   ,rs.idJuez
   ,d.sNombreUsuarioCert AS UsuarioCertificado
   ,d.fFechaRegistro as FechaCancelacion
   ,CASE
		WHEN rs.idJuez = 0 THEN ''
		ELSE ISNULL(juez.Nombre + ' ' + juez.ApellidoPaterno + ' ' + juez.ApellidoMaterno, '')
	END AS NombreJuez
   ,rs.fkIdExclusion
   ,rs.idUsuarioModificacion
   ,CASE
		WHEN rs.idUsuarioModificacion = 0 THEN ''
		ELSE ISNULL(ce.Nombre + ' ' + ce.ApellidoPaterno + ' ' + ce.ApellidoMaterno, '')
	END AS UsuarioModificacion
   ,rs.sObservacion
   ,a.CatTipoAsuntoId
   ,a.CatTipoProcedimiento
   ,ta.Descripcion AS TipoAsunto
   ,CASE
		WHEN ISNULL(sub3.CatalogoDependienteDescripcion,
			ISNULL(ti.CatalogoDependienteDescripcion,
			ISNULL(pe.CatalogoDependienteDescripcion, ''))) = 'INCIDENTES' OR
			ISNULL(sub3.CatalogoDependienteDescripcion, '') = 'Solicitud de inicio de Procedimiento de Ejecución (SIPE)' OR
			ISNULL(sub3.CatalogoDependienteDescripcion, '') = 'Solicitud de Traslado' OR
			ISNULL(sub3.CatalogoDependienteDescripcion, '') = 'Controversia' OR
			ISNULL(sub3.CatalogoDependienteDescripcion, '') = 'Ejecución Medida Cautelar' THEN 'Proceso de Ejecución'
		ELSE ISNULL(sub2.CatalogoDependienteDescripcion, ISNULL(tp.CatalogoDependienteDescripcion, ''))
	END AS TipoProcedimiento
   ,ISNULL(sub3.CatalogoDependienteDescripcion,
	ISNULL(ti.CatalogoDependienteDescripcion,
	ISNULL(pe.CatalogoDependienteDescripcion, ''))) AS Nivel3
   ,ISNULL(sub4.CatalogoDependienteDescripcion, ISNULL(inc.CatalogoDependienteDescripcion, '')) AS Nivel4
   ,co.NombreOficial
FROM dbo.TAU_MOV_ResolucionSolicitudes rs WITH (NOLOCK)
INNER JOIN TAU_CAT_EstatusResolucion b WITH (NOLOCK)
	ON b.kIdEstatusResolucion = rs.fkIdEstatusResolucion
LEFT JOIN CatEmpleados juez WITH (NOLOCK)
	ON juez.EmpleadoId = rs.idJuez
INNER JOIN CatOrganismos co  WITH (NOLOCK)
	ON co.CatOrganismoId = rs.fkCatOrganismoId
INNER JOIN [dbo].[Asuntos] a WITH (NOLOCK)
	ON rs.fkIdAsuntoNeun = a.AsuntoNeunId
INNER JOIN CatTiposAsunto ta WITH (NOLOCK)
	ON a.CatTipoAsuntoId = ta.CatTipoAsuntoId
LEFT JOIN CatEmpleados ce WITH (NOLOCK)
	ON rs.idUsuarioModificacion = ce.EmpleadoId
OUTER APPLY
(
SELECT TOP 1 *
FROM ICOIJ_Valida_Firma xProp WHERE xProp.idValida=rs.kIdResolucionSolicitudes AND xProp.fkSistema=3 ORDER BY xProp.fFechaRegistro DESC
) AS d
LEFT JOIN CatalogosDependientes tp
	ON tp.CatalogoDependienteIdPadre = 13298
		AND tp.CatalogoDependienteElementoIDNew = a.CatTipoProcedimiento
		AND tp.CatalogoDependienteId = 734
		AND tp.CatalogoDependienteNivel = 2
LEFT JOIN CatalogosDependientes ti
	ON ti.CatalogoDependienteIdPadre = 13300
		AND ti.CatalogoDependienteElementoIDNew = a.CatTipoProcedimiento
		AND ti.CatalogoDependienteId = 734
		AND ti.CatalogoDependienteNivel = 3
LEFT JOIN CatalogosDependientes pe
	ON pe.CatalogoDependienteIdPadre = 13482
		AND pe.CatalogoDependienteElementoIDNew = a.CatTipoProcedimiento
		AND pe.CatalogoDependienteId = 734
		AND pe.CatalogoDependienteNivel = 3
LEFT JOIN CatalogosDependientes inc
	ON inc.CatalogoDependienteIdPadre IN (SELECT
				ID
			FROM viCatalogos
			WHERE CatalogoPadre = 13488
			AND Catalogo = 734)
		AND inc.CatalogoDependienteElementoIDNew = a.CatTipoProcedimiento
		AND inc.CatalogoDependienteId = 734
		AND inc.CatalogoDependienteNivel = 4
LEFT JOIN REL_NoCarpInvetAsuntosSISE rel2
	ON rel2.iAsuntoNeunId = a.AsuntoNeunId
LEFT JOIN CatalogosDependientes sub2
	ON sub2.CatalogoDependienteElementoIDNew = rel2.iTipoSubNivel
		AND sub2.CatalogoDependienteId = 734
		AND sub2.CatalogoDependienteNivel = 2
LEFT JOIN CatalogosDependientes sub3
	ON sub3.CatalogoDependienteElementoIDNew = rel2.iTipoSubNivel
		AND sub3.CatalogoDependienteId = 734
		AND sub3.CatalogoDependienteNivel = 3
LEFT JOIN CatalogosDependientes sub4
	ON sub4.CatalogoDependienteElementoIDNew = rel2.iTipoSubNivel
		AND sub4.CatalogoDependienteId = 734
		AND sub4.CatalogoDependienteNivel = 4
WHERE rs.kIdResolucionSolicitudes = @pi_kIdResolucionSolicitudes
AND a.StatusReg = 1
AND a.AsuntoNeunId = @pi_fkIdAsuntoNeun
ORDER BY a.AsuntoNeunID ASC;

END TRY
BEGIN CATCH
SELECT
	@ErrorMessage = ERROR_MESSAGE()
   ,@ErrorSeverity = ERROR_SEVERITY()
   ,@ErrorState = ERROR_STATE();

RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
END CATCH
END