USE [SISE_NEW]
GO
/****** Object:  StoredProcedure [SISE3].[pcConsultaConfiguracionOrganismo]    Script Date: 29/08/2024 09:36:38 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ==========================================================================================
-- Author:		Isidro Neri Silva
-- Create date: 28/08/2024
-- Description:	Consulta la información de la configuración en base al organismo
-- ==========================================================================================
CREATE PROCEDURE [SISE3].[pcConsultaConfiguracionOrganismo](
    @pi_CatOrganismoId INT
)
AS
BEGIN
    DECLARE 
        @ErrorMessage NVARCHAR(4000),
        @ErrorSeverity INT,
        @ErrorState INT;

    BEGIN TRY
        IF EXISTS (SELECT 1 FROM SISE3.ConfiguracionOrganismo WHERE CatOrganismoId = @pi_CatOrganismoId)
        BEGIN
            SELECT 
                co.CatOrganismoId,
                co.Descripcion,
                co.TieneUNC,
                co.FechaAlta,
                co.FechaBaja,
                co.StatusReg,
                co.bAlertasCorreo
            FROM SISE3.ConfiguracionOrganismo co
            WHERE co.CatOrganismoId = @pi_CatOrganismoId;
        END
        ELSE
        BEGIN
            SELECT 
                @pi_CatOrganismoId AS CatOrganismoId,
                'Organismo no encontrado' AS Descripcion,
                CAST(0 AS BIT) AS TieneUNC,
                NULL AS FechaAlta,
                NULL AS FechaBaja,
                CAST(0 AS SMALLINT) AS StatusReg,
                CAST(0 AS BIT) AS bAlertasCorreo;
        END
    END TRY
    BEGIN CATCH
        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),                 
            @ErrorState = ERROR_STATE();

        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
