USE [SISE_NEW]
GO
/****** Object:  StoredProcedure [SISE3].[pcObtenerDetalleAudiencia]    Script Date: 13/01/2025 02:36:37 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ==========================================================================================
-- Author:		Isidro Neri Silva
-- Create date: 10/10/2024
-- Description:	Se genera SP [SISE3].[pcObtenerDetalleAudiencia] apartir del sp original [dbo].[pcConsultaDetalleAudiencia], ya que se hicieron algunos ajustes
-- Ejemplo de ejecución: exec [SISE3].[pcObtenerDetalleAudiencia] 202810
-- ==========================================================================================
ALTER PROCEDURE [SISE3].[pcObtenerDetalleAudiencia] 
(
@pi_IdInformacionGeneral BIGINT
)
AS
BEGIN
	DECLARE @ErrorMessage NVARCHAR(4000)
		   ,@ErrorSeverity INT
		   ,@ErrorState INT

	BEGIN TRY

		SELECT
				tvigsf.idInformacionGeneralAudiencia
			   ,tvigsf.iNumeroSala
			   ,tvigsf.descripcionSala
			   ,tvigsf.iIdTipoSala
			   ,tvigsf.sDescripcionTipoSala
			   ,tvigsf.fkidSala
			   ,tvigsf.fkIdAsuntoNeun
			   ,tvigsf.idAudiencia
			   ,tvigsf.fkIdTipoAudiencia
			   ,tvigsf.sDescripcionAudiencia
			   ,tvigsf.idEstatusAudiencia
			   ,tvigsf.descripcionEstatusAudiencia
			   ,tvigsf.fechaInicio
			   ,tvigsf.fechaFin
			   ,tvigsf.idJuez
			   ,tvigsf.Juez
			   ,tvigsf.fkCatOrganismoId
			   ,tvigsf.bEsPrivada
			   ,CASE WHEN tvigsf.bEsPrivada = 1 THEN 'Privada' WHEN tvigsf.bEsPrivada = 0 THEN 'Pública' END	AS PrivadaPublica
			   ,tvigsf.bEnviadoOralTis
			   ,tvigsf.AsuntoAlias
			   ,tvigsf.duracion
			   ,tvigsf.idAgendaSIGJP
			   ,tvigsf.rolAsistente
			   ,tvigsf.idrolAsistente
			   ,tvigsf.nuc
			   ,tvigsf.fkIdDefensorPublico
			   ,tvigsf.xmlPromedios
			   ,tvigsf.Token
			   ,tvigsf.CatTipoAsuntoId
			   ,tvigsf.DescripcionAsunto
			   ,tvigsf.NombreOficial
			   ,ce.USERNAME		AS Agendo
			   ,iga.iPrioridad
			   ,CASE WHEN iga.iPrioridad = 0 THEN 'Baja' WHEN iga.iPrioridad = 1 THEN 'Alta' END	AS Prioridad
			   ,iga.fechaAlta
			   ,ts.sDescripcionTipoSala AS DescSala
			   ,CAST(FORMAT(iga.fechaInicio, 'HH:mm:ss') AS VARCHAR(8)) AS horaInicio
			   ,CAST(FORMAT(iga.fechaFin, 'HH:mm:ss') AS VARCHAR(8)) AS HoraFin
			   ,iga.fechamodificacion	AS FechaEstado
			   ,
				CASE
					WHEN EXISTS (SELECT
								1
							FROM InformacionGeneralAudiencia a
							WHERE a.fkIdAsuntoNeun = tvigsf.fkIdAsuntoNeun
							AND a.idInformacionGeneralAudiencia < @pi_IdInformacionGeneral) THEN CAST(1 AS BIT)
					ELSE CAST(0 AS BIT)
				END AS EsContinuacion
			   ,
				ISNULL((SELECT TOP 1
						prev_a.sDescripcionAudiencia
					FROM InformacionGeneralAudiencia prev_a
					WHERE prev_a.fkIdAsuntoNeun = tvigsf.fkIdAsuntoNeun
					AND prev_a.idInformacionGeneralAudiencia < @pi_IdInformacionGeneral
					ORDER BY prev_a.idInformacionGeneralAudiencia DESC)
				, 'No hay audiencia previa') AS AudienciaPrevia
				,CASE 
					WHEN x.IdInformacionGeneralAudiencia IS NOT NULL THEN 'Videoconferencia'
					WHEN tvigsf.sDescripcionTipoSala IN ('Sala', 'Regional') THEN 'Presencial'
					WHEN tvigsf.sDescripcionTipoSala IN ('Virtual') THEN 'Sala Virtual'
					ELSE 'Móvil'
				END		AS Forma
				,(SELECT STRING_AGG(ax.nombreasistente, ', ')
				FROM PersonasAudiencia ax with(nolock) 
				LEFT JOIN TAU_REL_ImputadoDefensorAudiencia bx with(nolock) ON ax.iIdentificadorAsistemte = bx.kImputadoId AND ax.idAudiencia = bx.kNumeroAudiencia AND ax.fkIdAsuntoNeun = bx.kNeunId
				WHERE bx.kImputadoId IS NOT NULL
					AND  ax.fkIdAsuntoNeun = tvigsf.fkIdAsuntoNeun
				GROUP BY ax.fkIdAsuntoNeun)	AS Imputado
				,(SELECT count(*) FROM TAU_REL_ResolucionesAudiencia rr WHERE rr.fkIdInformacionGeneralAudiencia=tvigsf.idInformacionGeneralAudiencia AND rr.iStatusReg=1)	AS ResolucionAudiencia
				,iga.BDIFERIDA
			FROM TAU_VIS_InformacionGeneralSinFiltros tvigsf
			INNER JOIN InformacionGeneralAudiencia iga
				ON tvigsf.idInformacionGeneralAudiencia = iga.idInformacionGeneralAudiencia
			INNER JOIN Asuntos a WITH (NOLOCK)
				ON tvigsf.fkIdAsuntoNeun = a.AsuntoNeunId
			INNER JOIN CatEmpleados ce WITH (NOLOCK)
				ON a.EmpleadoId = ce.EmpleadoId
			INNER JOIN CatSalas sala WITH (NOLOCK)
				ON sala.idSala = iga.idSala
			INNER JOIN TAU_Cat_TipoSala ts WITH (NOLOCK)
				ON ts.iIdTipoSala = sala.fiIdTipoSala
			LEFT JOIN TAU_Rel_ElementoAudiencia x WITH (NOLOCK) 
				ON x.IdInformacionGeneralAudiencia = tvigsf.idInformacionGeneralAudiencia AND x.fkIdTipoElemento = 1 AND x.iEstatus=1
			WHERE tvigsf.idInformacionGeneralAudiencia = @pi_IdInformacionGeneral
			ORDER BY tvigsf.idAudiencia;
	
	END TRY
	BEGIN CATCH
		SELECT
			@ErrorMessage = ERROR_MESSAGE()
		   ,@ErrorSeverity = ERROR_SEVERITY()
		   ,@ErrorState = ERROR_STATE();

		RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
	END CATCH
END