USE [SISE_NEW]
GO
/****** Object:  StoredProcedure [SISE3].[pcConsultaDetalleAudiencia]    Script Date: 19/09/2024 09:49:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ==========================================================================================
-- Author:		Isidro Neri Silva
-- Create date: 17/09/2024
-- Description:	Se genera SP [SISE3].[pcConsultaDetalleAudiencia] apartir del sp original [dbo].[TAU_pcAudiencia], ya que se hicieron algunos ajustes para agregar otros campos.
-- Ejemplo de ejecución: exec [SISE3].[pcConsultaDetalleAudiencia] 202810, 36068136
-- Actualización: Martin Tovar, 27/09/2024: Se agregan campos adicionales de Imputado, Forma Pública/Privada, Prioridad, Resoluciones, Usuario agendó
-- Actualización: Martin Tovar, 28/09/2024: Se ordena por numero de audiencia
-- Actualización: Martin Tovar, 10/10/2024: Se agrega BDIFERIDA y actualiza Forma de audiencia.
-- Actualización: Martin Tovar, 14/10/2024: Se agrega TipoProcedimiento y Nivel3/Nivel4 
-- Actualización: Martin Tovar, 17/10/2024: Se corrige bug Imputados y se limita a 5
-- Actualización: Martin Tovar, 18/10/2024: Se cambia a usaurio relacionado a la Audiencia y se incluyen todas las salas.
-- Actualización: Martin Tovar, 22/10/2024: Se agregan fechas de inicio y fin y datos de audiencias extendidas.
-- Actualización: Martin Tovar, 31/10/2024: Se agrega el número de imputados.
-- Actualización: Martin Tovar, 06/11/2024: Se agregan los imputados adicionales de la audiencia
-- Actualización: Martin Tovar, 06/12/2024: Se agrega bandera de Audiencia de Juicio

-- ==========================================================================================
ALTER PROCEDURE [SISE3].[pcConsultaDetalleAudiencia] 
(
@pi_IdInformacionGeneral BIGINT,
@pi_Neun BIGINT = NULL
)
AS
BEGIN
	DECLARE @ErrorMessage NVARCHAR(4000)
		   ,@ErrorSeverity INT
		   ,@ErrorState INT

	BEGIN TRY

		IF @pi_Neun IS NULL
		BEGIN
		SELECT
				tvigsf.idInformacionGeneralAudiencia
			   ,tvigsf.iNumeroSala
			   ,tvigsf.descripcionSala
			   ,tvigsf.iIdTipoSala
			   ,tvigsf.sDescripcionTipoSala
			   ,tvigsf.fkidSala
			   ,tvigsf.fkIdAsuntoNeun
			   ,tvigsf.idAudiencia
			   ,tvigsf.fkIdTipoAudiencia
			   ,tvigsf.sDescripcionAudiencia
			   ,tvigsf.idEstatusAudiencia
			   ,tvigsf.descripcionEstatusAudiencia
			   ,tvigsf.fechaInicio
			   ,tvigsf.fechaFin
			   ,iga.fechaInicio					AS fechaInicioEstimada
			   ,iga.fechaFin					AS fechaFinEstimada
			   ,iga.fechaInicioCelebrada		AS fechaInicioReal
			   ,iga.fechaFinCelebrada			AS fechaFinReal
			   ,CASE WHEN iga.fechaFinCelebrada > iga.fechaFin THEN 1 ELSE 0 END AS bExtendida   
			   ,(SELECT COUNT(*) FROM TAU_Mov_Observaciones igax WHERE igax.fidInformacionGeneralAudiencia = iga.idInformacionGeneralAudiencia AND igax.fkIdTipoMovimiento = 12) AS NoExtendida   
			   ,tvigsf.idJuez
			   ,tvigsf.Juez
			   ,tvigsf.fkCatOrganismoId
			   ,CASE WHEN tvigsf.bEsPrivada = 1 THEN 'Privada' WHEN tvigsf.bEsPrivada = 0 THEN 'Pública' END	AS PrivadaPublica
			   ,tvigsf.bEnviadoOralTis
			   ,tvigsf.AsuntoAlias
			   ,tvigsf.duracion
			   ,tvigsf.idAgendaSIGJP
			   ,tvigsf.rolAsistente
			   ,tvigsf.idrolAsistente
			   ,tvigsf.nuc
			   ,tvigsf.fkIdDefensorPublico
			   ,tvigsf.xmlPromedios
			   ,tvigsf.Token
			   ,tvigsf.DescripcionAsunto
			   ,tvigsf.NombreOficial
			   ,ce.USERNAME		AS Agendo
			   ,iga.iPrioridad
			   ,CASE WHEN iga.iPrioridad = 0 THEN 'Baja' WHEN iga.iPrioridad = 1 THEN 'Alta' END	AS Prioridad
			   ,iga.fechaAlta
			   ,ts.sDescripcionTipoSala AS DescSala
			   ,CAST(FORMAT(iga.fechaInicio, 'HH:mm:ss') AS VARCHAR(8)) AS horaInicio
			   ,CAST(FORMAT(iga.fechaFin, 'HH:mm:ss') AS VARCHAR(8)) AS HoraFin
			   ,iga.fechamodificacion	AS FechaEstado
			   ,CASE
					WHEN EXISTS (SELECT
								1
							FROM InformacionGeneralAudiencia a
							WHERE a.fkIdAsuntoNeun = tvigsf.fkIdAsuntoNeun
							AND a.idInformacionGeneralAudiencia < @pi_IdInformacionGeneral) THEN CAST(1 AS BIT)
					ELSE CAST(0 AS BIT)
				END AS EsContinuacion
			   ,ISNULL((SELECT TOP 1
						prev_a.sDescripcionAudiencia
					FROM InformacionGeneralAudiencia prev_a
					WHERE prev_a.fkIdAsuntoNeun = tvigsf.fkIdAsuntoNeun
					AND prev_a.idInformacionGeneralAudiencia < @pi_IdInformacionGeneral
					ORDER BY prev_a.idInformacionGeneralAudiencia DESC)
				, 'No hay audiencia previa') AS AudienciaPrevia
				,CASE 
					WHEN x.IdInformacionGeneralAudiencia IS NOT NULL THEN 'Videoconferencia'
					WHEN tvigsf.sDescripcionTipoSala IN ('Sala', 'Regional') THEN 'Presencial'
					WHEN tvigsf.sDescripcionTipoSala IN ('Virtual') THEN 'Sala Virtual'
					ELSE 'Móvil'
				END		AS Forma
			    ,imp.Imputado
			    ,imp.ImputadoOtros
			    ,ISNULL(imp.ImputadosContador,0)		AS ImputadosContador
				,(SELECT count(*) FROM TAU_REL_ResolucionesAudiencia rr WHERE rr.fkIdInformacionGeneralAudiencia=tvigsf.idInformacionGeneralAudiencia AND rr.iStatusReg=1)	AS ResolucionAudiencia
				,iga.BDIFERIDA
				,a.CatTipoProcedimiento
		        ,CASE 
				    WHEN ISNULL(sub3.CatalogoDependienteDescripcion, 
		                        ISNULL(ti.CatalogoDependienteDescripcion, 
		                               ISNULL(pe.CatalogoDependienteDescripcion, ''))) = 'INCIDENTES'
		                 OR ISNULL(sub3.CatalogoDependienteDescripcion, '') = 'Solicitud de inicio de Procedimiento de Ejecución (SIPE)'
		                 OR ISNULL(sub3.CatalogoDependienteDescripcion, '') = 'Solicitud de Traslado'
		                 OR ISNULL(sub3.CatalogoDependienteDescripcion, '') = 'Controversia'
		                 OR ISNULL(sub3.CatalogoDependienteDescripcion, '') = 'Ejecución Medida Cautelar'
		            THEN 'Proceso de Ejecución'
		            ELSE ISNULL(sub2.CatalogoDependienteDescripcion, ISNULL(tp.CatalogoDependienteDescripcion, '')) 
		        END AS TipoProcedimiento
		        ,ISNULL(sub3.CatalogoDependienteDescripcion, 
		               ISNULL(ti.CatalogoDependienteDescripcion, 
		                      ISNULL(pe.CatalogoDependienteDescripcion, ''))) AS Nivel3
		        ,ISNULL(sub4.CatalogoDependienteDescripcion, ISNULL(inc.CatalogoDependienteDescripcion, '')) AS Nivel4
				,CAST(CASE WHEN tvigsf.sDescripcionAudiencia LIKE '%juicio%' THEN 1 ELSE 0 END AS BIT)		AS bJuicio
			FROM TAU_VIS_InformacionGeneralSinFiltros tvigsf
			INNER JOIN InformacionGeneralAudiencia iga
				ON tvigsf.idInformacionGeneralAudiencia = iga.idInformacionGeneralAudiencia
			INNER JOIN Asuntos a WITH (NOLOCK)
				ON tvigsf.fkIdAsuntoNeun = a.AsuntoNeunId
			LEFT JOIN CatEmpleados ce WITH (NOLOCK)
				ON iga.idUsuarioAlta = ce.EmpleadoId
			LEFT JOIN CatSalas sala WITH (NOLOCK)
				ON sala.idSala = iga.idSala
			LEFT JOIN TAU_Cat_TipoSala ts WITH (NOLOCK)
				ON ts.iIdTipoSala = sala.fiIdTipoSala
			LEFT JOIN TAU_Rel_ElementoAudiencia x WITH (NOLOCK) 
				ON x.IdInformacionGeneralAudiencia = tvigsf.idInformacionGeneralAudiencia AND x.fkIdTipoElemento = 1 AND x.iEstatus=1
		    LEFT JOIN CatalogosDependientes tp 
		    	ON tp.CatalogoDependienteIdPadre = 13298 
		        AND tp.CatalogoDependienteElementoIDNew = a.CatTipoProcedimiento
		        AND tp.CatalogoDependienteId = 734
		        AND tp.CatalogoDependienteNivel = 2
		    LEFT JOIN CatalogosDependientes ti 
		    	ON ti.CatalogoDependienteIdPadre = 13300 
		        AND ti.CatalogoDependienteElementoIDNew = a.CatTipoProcedimiento
		        AND ti.CatalogoDependienteId = 734
		        AND ti.CatalogoDependienteNivel = 3
		    LEFT JOIN CatalogosDependientes pe 
		    	ON pe.CatalogoDependienteIdPadre = 13482
		        AND pe.CatalogoDependienteElementoIDNew = a.CatTipoProcedimiento
		        AND pe.CatalogoDependienteId = 734
		        AND pe.CatalogoDependienteNivel = 3
		    LEFT JOIN CatalogosDependientes inc 
		    	ON inc.CatalogoDependienteIdPadre IN 
		        (SELECT ID FROM viCatalogos WHERE CatalogoPadre = 13488 AND Catalogo = 734)
		        AND inc.CatalogoDependienteElementoIDNew = a.CatTipoProcedimiento
		        AND inc.CatalogoDependienteId = 734
		        AND inc.CatalogoDependienteNivel = 4
		    LEFT JOIN REL_NoCarpInvetAsuntosSISE rel2 ON rel2.iAsuntoNeunId = a.AsuntoNeunId
		    LEFT JOIN CatalogosDependientes sub2 
		    	ON sub2.CatalogoDependienteElementoIDNew = rel2.iTipoSubNivel
		        AND sub2.CatalogoDependienteId = 734
		        AND sub2.CatalogoDependienteNivel = 2
		    LEFT JOIN CatalogosDependientes sub3 
		    	ON sub3.CatalogoDependienteElementoIDNew = rel2.iTipoSubNivel
		        AND sub3.CatalogoDependienteId = 734
		        AND sub3.CatalogoDependienteNivel = 3
		    LEFT JOIN CatalogosDependientes sub4 
		    	ON sub4.CatalogoDependienteElementoIDNew = rel2.iTipoSubNivel
		        AND sub4.CatalogoDependienteId = 734
		        AND sub4.CatalogoDependienteNivel = 4
			OUTER APPLY (
			    SELECT 
			        ax.AsuntoNeunId
			        ,ax.idAudiencia
			        ,STRING_AGG(CASE WHEN ax.rn <= 5 THEN RTRIM(ax.Nombre) END, ', ')	AS Imputado
			        ,STRING_AGG(CASE WHEN ax.rn > 5 THEN RTRIM(ax.Nombre) END, ', ')	AS ImputadoOtros
			        ,MAX(NoImputados)		AS ImputadosContador
			    FROM (
			        SELECT 
			            AsuntoNeunId 
			            ,idAudiencia 
			            ,Nombre
			            ,ROW_NUMBER() OVER (PARTITION BY AsuntoNeunId, idAudiencia ORDER BY Nombre)	AS rn
			            ,COUNT(*) OVER(PARTITION BY AsuntoNeunId,idAudiencia)						AS NoImputados
			        FROM (
			            SELECT DISTINCT 
			                ax.fkIdAsuntoNeun AS AsuntoNeunId
			                ,ax.idAudiencia
			                ,LTRIM(RTRIM(CONCAT(LTRIM(RTRIM(pa.Nombre)), ' ', LTRIM(RTRIM(pa.APaterno)), ' ', LTRIM(RTRIM(pa.AMaterno))))) AS Nombre
			            FROM PersonasAudiencia ax WITH (NOLOCK) 
			            LEFT JOIN TAU_REL_ImputadoDefensorAudiencia bx WITH (NOLOCK) 
			                ON ax.iIdentificadorAsistemte = bx.kImputadoId 
			                AND ax.idAudiencia = bx.kNumeroAudiencia 
			                AND ax.fkIdAsuntoNeun = bx.kNeunId
			            LEFT JOIN PersonasAsunto pa 
			                ON pa.ASUNTONEUNID = ax.fkIdAsuntoNeun 
			                AND pa.PERSONAID = ax.identificadorAsistente
			            WHERE bx.kImputadoId IS NOT NULL
			        ) ax
			    ) ax
			    WHERE ax.AsuntoNeunId = tvigsf.fkIdAsuntoNeun
					AND ax.idAudiencia = tvigsf.idAudiencia
			    GROUP BY ax.AsuntoNeunId, ax.idAudiencia
			) imp
			WHERE tvigsf.idInformacionGeneralAudiencia = @pi_IdInformacionGeneral
			ORDER BY tvigsf.idAudiencia;

		END
		ELSE
		BEGIN
			SELECT
				tvigsf.idInformacionGeneralAudiencia
			   ,tvigsf.iNumeroSala
			   ,tvigsf.descripcionSala
			   ,tvigsf.iIdTipoSala
			   ,tvigsf.sDescripcionTipoSala
			   ,tvigsf.fkidSala
			   ,tvigsf.fkIdAsuntoNeun
			   ,tvigsf.idAudiencia
			   ,tvigsf.fkIdTipoAudiencia
			   ,tvigsf.sDescripcionAudiencia
			   ,tvigsf.idEstatusAudiencia
			   ,tvigsf.descripcionEstatusAudiencia
			   ,tvigsf.fechaInicio
			   ,tvigsf.fechaFin
			   ,iga.fechaInicio					AS fechaInicioEstimada
			   ,iga.fechaFin					AS fechaFinEstimada
			   ,iga.fechaInicioCelebrada		AS fechaInicioReal
			   ,iga.fechaFinCelebrada			AS fechaFinReal
			   ,CASE WHEN iga.fechaFinCelebrada > iga.fechaFin THEN 1 ELSE 0 END AS bExtendida
			   ,(SELECT COUNT(*) FROM TAU_Mov_Observaciones igax WHERE igax.fidInformacionGeneralAudiencia = iga.idInformacionGeneralAudiencia AND igax.fkIdTipoMovimiento = 12) AS NoExtendida   
			   ,tvigsf.idJuez
			   ,tvigsf.Juez
			   ,tvigsf.fkCatOrganismoId
			   ,tvigsf.bEsPrivada
			   ,CASE WHEN tvigsf.bEsPrivada = 1 THEN 'Privada' WHEN tvigsf.bEsPrivada = 0 THEN 'Pública' END	AS PrivadaPublica
			   ,tvigsf.bEnviadoOralTis
			   ,tvigsf.AsuntoAlias
			   ,tvigsf.duracion
			   ,tvigsf.idAgendaSIGJP
			   ,tvigsf.rolAsistente
			   ,tvigsf.idrolAsistente
			   ,tvigsf.nuc
			   ,tvigsf.fkIdDefensorPublico
			   ,tvigsf.xmlPromedios
			   ,tvigsf.Token
			   ,tvigsf.DescripcionAsunto
			   ,tvigsf.NombreOficial
			   ,ce.USERNAME		AS Agendo
			   ,iga.iPrioridad
			   ,CASE WHEN iga.iPrioridad = 0 THEN 'Baja' WHEN iga.iPrioridad = 1 THEN 'Alta' END	AS Prioridad
			   ,iga.fechaAlta
			   ,ts.sDescripcionTipoSala AS DescSala
			   ,CAST(FORMAT(iga.fechaInicio, 'HH:mm:ss') AS VARCHAR(8)) AS horaInicio
			   ,CAST(FORMAT(iga.fechaFin, 'HH:mm:ss') AS VARCHAR(8)) AS HoraFin
			   ,iga.fechamodificacion	AS FechaEstado
			   ,CASE
					WHEN EXISTS (SELECT
								1
							FROM InformacionGeneralAudiencia a
							WHERE a.fkIdAsuntoNeun = tvigsf.fkIdAsuntoNeun
							AND a.idInformacionGeneralAudiencia < @pi_IdInformacionGeneral) THEN CAST(1 AS BIT)
					ELSE CAST(0 AS BIT)
				END AS EsContinuacion
			   ,ISNULL((SELECT TOP 1
						prev_a.sDescripcionAudiencia
					FROM InformacionGeneralAudiencia prev_a
					WHERE prev_a.fkIdAsuntoNeun = tvigsf.fkIdAsuntoNeun
					AND prev_a.idInformacionGeneralAudiencia < @pi_IdInformacionGeneral
					ORDER BY prev_a.idInformacionGeneralAudiencia DESC)
				, 'No hay audiencia previa') AS AudienciaPrevia
				,CASE 
					WHEN x.IdInformacionGeneralAudiencia IS NOT NULL THEN 'Videoconferencia'
					WHEN tvigsf.sDescripcionTipoSala IN ('Sala', 'Regional') THEN 'Presencial'
					WHEN tvigsf.sDescripcionTipoSala IN ('Virtual') THEN 'Sala Virtual'
					ELSE 'Móvil'
				END		AS Forma
			    ,imp.Imputado
			    ,imp.ImputadoOtros
			    ,ISNULL(imp.ImputadosContador,0)		AS ImputadosContador
				,(SELECT count(*) FROM TAU_REL_ResolucionesAudiencia rr WHERE rr.fkIdInformacionGeneralAudiencia=tvigsf.idInformacionGeneralAudiencia AND rr.iStatusReg=1)	AS ResolucionAudiencia
				,iga.BDIFERIDA
				,a.CatTipoProcedimiento
				,CASE 
				    WHEN ISNULL(sub3.CatalogoDependienteDescripcion, 
				                ISNULL(ti.CatalogoDependienteDescripcion, 
				                       ISNULL(pe.CatalogoDependienteDescripcion, ''))) = 'INCIDENTES'
				         OR ISNULL(sub3.CatalogoDependienteDescripcion, '') = 'Solicitud de inicio de Procedimiento de Ejecución (SIPE)'
				         OR ISNULL(sub3.CatalogoDependienteDescripcion, '') = 'Solicitud de Traslado'
				         OR ISNULL(sub3.CatalogoDependienteDescripcion, '') = 'Controversia'
				         OR ISNULL(sub3.CatalogoDependienteDescripcion, '') = 'Ejecución Medida Cautelar'
				    THEN 'Proceso de Ejecución'
				    ELSE ISNULL(sub2.CatalogoDependienteDescripcion, ISNULL(tp.CatalogoDependienteDescripcion, '')) 
				END AS TipoProcedimiento
			    ,ISNULL(sub3.CatalogoDependienteDescripcion, 
			           ISNULL(ti.CatalogoDependienteDescripcion, 
			                  ISNULL(pe.CatalogoDependienteDescripcion, ''))) AS Nivel3
			    ,ISNULL(sub4.CatalogoDependienteDescripcion, ISNULL(inc.CatalogoDependienteDescripcion, '')) AS Nivel4
				,CAST(CASE WHEN tvigsf.sDescripcionAudiencia LIKE '%juicio%' THEN 1 ELSE 0 END AS BIT)		AS bJuicio
			FROM TAU_VIS_InformacionGeneralSinFiltros tvigsf
			INNER JOIN InformacionGeneralAudiencia iga
				ON tvigsf.idInformacionGeneralAudiencia = iga.idInformacionGeneralAudiencia
			INNER JOIN Asuntos a WITH (NOLOCK)
				ON tvigsf.fkIdAsuntoNeun = a.AsuntoNeunId
			LEFT JOIN CatEmpleados ce WITH (NOLOCK)
				ON iga.idUsuarioAlta = ce.EmpleadoId
			LEFT JOIN CatSalas sala WITH (NOLOCK)
				ON sala.idSala = iga.idSala
			LEFT JOIN TAU_Cat_TipoSala ts WITH (NOLOCK)
				ON ts.iIdTipoSala = sala.fiIdTipoSala
			LEFT JOIN TAU_Rel_ElementoAudiencia x WITH (NOLOCK) 
				ON x.IdInformacionGeneralAudiencia = tvigsf.idInformacionGeneralAudiencia AND x.fkIdTipoElemento = 1 AND x.iEstatus=1
			LEFT JOIN CatalogosDependientes tp 
				ON tp.CatalogoDependienteIdPadre = 13298 
			    AND tp.CatalogoDependienteElementoIDNew = a.CatTipoProcedimiento
			    AND tp.CatalogoDependienteId = 734
			    AND tp.CatalogoDependienteNivel = 2
			LEFT JOIN CatalogosDependientes ti 
				ON ti.CatalogoDependienteIdPadre = 13300 
			    AND ti.CatalogoDependienteElementoIDNew = a.CatTipoProcedimiento
			    AND ti.CatalogoDependienteId = 734
			    AND ti.CatalogoDependienteNivel = 3
			LEFT JOIN CatalogosDependientes pe 
				ON pe.CatalogoDependienteIdPadre = 13482
			    AND pe.CatalogoDependienteElementoIDNew = a.CatTipoProcedimiento
			    AND pe.CatalogoDependienteId = 734
			    AND pe.CatalogoDependienteNivel = 3
			LEFT JOIN CatalogosDependientes inc 
				ON inc.CatalogoDependienteIdPadre IN 
			    (SELECT ID FROM viCatalogos WHERE CatalogoPadre = 13488 AND Catalogo = 734)
			    AND inc.CatalogoDependienteElementoIDNew = a.CatTipoProcedimiento
			    AND inc.CatalogoDependienteId = 734
			    AND inc.CatalogoDependienteNivel = 4
			LEFT JOIN REL_NoCarpInvetAsuntosSISE rel2 ON rel2.iAsuntoNeunId = a.AsuntoNeunId
			LEFT JOIN CatalogosDependientes sub2
				ON sub2.CatalogoDependienteElementoIDNew = rel2.iTipoSubNivel
			    AND sub2.CatalogoDependienteId = 734
			    AND sub2.CatalogoDependienteNivel = 2
			LEFT JOIN CatalogosDependientes sub3 
				ON sub3.CatalogoDependienteElementoIDNew = rel2.iTipoSubNivel
			    AND sub3.CatalogoDependienteId = 734
			    AND sub3.CatalogoDependienteNivel = 3
			LEFT JOIN CatalogosDependientes sub4 
				ON sub4.CatalogoDependienteElementoIDNew = rel2.iTipoSubNivel
			    AND sub4.CatalogoDependienteId = 734
			    AND sub4.CatalogoDependienteNivel = 4			
			OUTER APPLY (
			    SELECT 
			        ax.AsuntoNeunId
			        ,ax.idAudiencia
			        ,STRING_AGG(CASE WHEN ax.rn <= 5 THEN RTRIM(ax.Nombre) END, ', ')	AS Imputado
			        ,STRING_AGG(CASE WHEN ax.rn > 5 THEN RTRIM(ax.Nombre) END, ', ')	AS ImputadoOtros
			        ,MAX(NoImputados)		AS ImputadosContador
			    FROM (
			        SELECT 
			            AsuntoNeunId 
			            ,idAudiencia 
			            ,Nombre 
			            ,ROW_NUMBER() OVER (PARTITION BY AsuntoNeunId, idAudiencia ORDER BY Nombre)	AS rn
			            ,COUNT(*) OVER(PARTITION BY AsuntoNeunId,idAudiencia)						AS NoImputados
			        FROM (
			            SELECT DISTINCT 
			                ax.fkIdAsuntoNeun AS AsuntoNeunId 
			                ,ax.idAudiencia
			                ,LTRIM(RTRIM(CONCAT(LTRIM(RTRIM(pa.Nombre)), ' ', LTRIM(RTRIM(pa.APaterno)), ' ', LTRIM(RTRIM(pa.AMaterno))))) AS Nombre
			            FROM PersonasAudiencia ax WITH (NOLOCK) 
			            LEFT JOIN TAU_REL_ImputadoDefensorAudiencia bx WITH (NOLOCK) 
			                ON ax.iIdentificadorAsistemte = bx.kImputadoId 
			                AND ax.idAudiencia = bx.kNumeroAudiencia 
			                AND ax.fkIdAsuntoNeun = bx.kNeunId
			            LEFT JOIN PersonasAsunto pa 
			                ON pa.ASUNTONEUNID = ax.fkIdAsuntoNeun 
			                AND pa.PERSONAID = ax.identificadorAsistente
			            WHERE bx.kImputadoId IS NOT NULL
			        ) ax
			    ) ax
			    WHERE ax.AsuntoNeunId = tvigsf.fkIdAsuntoNeun
					AND ax.idAudiencia = tvigsf.idAudiencia
			    GROUP BY ax.AsuntoNeunId, ax.idAudiencia
			) imp
			WHERE tvigsf.fkIdAsuntoNeun = @pi_Neun
			ORDER BY tvigsf.idAudiencia;

		END
	END TRY
	BEGIN CATCH
		SELECT
			@ErrorMessage = ERROR_MESSAGE()
		   ,@ErrorSeverity = ERROR_SEVERITY()
		   ,@ErrorState = ERROR_STATE();

		RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
	END CATCH
END