USE [SISE_NEW]
GO
/****** Object:  StoredProcedure [SISE3].[piInsertaDetalleCatalogo]    Script Date: 11/11/2024 08:22:54 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ==========================================================================================
-- Author:		Isidro Neri Silva
-- Create date: 07/11/2024
-- Description:	Permite insertar en asunto detalle catálogos y personas asunto detalle catálogos, en referencia a los delitos.
-- ==========================================================================================
CREATE PROCEDURE [SISE3].[piInsertaDetalleCatalogo]
(
    @pi_AsuntoNeunId BIGINT,														
    @pi_TipoAsuntoId INT,
    @pi_CatalogoId BIGINT,
    @pi_CatalogoElementoId INT,
    @pi_NoCaptura INT,
    @pi_NoBloque INT,
    @pi_NoBloquePadre INT,
    @pi_EmpleadoId BIGINT,
	@pi_Consecutivo INT,
    @pi_Persona INT
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE 
        @AsuntoDetalleCatalogosId INT,
        @ErrorMessage NVARCHAR(4000),
        @ErrorSeverity INT,
        @ErrorState INT;

    BEGIN TRY
        BEGIN TRANSACTION;

     
        -- Calcular el nuevo AsuntoDetalleCatalogosId
        SELECT @AsuntoDetalleCatalogosId = ISNULL(MAX(AsuntoDetalleCatalogosId), 0) + 1
        FROM AsuntosDetalleCatalogos WITH (NOLOCK)
        WHERE AsuntosNeunId = @pi_AsuntoNeunId AND AsuntoID = 1;

        -- Insertar en AsuntosDetalleCatalogos
        INSERT INTO AsuntosDetalleCatalogos WITH (ROWLOCK) 
            (AsuntosNeunId, AsuntoID, AsuntoDetalleCatalogosId, TipoAsuntoId, CatTipoCatalogoAsuntoID, CatCatalogoAsuntoID, NoCaptura, NoBloque, NoBloquePadre, Consecutivo, EmpleadoID)
        VALUES 
            (@pi_AsuntoNeunId, 1, @AsuntoDetalleCatalogosId, @pi_TipoAsuntoId, @pi_CatalogoElementoId, @pi_CatalogoId, @pi_NoCaptura, @pi_NoBloque, @pi_NoBloquePadre, @pi_Consecutivo, @pi_EmpleadoId);

        -- Insertar en PersonasAsuntosDetalleCatalogos para la Persona
        INSERT INTO PersonasAsuntosDetalleCatalogos WITH (ROWLOCK)
            (AsuntoNeunID, AsuntoID, AsuntoDetalleCatalogosID, PersonaID)
        VALUES 
            (@pi_AsuntoNeunId, 1, @AsuntoDetalleCatalogosID, @pi_Persona);
           
        COMMIT TRANSACTION;
        
        -- Retornar éxito 
        SELECT CAST(1 AS BIT) AS IsSuccess;

    END TRY
    BEGIN CATCH
        -- Revertir la transacción en caso de error
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        -- Obtener el mensaje de error
        SET @ErrorMessage = ERROR_MESSAGE();
        SET @ErrorSeverity = ERROR_SEVERITY();
        SET @ErrorState = ERROR_STATE();

        -- Lanzar el error con el mensaje completo
        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
        
        -- Retornar fallo
        SELECT CAST(0 AS BIT) AS IsSuccess;
    END CATCH;
END;