USE [SISE_NEW]
GO
/****** Object:  StoredProcedure [SISE3].[pcObtenerTipoAsuntoAudiencia]    Script Date: 23/12/2024 02:13:22 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ==========================================================================================
-- Author:		Isidro Neri Silva
-- Create date: 05/12/2024
-- Description:	Obtiene detalles del tipo asunto para audiencia
-- Ejecución: EXEC [SISE3].[pcObtenerTipoAsuntoAudiencia] 1
-- Ajuste:  17/12/24 - Se incluyen mas otros tipos de asunto. INSG
-- Ajuste:  23/12/24 - Se agrega condición para obtener por CatTipoAsuntoId. INSG
-- ==========================================================================================
ALTER PROCEDURE [SISE3].[pcObtenerTipoAsuntoAudiencia]
@pi_CatTipoAsuntoId INT
AS
BEGIN

DECLARE 
    @ErrorMessage NVARCHAR(4000),
    @ErrorSeverity INT,
    @ErrorState INT;

BEGIN TRY

SELECT     
    ta.TipoAsuntoId, 
    ct.CampoTipoDescripcion AS TipoCampo, 
    ct.CampoTipoId AS TipoCampoId, 
    ta.Descripcion, 
    ta.Padre, 
	ta.CatTipoAsuntoId,
	cta.Descripcion as CatTipoAsunto
FROM dbo.TiposAsunto AS ta
INNER JOIN dbo.CatCamposAsunto AS c 
    ON ta.CatCampoAsuntoId = c.CatCampoAsuntoId
INNER JOIN dbo.CamposTipo AS ct 
    ON ta.Tipo = ct.CampoTipoId
INNER JOIN CatTiposAsunto AS cta 
	ON ta.CatTipoAsuntoId = cta.CatTipoAsuntoId
WHERE ta.CatTipoAsuntoId = @pi_CatTipoAsuntoId AND ct.CampoTipoId in (2,9) AND ta.Padre IN (
    18156, 18157, 4719, 18542, 2253, 18552, 
    3481, 18543, 3634, 18551, 3946, 18544, 
    4152, 18545, 2524, 18546, 18136, 18137, 
    18138, 18139, 8635, 18189, 18188, 18190, 
    18191, 18581, 18582, 18583, 18584
)
ORDER BY ta.CatTipoAsuntoId ASC
   
END TRY
BEGIN CATCH
    SELECT 
        @ErrorMessage = ERROR_MESSAGE(),
        @ErrorSeverity = ERROR_SEVERITY(),                 
        @ErrorState = ERROR_STATE();

    RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
END CATCH;
END