USE [SISE_NEW]
GO
/****** Object:  StoredProcedure [SISE3].[piInsertaRolEmpleado]    Script Date: 31/07/2024 12:38:43 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ==========================================================================================
-- Author:		Erick Garcia de la Rosa
-- Create date: 24/06/2024
-- Description:	Inserta el rol a un empleado.
-- ==========================================================================================
CREATE PROCEDURE [SISE3].[piInsertaRolEmpleado]
(
    @pi_fkIdRol INT, 
	@pi_fkCatTipoOrganismoId INT,
	@pi_fkIdCatEmpleado INT
)
AS
BEGIN

	DECLARE 
		@ErrorMessage NVARCHAR(4000),
		@ErrorSeverity INT,
		@ErrorState INT;

	BEGIN TRY
		
		IF (NOT EXISTS(SELECT IdRol FROM SISE3.CatRol WHERE IdRol=@pi_fkIdRol))
		BEGIN
			
			RAISERROR ('El rol no existe',16,1);

		END
		ELSE IF (NOT EXISTS(SELECT CatOrganismoId FROM CatOrganismos WHERE CatOrganismoId=@pi_fkCatTipoOrganismoId))
		BEGIN
			
			RAISERROR ('No existe el tipo de organismo',16,1);

		END
		ELSE IF (NOT EXISTS(SELECT EmpleadoId FROM CatEmpleados WHERE EmpleadoId=@pi_fkIdCatEmpleado))
		BEGIN
			
			RAISERROR ('El empleado no existe',16,1);

		END
		ELSE IF (EXISTS(SELECT IdRol FROM SISE3.REL_RolEmpleadoXOrganismo WHERE IdRol=@pi_fkIdRol AND IdOrganismo=@pi_fkCatTipoOrganismoId AND 
			IdCatEmpleado=@pi_fkIdCatEmpleado))
		BEGIN

			UPDATE SISE3.REL_RolEmpleadoXOrganismo SET bStatus=1 
			WHERE IdRol=@pi_fkIdRol AND IdOrganismo=@pi_fkCatTipoOrganismoId AND IdCatEmpleado=@pi_fkIdCatEmpleado;

			SELECT IdEmpleadoRol,IdRol,IdOrganismo,IdCatEmpleado,fFechaAlta,fFechaBaja,bStatus FROM SISE3.REL_RolEmpleadoXOrganismo 
			WHERE IdRol=@pi_fkIdRol AND IdOrganismo=@pi_fkCatTipoOrganismoId AND IdCatEmpleado=@pi_fkIdCatEmpleado;

		END
		ELSE IF (EXISTS(SELECT IdRol FROM SISE3.REL_RolEmpleadoXOrganismo WHERE IdRol=@pi_fkIdRol AND IdOrganismo=@pi_fkCatTipoOrganismoId AND 
			IdCatEmpleado=@pi_fkIdCatEmpleado AND bStatus=1))
		BEGIN
			
			RAISERROR ('El empleado ya cuenta con este rol',16,1);

		END
		ELSE
		BEGIN
			INSERT INTO SISE3.REL_RolEmpleadoXOrganismo
				(IdRol, IdOrganismo, IdCatEmpleado, fFechaAlta, fFechaBaja, bStatus)
			VALUES
				(@pi_fkIdRol, @pi_fkCatTipoOrganismoId, @pi_fkIdCatEmpleado, GETDATE(), NULL, 1);

			SELECT IdEmpleadoRol,IdRol,IdOrganismo,IdCatEmpleado,fFechaAlta,fFechaBaja,bStatus FROM SISE3.REL_RolEmpleadoXOrganismo WHERE IdEmpleadoRol=@@IDENTITY;
		END

	END TRY
	BEGIN CATCH
		SELECT 
			@ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),                 
            @ErrorState =ERROR_STATE();

		RAISERROR (@ErrorMessage,@ErrorSeverity,@ErrorState);
	END CATCH
END