USE [SISE_NEW]
GO
/****** Object:  StoredProcedure [SISE3].[pcObtenerPermisosEmpleado]    Script Date: 22/08/2024 05:18:38 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ==========================================================================================
-- Author:		Martin Tovar / Isidro Neri Silva / Erick Garcia
-- Create date: 18/07/2024
-- Description:	Obtiene la la lista de los permisos del empleado.
-- ==========================================================================================
CREATE PROCEDURE [SISE3].[pcObtenerPermisosEmpleado]
	@pc_EmpleadoId INT, 
	@pc_CatOrganismoId INT
AS
BEGIN
DECLARE 
		@ErrorMessage NVARCHAR(4000),
		@ErrorSeverity INT,
		@ErrorState INT;
BEGIN TRY
	SELECT
		 p.IdPrivilegio
		,p.sNombrePrivilegio
		,p.sDescripcion
		,p.sModulo
		,CAST(ISNULL((CASE WHEN ISNULL(ppr2.IdPrivilegio,0)=0 THEN PR2.bEstatus ELSE ppr2.bDeniega_Agrega END),0) AS BIT) AS flg_permiso
	FROM SISE3.CatPrivilegio p
	LEFT JOIN (
		SELECT
			DISTINCT p.IdPrivilegio		AS IdPrivilegio
			,pr.bEstatus
		FROM SISE3.CatPrivilegio p
		INNER JOIN SISE3.REL_PrivilegioXRol pr ON p.IdPrivilegio = pr.IdPrivilegio
		INNER JOIN SISE3.REL_RolEmpleadoXOrganismo re ON pr.IdRol = re.IdRol
		INNER JOIN SISE3.CatRol r ON pr.IdRol = r.IdRol
			AND p.bEstatus = 1
			AND r.bEstatus = 1
			AND pr.bEstatus = 1
			AND re.bStatus=1
			AND re.IdOrganismo = @pc_CatOrganismoId
			AND re.IdCatEmpleado = @pc_EmpleadoId
	) pr2
		ON pr2.IdPrivilegio = p.IdPrivilegio
	LEFT JOIN (
		SELECT 
			DISTINCT cp.IdPrivilegio	AS IdPrivilegio
			,PP.bDeniega_Agrega
		FROM SISE3.PermisosPersonalizados PP
		INNER JOIN SISE3.REL_RolEmpleadoXOrganismo REO ON REO.IdEmpleadoRol=PP.IdEmpleadoRol
		INNER JOIN SISE3.CatRol R ON R.IdRol=REO.IdRol
		INNER JOIN CatOrganismos O ON O.CatOrganismoId=REO.IdOrganismo
		INNER JOIN CatEmpleados E ON E.EmpleadoId=REO.IdCatEmpleado
		INNER JOIN SISE3.CatPrivilegio CP ON CP.IdPrivilegio=PP.IdPrivilegio
			AND cp.bEstatus = 1
			AND r.bEstatus = 1
			AND o.CatOrganismoId = @pc_CatOrganismoId
			AND REO.IdCatEmpleado = @pc_EmpleadoId
	) ppr2
		ON ppr2.IdPrivilegio = p.IdPrivilegio 
	ORDER BY p.IdPrivilegio
END TRY
	BEGIN CATCH
		SELECT 
			@ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),                 
            @ErrorState =ERROR_STATE();

		RAISERROR (@ErrorMessage,@ErrorSeverity,@ErrorState);
	END CATCH
END