USE [SISE_NEW]
GO
/****** Object:  StoredProcedure [SISE3].[pcConsultaTiposAudienciaPorTipoAsunto]    Script Date: 06/09/2024 06:16:08 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ==========================================================================================
-- Author:		Isidro Neri Silva
-- Create date: 06/09/2024
-- Description:	Obtiene los tipo de audiencia por el CatTipoAsuntoId
-- ==========================================================================================
CREATE PROCEDURE [SISE3].[pcConsultaTiposAudienciaPorTipoAsunto]
    @pi_CatTipoAsuntoId INT
AS
BEGIN
    DECLARE 
        @ErrorMessage NVARCHAR(4000),
        @ErrorSeverity INT,
        @ErrorState INT;

    BEGIN TRY
        IF @pi_CatTipoAsuntoId = 19
        BEGIN
            SELECT 
                CatTipoAsuntoId,
                kIdTipoAudiencia, 
                sTipoAudiencia 
            FROM 
                SISE_CAT_TipoAudiencia WITH(NOLOCK)
            WHERE 
                kIdTipoAudiencia = 236
                AND bEstatusRegistro = 1;
        END
        ELSE
        BEGIN
            SELECT 
                CatTipoAsuntoId, 
                kIdTipoAudiencia, 
                sTipoAudiencia 
            FROM 
                SISE_CAT_TipoAudiencia WITH(NOLOCK)
            WHERE 
                CatTipoAsuntoId = @pi_CatTipoAsuntoId
                AND bEstatusRegistro = 1
                AND kIdTipoAudiencia NOT IN (267, 327, 333);
        END
    END TRY
    BEGIN CATCH
        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),                 
            @ErrorState = ERROR_STATE();

        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END