USE [SISE_NEW]
GO
/****** Object:  StoredProcedure [SISE3].[pcConsultaTipoAreas]    Script Date: 04/07/2024 04:49:51 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ==========================================================================================
-- Author:		Isidro Neri Silva / Erick Garcia de la Rosa
-- Create date: 11/06/2024
-- Description:	Consulta los tipos de area
-- ==========================================================================================
CREATE PROCEDURE [SISE3].[pcConsultaTipoAreas]
AS
BEGIN
DECLARE 
		@ErrorMessage NVARCHAR(4000),
		@ErrorSeverity INT,
		@ErrorState INT;

	BEGIN TRY
	SELECT ta.kIdTipoArea,
	       ta.sTipoArea
	FROM SISE3.CAT_TipoArea AS ta;	
END TRY
	BEGIN CATCH
		SELECT 
			@ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),                 
            @ErrorState =ERROR_STATE();

		RAISERROR (@ErrorMessage,@ErrorSeverity,@ErrorState);
	END CATCH
END