USE [SISE_NEW]
GO
/****** Object:  StoredProcedure [SISE3].[pcConsultarImputadosParticipantes]    Script Date: 19/09/2024 05:55:17 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ==========================================================================================
-- Author:		Isidro Neri Silva
-- Create date: 13/09/2024
-- Description:	Obtiene los imputados y participantes de la audiencia
--Ejemplo: exec [SISE3].[pcConsultarImputadosParticipantes] 36068136
-- ==========================================================================================
CREATE PROCEDURE [SISE3].[pcConsultarImputadosParticipantes] (@pi_fkIdAsuntoNeun BIGINT)
AS
BEGIN
	DECLARE @ErrorMessage NVARCHAR(4000)
		   ,@ErrorSeverity INT
		   ,@ErrorState INT;

	BEGIN TRY

		SELECT
			p.PersonaId AS Idimputado
		   ,CONCAT(p.Nombre, +' ' + p.APaterno, +' ' + p.AMaterno) AS Nombre
		   ,ISNULL(cpa.Descripcion, '') AS Caracter
		   ,ISNULL(p.Sexo, '') AS Sexo
		   ,ISNULL(p.Alias, '') AS Alias
		   ,ISNULL(ci.sCorreo, '') AS Correo
		   ,cpa.CatCaracterPersonaAsuntoId
		FROM PersonasAsunto AS p WITH (NOLOCK)
		LEFT JOIN CatCaracterPersonaAsunto AS cpa WITH (NOLOCK)
			ON cpa.CatCaracterPersonaAsuntoId = p.CatCaracterPersonaAsuntoId
		LEFT JOIN TAU_CorreoImputado ci
			ON ci.kIdImputado = p.PersonaId
		WHERE p.AsuntoNeunId = @pi_fkIdAsuntoNeun
		AND p.StatusReg = 1


	END TRY
	BEGIN
	CATCH
		SELECT
			@ErrorMessage = ERROR_MESSAGE()
		   ,@ErrorSeverity = ERROR_SEVERITY()
		   ,@ErrorState = ERROR_STATE();

		RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
	END CATCH
END