SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ==========================================================================================
-- Author:		Erick Garcia de la Rosa
-- Create date: 24/06/2024
-- Description:	Consulta los privilegios de un rol.
-- ==========================================================================================
CREATE PROCEDURE [SISE3].[pcConsultaPrivilegioRol]
(
    @pi_fkIdRol INT
)
AS
BEGIN

	DECLARE 
		@ErrorMessage NVARCHAR(4000),
		@ErrorSeverity INT,
		@ErrorState INT;

	BEGIN TRY
		
		SELECT
			PR.IdPrivilegioxRol,
			PR.IdRol,
			CR.sNombreRol,
			PR.IdPrivilegio,
			P.sNombrePrivilegio,
			P.sDescripcion,
			P.sModulo,
			PR.fFechaAlta,
			PR.fFechaBaja,
			PR.bEstatus
		FROM SISE3.CatPrivilegio p
		INNER JOIN SISE3.REL_PrivilegioXRol PR ON p.idPrivilegio = PR.idPrivilegio
		INNER JOIN SISE3.CatRol CR ON CR.IdRol=PR.IdRol
		WHERE PR.idRol = @pi_fkIdRol AND PR.bEstatus=1
		ORDER BY PR.IdPrivilegio;

	END TRY
	BEGIN CATCH
		SELECT 
			@ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),                 
            @ErrorState =ERROR_STATE();

		RAISERROR (@ErrorMessage,@ErrorSeverity,@ErrorState);
	END CATCH
END