SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ==========================================================================================
-- Author:		Erick Garcia de la Rosa
-- Create date: 24/06/2024
-- Description:	Elimina un privilegio de un rol.
-- ==========================================================================================
CREATE PROCEDURE [SISE3].[peEliminaPrivilegioRol]
(
    @pe_kIdPrivilegioxRol INT,
	@pe_bEstatus INT
)
AS
BEGIN

	DECLARE 
		@ErrorMessage NVARCHAR(4000),
		@ErrorSeverity INT,
		@ErrorState INT;

	BEGIN TRY
		
		IF (@pe_bEstatus=1)
		BEGIN
			UPDATE SISE3.REL_PrivilegioXRol SET
				bEstatus=@pe_bEstatus,
				fFechaBaja=NULL
			WHERE IdPrivilegioxRol=@pe_kIdPrivilegioxRol;
		END
		ELSE IF (@pe_bEstatus=0)
		BEGIN
			UPDATE SISE3.REL_PrivilegioXRol SET
				bEstatus=@pe_bEstatus,
				fFechaBaja=GETDATE()
			WHERE IdPrivilegioxRol=@pe_kIdPrivilegioxRol;
		END

		SELECT IdPrivilegioxRol,IdRol,IdPrivilegio,bEstatus,fFechaAlta,fFechaBaja FROM SISE3.REL_PrivilegioXRol WHERE IdPrivilegioxRol=@pe_kIdPrivilegioxRol;

	END TRY
	BEGIN CATCH
		SELECT 
			@ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),                 
            @ErrorState =ERROR_STATE();

		RAISERROR (@ErrorMessage,@ErrorSeverity,@ErrorState);
	END CATCH
END