USE [SISE_NEW]
GO
/****** Object:  StoredProcedure [SISE3].[pcConsultaListaModulos]    Script Date: 19/07/2024 02:45:59 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ==========================================================================================
-- Author:		Isidro Neri Silva
-- Create date: 18/07/2024
-- Description:	Obtiene la la lista de modulos.
-- ==========================================================================================
CREATE PROCEDURE [SISE3].[pcConsultaListaModulos]
AS
BEGIN
DECLARE 
		@ErrorMessage NVARCHAR(4000),
		@ErrorSeverity INT,
		@ErrorState INT;

	BEGIN TRY
SELECT sModulo 
FROM SISE3.CatPrivilegio 
GROUP BY sModulo
END TRY
	BEGIN CATCH
		SELECT 
			@ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),                 
            @ErrorState =ERROR_STATE();

		RAISERROR (@ErrorMessage,@ErrorSeverity,@ErrorState);
	END CATCH
END