USE [SISE_NEW]
GO
/****** Object:  StoredProcedure [SISE3].[pcConsultaAnios]    Script Date: 26/02/2025 02:05:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ==========================================================================================
-- Author:		Isidro Neri Silva
-- Create date: 26/02/2025
-- Description:	Consulta los años que cotienen un periodo para obtener reporte.
-- ==========================================================================================
CREATE PROCEDURE [SISE3].[pcConsultaAnios]
AS
BEGIN
DECLARE 
		@ErrorMessage NVARCHAR(4000),
		@ErrorSeverity INT,
		@ErrorState INT;

	BEGIN TRY

SELECT DISTINCT YEAR(TRY_CONVERT(DATE, Inicio, 103)) AS anio
FROM PerEstadistico WITH (NOLOCK)
WHERE TRY_CONVERT(DATE, Inicio, 103) IS NOT NULL
ORDER BY anio;

END TRY
	BEGIN CATCH
		SELECT 
			@ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),                 
            @ErrorState =ERROR_STATE();

		RAISERROR (@ErrorMessage,@ErrorSeverity,@ErrorState);
	END CATCH
END