USE [SISE_NEW]
GO
/****** Object:  StoredProcedure [SISE3].[pcConsultaRolesPorEmpleado]    Script Date: 22/08/2024 10:49:38 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ==========================================================================================
-- Author:		Isidro Neri Silva Gutiérrez
-- Create date: 16/07/2024
-- Description:	Consulta los roles de un empleado.
-- ==========================================================================================
CREATE PROCEDURE [SISE3].[pcConsultaRolesPorEmpleado]
    @pc_EmpleadoIds NVARCHAR(MAX),
	@pc_CatOrganismoId INT
AS
BEGIN
DECLARE 
		@ErrorMessage NVARCHAR(4000),
		@ErrorSeverity INT,
		@ErrorState INT;
BEGIN TRY

SELECT 
        eo.IdCatEmpleado as empleadoId,
        eo.IdRol,
        c.sNombreRol,
        c.pInicio
    FROM dbo.CatEmpleados AS a WITH (NOLOCK)
    LEFT JOIN SISE3.REL_RolEmpleadoXOrganismo eo ON eo.IdCatEmpleado = a.EmpleadoId
    LEFT JOIN SISE3.CatRol c ON eo.IdRol = c.IdRol
    WHERE a.EmpleadoId IN (SELECT value FROM OPENJSON(@pc_EmpleadoIds)) AND eo.bStatus=1 AND eo.IdOrganismo = @pc_CatOrganismoId
	GROUP BY eo.IdCatEmpleado,
        eo.IdRol,
        c.sNombreRol,
        c.pInicio;
END TRY
	BEGIN CATCH
		SELECT 
			@ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),                 
            @ErrorState =ERROR_STATE();

		RAISERROR (@ErrorMessage,@ErrorSeverity,@ErrorState);
	END CATCH
END