USE [SISE_NEW]
GO
/****** Object:  StoredProcedure [SISE3].[pcObtenerPartesAudiencias]    Script Date: 12/12/2024 06:42:06 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ==========================================================================================
-- Author:		Isidro Neri Silva
-- Create date: 12/12/2024
-- Description:	Obtiene obtiene las partes de la agenda de audiencias
--Ejemplo: exec [SISE3].[pcObtenerPartesAudiencias] 180, '01/12/2024', '04/01/2025'
-- ==========================================================================================
CREATE PROCEDURE [SISE3].[pcObtenerPartesAudiencias]
(
@pi_CatOrganismoId INT,
@pi_FAudIni DATETIME,
@pi_FAudFin DATETIME
)
AS
BEGIN
DECLARE 
@ErrorMessage NVARCHAR(4000),
@ErrorSeverity INT,
@ErrorState INT

			BEGIN TRY 
	
SELECT
 aud.AsuntoNeunId
,aud.AgendaId
,pa.PersonaId
,CASE WHEN aud.Parte = 0 THEN 'Todas las Partes' ELSE ISNULL(pa.Nombre,'') + ' ' + ISNULL(pa.APaterno,'') + ' ' + ISNULL(pa.AMaterno,'') END AS Parte
,CONVERT(INT,pa.CatTipoPersonaId) TipoPersonaIdParte
,pa.DenominacionDeAutoridad DenominacionParte
FROM [AUD_AsuntosDetalleFechas] aud WITH(NOLOCK)
INNER JOIN AsuntosDetalleFechas fecha WITH(NOLOCK) ON aud.ControlFecha=fecha.TipoAsuntoId 
			AND aud.FechaId=fecha.AsuntoDetalleFechasId 
			AND aud.AsuntoNeunId = fecha.AsuntoNeunId
			AND aud.AsuntoId = fecha.AsuntoId
LEFT JOIN PersonasAsuntosDetalleFechas pdf WITH(NOLOCK) ON fecha.AsuntoNeunId = pdf.AsuntoNeunId
			AND fecha.AsuntoDetalleFechasId = pdf.AsuntoDetalleFechasId
			AND fecha.AsuntoId = pdf.AsuntoID
			AND aud.EmpleadoId = pdf.EmpleadoId	
			AND pdf.StatusReg = 1	
		LEFT JOIN PersonasAsunto pa WITH(NOLOCK) ON pdf.PersonaId = pa.PersonaId
			AND pa.AsuntoNeunId = pdf.AsuntoNeunId
			AND pa.StatusReg = 1
WHERE 
		    aud.OrganoId=@pi_CatOrganismoId			
			AND aud.StatusReg=1	
			AND (fecha.ValorCampoAsunto BETWEEN CONVERT(DATE,@pi_FAudIni) AND CONVERT(DATE,DATEADD(DAY, 1,@pi_FAudFin)))
					   
			END TRY

			BEGIN CATCH
              ROLLBACK TRAN TransaccionI
			  
			   SELECT 
					  @ErrorMessage = ERROR_MESSAGE(),
                      @ErrorSeverity = ERROR_SEVERITY(),                 
                      @ErrorState =ERROR_STATE();

			 RAISERROR (@ErrorMessage,@ErrorSeverity,@ErrorState);

			END CATCH
END;