SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ==========================================================================================
-- Author:		Isidro Neri Silva
-- Create date: 12/07/2024
-- Description:	Obtiene los empleados de un área.
-- Cambios: 17/12/2024 - Se agrega filtro StatusReg=1
-- ==========================================================================================
ALTER PROCEDURE [SISE3].[pcConsultaEmpleadosArea]
@pc_fAreaId INT
AS
BEGIN
    SELECT ae.registroId,
           ae.areaId,
           ae.empleadoId,
           CONCAT(ce.Nombre, ' ', ce.ApellidoPaterno, ' ', ce.ApellidoMaterno) AS nombre
    FROM AreasEmpleados ae
    LEFT JOIN CatEmpleados ce ON ae.EmpleadoId = ce.EmpleadoId
    WHERE ae.AreaId = @pc_fAreaId AND ae.StatusReg=1;
END
