USE [SISE_NEW]
GO
/****** Object:  StoredProcedure [SISE3].[pe_RepEst_TU_Detalle_Del]    Script Date: 25/04/2025 05:27:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ==========================================================================================
-- Author: Isidro Neri Silva
-- Create date: 25/04/2025
-- Description:	Elimina Detalle Reporte Capturado de Amparo Indirecto, Civiles Administrativos 
-- SP Original: [dbo].[usp_RepEst_TU_Detalle_Del] 
-- ==========================================================================================
CREATE PROCEDURE [SISE3].[pe_RepEst_TU_Detalle_Del] 
(
    @piCatOrganismoId INT,
    @piTipoAsuntoId INT,
    @piDiferente INT,
    @piPeriodo INT,
    @piNumExpediente VARCHAR(50),
    @piAsuntoNeunId BIGINT, 
    @piNumMultiple INT, 
    @piNumGuardado INT
)
AS
BEGIN

	DECLARE 
		@ErrorMessage NVARCHAR(4000),
		@ErrorSeverity INT,
		@ErrorState INT;

	BEGIN TRY

	SET NOCOUNT ON;

    DECLARE @RegistrosActualizados INT = 0;

    UPDATE RepEstDetalleDetalle WITH (ROWLOCK)
    SET FechaBaja = GETDATE(),
        StatusReg = 0
    WHERE   CatOrganismoId = @piCatOrganismoId
        AND TipoAsuntoId = @piTipoAsuntoId
        AND Diferente = @piDiferente
        AND Periodo = @piPeriodo
        AND NumExpediente = @piNumExpediente
        AND AsuntoNeunId = @piAsuntoNeunId
        AND NumMultiple = @piNumMultiple
        AND NumGuardado = @piNumGuardado;

    SET @RegistrosActualizados = @RegistrosActualizados + @@ROWCOUNT;

    UPDATE RepEstDetalle WITH (ROWLOCK)
    SET FechaBaja = GETDATE(),
        StatusReg = 0
    WHERE   CatOrganismoId = @piCatOrganismoId
        AND TipoAsuntoId = @piTipoAsuntoId
        AND Diferente = @piDiferente
        AND Periodo = @piPeriodo
        AND NumExpediente = @piNumExpediente
        AND AsuntoNeunId = @piAsuntoNeunId
        AND NumMultiple = @piNumMultiple
        AND NumGuardado = @piNumGuardado;

    SET @RegistrosActualizados = @RegistrosActualizados + @@ROWCOUNT;

    SELECT @RegistrosActualizados AS RegistrosEliminados;

    SET NOCOUNT OFF;
		
	END TRY
	BEGIN CATCH
		SELECT 
			@ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),                 
            @ErrorState =ERROR_STATE();

		RAISERROR (@ErrorMessage,@ErrorSeverity,@ErrorState);
	END CATCH
END