USE [SISE_NEW]
GO
/****** Object:  StoredProcedure [SISE3].[pcConsultaSentenciasAutorizadas]    Script Date: 29/01/2025 05:54:15 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ==========================================================================================
-- Author:		Isidro Neri Silva
-- Create date: 29/01/2025
-- Description:	Consulta sentencias autorizadas por periodo de fechas
-- Ejemplo: EXEC [SISE3].[pcConsultaSentenciasAutorizadas]  180, '2024-06-01','2025-01-29'
-- ==========================================================================================
CREATE PROCEDURE [SISE3].[pcConsultaSentenciasAutorizadas]
    @pi_CatOrganismoId      INT,
    @pi_FechaPublicacionIni DATE,
    @pi_FechaPublicacionFin DATE
AS
BEGIN
    DECLARE 
        @ErrorMessage NVARCHAR(4000),
        @ErrorSeverity INT,
        @ErrorState INT;

    BEGIN TRY

        IF ISNULL(@pi_FechaPublicacionIni, '1900-01-02') <= '1900-01-01' 
           OR ISNULL(@pi_FechaPublicacionFin, '1900-01-02') <= '1900-01-01'
        BEGIN
            THROW 51000, 'ERROR: La fecha no debe ser menor a 01-ene-1900', 1; 
        END

        SET NOCOUNT ON;

        SELECT DISTINCT 
            tbls.AsuntoId,
            tbls.CatTipoAsuntoId,
            tbls.CatTipoAsunto,
            tbls.EstadoSentenciaId,
            tbls.EstadoSentencia,
            tbls.AsuntoNeunId,
            tbls.AsuntoAlias, 
            tbls.TipoCuadernoId,
            tbls.TipoCuaderno,
            tbls.CatOrganismoId,
            tbls.NombreOrganismo
        FROM [SISE3].[fnTableroSentencias](
            @pi_CatOrganismoId, 
            @pi_FechaPublicacionIni, 
            @pi_FechaPublicacionFin, 
            NULL, 
            '3', 
            NULL
        ) tbls
        LEFT JOIN [SISE3].[fnSentenciasVersionesPublicas](@pi_CatOrganismoId) svp 
            ON svp.AsuntoNeunId = tbls.AsuntoNeunId 
            AND ISNULL(svp.SintesisOrden, '') = ISNULL(tbls.SintesisOrden, '') 
            AND ISNULL(svp.NumeroOrden, 0) = ISNULL(tbls.NumeroOrden, 0)
        WHERE tbls.CatTipoAsuntoId = 1
        ORDER BY 
            tbls.EstadoSentenciaId DESC;

    END TRY
    BEGIN CATCH
       SELECT 
			@ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),                 
            @ErrorState =ERROR_STATE();

		RAISERROR (@ErrorMessage,@ErrorSeverity,@ErrorState);
    END CATCH
END
