USE [SISE_NEW]
GO
/****** Object:  StoredProcedure [SISE3].[pcConsultaReporteAudiencias]    Script Date: 27/02/2025 05:43:51 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ==========================================================================================
-- Author:		Isidro Neri Silva
-- Create date: 27/02/2025
-- Description:	Consulta las audiencias celebradas y no celebradas de un periodo.
-- Ejemplo de ejecución: exec [SISE3].[pcConsultaReporteAudiencias] 180, '2025-01-01', '2025-01-31', 1
-- ==========================================================================================
CREATE PROCEDURE [SISE3].[pcConsultaReporteAudiencias]
    @pi_CatOrganismoId INT,
    @pi_fechaInicio DATETIME,
    @pi_fechaFin DATETIME,
    @pi_tipoAsuntoId INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE 
        @ErrorMessage NVARCHAR(4000),
        @ErrorSeverity INT,
        @ErrorState INT;

    BEGIN TRY
        SELECT
            CONVERT(INT, aud.AsuntoNeunId) AS IdNeun,			
            cta.Descripcion AS TipoAsunto,
            asu.CatTipoAsuntoId,
            asu.AsuntoAlias AS Expediente,
            CONVERT(INT, caud.IdTipoAudiencia) AS IdTipoAudiencia,
            caud.Descripcion AS Audiencia,
            CONVERT(VARCHAR(10), CONVERT(DATE, fecha.ValorCampoAsunto)) AS FechaAudiencia,
            CONVERT(VARCHAR(5), CONVERT(TIME, hora.ValorCampoAsunto)) AS HoraAudiencia,
            ISNULL(cr.Descripcion, 'No Celebrada') AS Resultado,
            CONVERT(INT, cr.IdResultado) AS IdResultado,
            aud.OrganoId
        FROM [AUD_AsuntosDetalleFechas] aud WITH(NOLOCK)
        INNER JOIN AUD_CatTipoAudiencia caud WITH(NOLOCK) ON aud.AudienciaId = caud.IdTipoAudiencia
        INNER JOIN AsuntosDetalleFechas fecha WITH(NOLOCK) 
            ON aud.ControlFecha = fecha.TipoAsuntoId 
            AND aud.FechaId = fecha.AsuntoDetalleFechasId 
            AND aud.AsuntoNeunId = fecha.AsuntoNeunId
            AND aud.AsuntoId = fecha.AsuntoId
        INNER JOIN AsuntosDetalleFechas hora WITH(NOLOCK) 
            ON aud.ControlHora = hora.TipoAsuntoId 
            AND aud.HoraId = hora.AsuntoDetalleFechasId 
            AND aud.AsuntoNeunId = hora.AsuntoNeunId
            AND aud.AsuntoId = hora.AsuntoId
        INNER JOIN Asuntos asu WITH(NOLOCK) ON asu.AsuntoNeunId = aud.AsuntoNeunId
        INNER JOIN CatTiposAsunto cta WITH(NOLOCK) 
            ON asu.CatTipoAsuntoId = cta.CatTipoAsuntoId
            AND cta.StatusReg = 1
        LEFT JOIN AUD_CatResultado cr WITH(NOLOCK) ON aud.ResultadoId = cr.IdResultado
        WHERE 
            aud.OrganoId = @pi_CatOrganismoId			
            AND aud.StatusReg = 1	
            AND fecha.ValorCampoAsunto >= CONVERT(DATE, @pi_fechaInicio)
            AND fecha.ValorCampoAsunto < DATEADD(DAY, 1, CONVERT(DATE, @pi_fechaFin))
            AND asu.CatTipoAsuntoId = @pi_tipoAsuntoId
            AND (aud.ResultadoId IN (1, 7 ,9 ,15 ,18 ,19 ,20 ,21 ,43 ,53 ,57 ,61 ,93, 0) OR aud.ResultadoId IS NULL);
    
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),                 
            @ErrorState = ERROR_STATE();

        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END;
