USE [SISE_NEW]
GO
/****** Object:  StoredProcedure [SISE3].[paActualizaArea]    Script Date: 04/07/2024 04:17:02 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ==========================================================================================
-- Author:		Isidro Neri Silva / Erick Garcia de la Rosa
-- Create date: 10/06/2024
-- Description:	Actualiza Area / Mesa de Trabajo
-- ==========================================================================================
CREATE PROCEDURE [SISE3].[paActualizaArea](
    @pa_AreaId INT,
	@pa_Nombre NVARCHAR(50),
    @pa_Descripcion NVARCHAR(255),
    @pa_EmpleadoId INT,
    @pa_AreaIdPadre INT,
    @pa_CatOrganismoId INT,
	@pa_UsuarioCaptura INT,
    @pa_fkIdTipoArea INT
)
AS
BEGIN

	DECLARE 
		@ErrorMessage NVARCHAR(4000),
		@ErrorSeverity INT,
		@ErrorState INT;

	BEGIN TRY
		UPDATE Areas SET
			Nombre = @pa_Nombre,
			Descripcion = @pa_Descripcion,
			EmpleadoId = @pa_EmpleadoId,
			AreaIdPadre = @pa_AreaIdPadre,
			CatOrganismoId = @pa_CatOrganismoId,
			UsuarioCaptura = @pa_UsuarioCaptura,
			fkIdTipoArea = @pa_fkIdTipoArea
		WHERE AreaId = @pa_AreaId;

		SELECT * FROM Areas WHERE AreaId=@pa_AreaId;

	END TRY
	BEGIN CATCH
		SELECT 
			@ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),                 
            @ErrorState =ERROR_STATE();

		RAISERROR (@ErrorMessage,@ErrorSeverity,@ErrorState);
	END CATCH
END