USE [SISE_NEW]
GO
/****** Object:  StoredProcedure [SISE3].[piInsertarRol]    Script Date: 15/08/2024 11:59:26 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ==========================================================================================
-- Author:		Isidro Neri Silva
-- Create date: 25/06/2024
-- Description:	Inserta un Rol
-- ==========================================================================================
CREATE PROCEDURE [SISE3].[piInsertarRol](
    @pi_sNombreRol VARCHAR(255),
    @pi_bEstatus BIT,
    @pi_sInicio VARCHAR(255)
)
AS
BEGIN

	DECLARE 
		@ErrorMessage NVARCHAR(4000),
		@ErrorSeverity INT,
		@ErrorState INT;

	BEGIN TRY
    INSERT INTO SISE3.CatRol (sNombreRol, bEstatus, pInicio)
    VALUES (@pi_sNombreRol, @pi_bEstatus,  @pi_sInicio);

		SELECT* FROM SISE3.CatRol WHERE IdRol=SCOPE_IDENTITY();

	END TRY
	BEGIN CATCH
		SELECT 
			@ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),                 
            @ErrorState =ERROR_STATE();

		RAISERROR (@ErrorMessage,@ErrorSeverity,@ErrorState);
	END CATCH
END