USE [SISE_NEW]
GO
/****** Object:  StoredProcedure [SISE3].[pcConsultarAudienciasDiferidas]    Script Date: 23/09/2024 07:00:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ==========================================================================================
-- Author:		Isidro Neri Silva
-- Create date: 23/09/2024
-- Description:	Obtiene la lista de audiencias diferidas por asunto neun id
-- Ejemplo de Ejecucion EXEC [SISE3].[pcConsultarAudienciasDiferidas] 36068234
-- ==========================================================================================
CREATE PROCEDURE [SISE3].[pcConsultarAudienciasDiferidas]
    @pi_fkIdAsuntoNeun BIGINT
AS
BEGIN
    DECLARE 
        @ErrorMessage NVARCHAR(4000),
        @ErrorSeverity INT,
        @ErrorState INT;

    BEGIN TRY

    SELECT
      iga.idInformacionGeneralAudiencia
     ,iga.idSala
     ,iga.fkIdAsuntoNeun
     ,iga.idAudiencia
     ,iga.fkIdTipoAudiencia
	 ,cta.sTipoAudiencia
     ,iga.idEstatusAudiencia
	 ,cea.descripcionEstatusAudiencia
     ,iga.fechaInicio
     ,iga.fechaFin
     ,iga.idUsuarioAlta
	 ,iga.bEsPrivada
	 ,CONCAT (ce.Nombre, ' ', ce.ApellidoPaterno, ' ', ce.ApellidoMaterno) AS Nombre
	 ,ce.UserName
     ,iga.respuestaOtis
    FROM
      InformacionGeneralAudiencia iga with(nolock)
      left join CatEstatusAudiencia cea with(nolock) on iga.idEstatusAudiencia = cea.idEstatusAudiencia
	  left join [dbo].[SISE_CAT_TipoAudiencia] cta with(nolock) on iga.fkIdTipoAudiencia = cta.kIdTipoAudiencia
	  left join CatEmpleados ce with(nolock) on iga.idUsuarioAlta = ce.EmpleadoId
    WHERE
      iga.fkIdAsuntoNeun = @pi_fkIdAsuntoNeun AND iga.bDiferida = 1


    END TRY
    BEGIN CATCH
        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),                 
            @ErrorState = ERROR_STATE();

        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
