USE [SISE_NEW]
GO
/****** Object:  StoredProcedure [SISE3].[piInsertaDetalleFecha]    Script Date: 11/11/2024 08:26:11 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ==========================================================================================
-- Author:		Isidro Neri Silva
-- Create date: 07/11/2024
-- Description:	Permite insertar en asunto detalle fechas y personas asunto detalle fechas, en referencia a los delitos.
-- ==========================================================================================
CREATE PROCEDURE [SISE3].[piInsertaDetalleFecha]
(
    @pi_AsuntoNeunId BIGINT,							
    @pi_TipoAsuntoId INT,
    @pi_ValorCampoAsunto DATETIME,
    @pi_NoCaptura INT,
    @pi_NoBloque INT,
    @pi_NoBloquePadre INT,
    @pi_EmpleadoId INT,
	@pi_Consecutivo INT,
    @pi_Persona INT
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE 
        @ErrorMessage NVARCHAR(4000),
        @ErrorSeverity INT,
        @ErrorState INT,
        @AsuntoDetalleFechasId INT;

    BEGIN TRY
        BEGIN TRANSACTION;

        -- Calcular el nuevo AsuntoDetalleFechasId
        SELECT @AsuntoDetalleFechasId = ISNULL(MAX(AsuntoDetalleFechasId), 0) + 1
        FROM AsuntosDetalleFechas WITH (NOLOCK)
        WHERE AsuntoNeunId = @pi_AsuntoNeunId AND AsuntoID = 1;

        -- Insertar en AsuntosDetalleFechas
        INSERT INTO AsuntosDetalleFechas WITH (ROWLOCK) 
            (AsuntoNeunId, AsuntoId, AsuntoDetalleFechasId, TipoAsuntoId, ValorCampoAsunto, NoCaptura, NoBloque, NoBloquePadre, Consecutivo, EmpleadoId)
        VALUES 
            (@pi_AsuntoNeunId, 1, @AsuntoDetalleFechasId, @pi_TipoAsuntoId, @pi_ValorCampoAsunto, @pi_NoCaptura, @pi_NoBloque, @pi_NoBloquePadre, @pi_Consecutivo, @pi_EmpleadoId);

        -- Insertar en PersonasAsuntosDetalleFechas para la Persona
        INSERT INTO PersonasAsuntosDetalleFechas WITH (ROWLOCK)
            (AsuntoNeunId, AsuntoId, AsuntoDetalleFechasId, PersonaId, EmpleadoId)
        VALUES
            (@pi_AsuntoNeunId, 1, @AsuntoDetalleFechasId, @pi_Persona, @pi_EmpleadoId);
            
        COMMIT TRANSACTION;

        -- Retornar éxito
        SELECT CAST(1 AS BIT) AS IsSuccess;

    END TRY
    BEGIN CATCH
        -- Revertir la transacción si ocurre un error
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        -- Obtener detalles del error
        SET @ErrorMessage = ERROR_MESSAGE();
        SET @ErrorSeverity = ERROR_SEVERITY();                 
        SET @ErrorState = ERROR_STATE();

        -- Registrar el error
        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);

        -- Retornar fallo
        SELECT CAST(0 AS BIT) AS IsSuccess;
    END CATCH;
END;
