USE [SISE_NEW]
GO
/****** Object:  StoredProcedure [SISE3].[pcConsultaAgendaTipoAsuntoId]    Script Date: 09/01/2025 05:24:21 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ==========================================================================================
-- Author: Isidro Neri Silva
-- Create date: 08/01/2025
-- Description:	Obtiene tipoAsuntoId para Control Fecha y Hora - se genera nuevo ya que requiere ajustes en la descripción de los campos
-- SP original:  [dbo].[usp_AgendaMapAudCelebrada] 
-- Ejemplo de  Ejecución: EXEC [SISE3].[pcConsultaAgendaTipoAsuntoId] 1, 3, 2, 99
-- ==========================================================================================
CREATE PROCEDURE [SISE3].[pcConsultaAgendaTipoAsuntoId](
@pi_idTipoAsunto INT,
@pi_catTipoOrganismoId INT,
@pi_tipoAgenda INT,
@pi_resultadoId INT
)
AS
BEGIN
DECLARE 
		@ErrorMessage NVARCHAR(4000),
		@ErrorSeverity INT,
		@ErrorState INT;

	BEGIN TRY

     DECLARE @CierresAudiencia TABLE (
        ControlHora INT,
        ControlFecha INT,
        UsaPartes SMALLINT
    );

    INSERT INTO @CierresAudiencia
    SELECT rc.IdHora AS ControlHora,
           rc.IdFecha AS ControlFecha,
           CASE WHEN @pi_tipoAgenda = 3 THEN 1 ELSE 0 END AS UsaPartes
    FROM AUD_ResultadoCierraAudiencia rc
    INNER JOIN AUD_CatResultado cr ON rc.IdCIerraAudiencia = cr.IdCIerraAudiencia
                                   AND cr.IdResultado = @pi_resultadoId
                                   AND cr.StatusReg = 1
    WHERE rc.IdTipoAsunto = @pi_idTipoAsunto
      AND rc.IdTipoAudiencia = @pi_tipoAgenda
      AND rc.StatusReg = 1;

    IF (SELECT COUNT(1) FROM @CierresAudiencia) = 0
    BEGIN
        IF EXISTS (SELECT 1 FROM AUD_CatResultado WITH(NOLOCK)
                   WHERE IdResultado = @pi_resultadoId
                         --AND (Descripcion LIKE '%Celebrada%' OR (@pi_tipoAgenda = 2 AND Descripcion = 'Concede')))
						 AND @pi_resultadoId IN (1, 7, 9, 15, 18, 19, 20, 21, 23, 28
											,33, 38, 43, 47, 48, 49, 53, 57, 61, 65
											,69, 72, 93, 100, 103, 115, 119, 123, 127, 132
											,134, 140, 146, 152, 156, 161, 163, 169, 171, 179
											,182, 183, 184, 185, 191, 197, 207, 210, 213, 214) OR (@pi_tipoAgenda = 2 AND @pi_ResultadoId = 99))
            BEGIN
                SELECT ta.HCel AS ControlHora, ta.FCel AS ControlFecha, ta.UsaPartes
                FROM AUD_TipoAudienciaPorAsunto ta WITH(NOLOCK)
                WHERE ta.CatTipoOrganismoId = @pi_CatTipoOrganismoId
                  AND ta.IdTipoAsunto = @pi_idTipoAsunto
                  AND ta.IdTipoAudiencia = @pi_tipoAgenda;
            END;
        END
        ELSE
        BEGIN
			SELECT ControlHora, ControlFecha, UsaPartes
			FROM @CierresAudiencia;
        END;

	END TRY
	BEGIN CATCH
		SELECT 
			@ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),                 
            @ErrorState =ERROR_STATE();

		RAISERROR (@ErrorMessage,@ErrorSeverity,@ErrorState);
	END CATCH
END