USE [SISE_NEW]
GO
/****** Object:  StoredProcedure [SISE3].[pcConsultaAreas]    Script Date: 10/07/2024 05:14:13 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ==========================================================================================
-- Author:		Isidro Neri Silva / Erick Garcia de la Rosa
-- Create date: 10/06/2024
-- Description:	Consultas las areas / mesas de trabajo
-- ==========================================================================================
CREATE PROCEDURE [SISE3].[pcConsultaAreas](
   @pc_TipoAreaId INT=0,
	@pc_CatOrganismoId INT
)
AS
BEGIN
DECLARE 
		@ErrorMessage NVARCHAR(4000),
		@ErrorSeverity INT,
		@ErrorState INT;

	BEGIN TRY
	-- Filtrar por área.
    IF @pc_TipoAreaId<>0
    BEGIN
       
        SELECT
            a.AreaId,
			a.Nombre AS Area,
            COUNT(ae.RegistroId) AS Integrantes,
            CONCAT(ce.Nombre, ' ', ce.ApellidoPaterno, ' ', ce.ApellidoMaterno) AS 'ResponsableMesa',
			a.AreaIdPadre
        FROM Areas AS a
        LEFT JOIN SISE3.CAT_TipoArea ta 
            ON a.fkIdTipoArea = ta.kIdTipoArea
        LEFT JOIN CatEmpleados AS ce
            ON a.EmpleadoId = ce.EmpleadoId
        LEFT JOIN AreasEmpleados AS ae 
            ON a.AreaId = ae.AreaId
		LEFT JOIN CatOrganismos AS co
		    ON a.CatOrganismoId = co.CatOrganismoId
        WHERE a.fkIdTipoArea = @pc_TipoAreaId AND a.CatOrganismoId = @pc_CatOrganismoId
        GROUP BY
            a.AreaId,
            a.Nombre,
            ta.sTipoArea,
            ce.Nombre,
            ce.ApellidoPaterno,
            ce.ApellidoMaterno,
			co.NombreOficial,
			a.AreaIdPadre;
    END
    ELSE 
    BEGIN
        -- Mostrar toda la lista
		  SELECT
            a.AreaId,
			a.Nombre AS Area,
            COUNT(ae.RegistroId) AS Integrantes,
            CONCAT(ce.Nombre, ' ', ce.ApellidoPaterno, ' ', ce.ApellidoMaterno) AS 'ResponsableMesa',
			a.AreaIdPadre
        FROM Areas AS a
        LEFT JOIN SISE3.CAT_TipoArea ta 
            ON a.fkIdTipoArea = ta.kIdTipoArea
        LEFT JOIN CatEmpleados AS ce
            ON a.EmpleadoId = ce.EmpleadoId
        LEFT JOIN AreasEmpleados AS ae 
            ON a.AreaId = ae.AreaId
		LEFT JOIN CatOrganismos AS co
		    ON a.CatOrganismoId = co.CatOrganismoId
			WHERE a.CatOrganismoId = @pc_CatOrganismoId
        GROUP BY
            a.AreaId,
            a.Nombre,
            ta.sTipoArea,
            ce.Nombre,
            ce.ApellidoPaterno,
            ce.ApellidoMaterno,
			co.NombreOficial,
			a.AreaIdPadre;
    END	
END TRY
	BEGIN CATCH
		SELECT 
			@ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),                 
            @ErrorState =ERROR_STATE();

		RAISERROR (@ErrorMessage,@ErrorSeverity,@ErrorState);
	END CATCH
END