USE [SISE_NEW]
GO
/****** Object:  StoredProcedure [SISE3].[paActualizaConfiguracionOrganismo]    Script Date: 29/08/2024 09:40:43 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ==========================================================================================
-- Author:		Isidro Neri Silva
-- Create date: 28/08/2024
-- Description:	Actualiza la información de la configuración en base al organismo
-- ==========================================================================================
CREATE PROCEDURE [SISE3].[paActualizaConfiguracionOrganismo](
    @pi_CatOrganismoId INT,
    @pi_TieneUNC BIT,
    @pi_bAlertasCorreo BIT
)
AS
BEGIN
    DECLARE 
        @ErrorMessage NVARCHAR(4000),
        @ErrorSeverity INT,
        @ErrorState INT,
        @OrganismoNombre VARCHAR(100);

    BEGIN TRY

        IF EXISTS (SELECT 1 FROM SISE3.ConfiguracionOrganismo WHERE CatOrganismoId = @pi_CatOrganismoId)
        BEGIN
            
            UPDATE SISE3.ConfiguracionOrganismo
            SET TieneUNC = @pi_TieneUNC,
                bAlertasCorreo = @pi_bAlertasCorreo
            WHERE CatOrganismoId = @pi_CatOrganismoId;

            SELECT * FROM SISE3.ConfiguracionOrganismo WHERE CatOrganismoId = @pi_CatOrganismoId;
        END
        ELSE
        BEGIN
            
            SELECT @OrganismoNombre = NombreOficial FROM CatOrganismos WHERE CatOrganismoId = @pi_CatOrganismoId;

            INSERT INTO SISE3.ConfiguracionOrganismo 
            (CatOrganismoId, Descripcion, TieneUNC, FechaAlta, FechaBaja, StatusReg, bAlertasCorreo)
            VALUES 
            (@pi_CatOrganismoId, @OrganismoNombre, 0, GETDATE(), NULL, 1, @pi_bAlertasCorreo);

            SELECT * FROM SISE3.ConfiguracionOrganismo WHERE CatOrganismoId = @pi_CatOrganismoId;
        END
    END TRY
    BEGIN CATCH
        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),                 
            @ErrorState = ERROR_STATE();
        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END

