USE [SISE_NEW]
GO
/****** Object:  StoredProcedure [SISE3].[pcExpedientePorAudienciaAlias]    Script Date: 04/09/2024 03:29:07 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================= 
-- Autor: Anabel Gonzalez
-- Fecha de Creación: 17 julio 2024
-- Descripción: Obtiene expediente por tipo asunto, audiencia y alias
-- Ejemplo : EXEC [SISE3].[pcExpedientePorAudienciaAlias]
-- SPOriginal : EXEC [SISE3].[pcExpedientePorAsuntoAlias]
-- Modificación: INSG 04/09/2024 Se cambia valores de mapeo de SISE3.fnExpediente por MapeoCamposTipoProcedimiento_TU_TCA
-- ============================================= 
ALTER PROCEDURE [SISE3].[pcExpedientePorAudienciaAlias]
(
	@pi_AsuntoAlias VARCHAR(50),
	@pi_CatOrganismoId INT,
	@pi_CatTipoAsuntoId INT = NULL,
	@pi_Modulo INT ,
	@pi_CatTipoProcedimiento INT  = NULL,
	@pi_AsuntoNeunId BIGINT = NULL
)
AS
BEGIN
	SET NOCOUNT ON
		BEGIN TRY
		
		IF @pi_Modulo = 1 
			BEGIN
				IF @pi_AsuntoNeunId IS NULL
				BEGIN
					SELECT	
						DISTINCT a.CatTipoAsuntoId
						,a.AsuntoNeunId
						,@pi_CatOrganismoId CatOrganismoId 
						,a.AsuntoAlias
						,a.CatMateriaId
						,a.NumeroOCC
						,ta.Descripcion TipoAsunto
						,ISNULL(mctp.CatalogoDependienteElementoIdNew, 0) AS CatTipoProcedimiento --INSG 04/09/2024 Se sustituyó por valores de MapeoCamposTipoProcedimiento_TU_TCA
						,ISNULL(mctp.CatalogoDependienteDescripcionNew, '') TipoProcedimiento --INSG 04/09/2024 Se sustituyó por valores de MapeoCamposTipoProcedimiento_TU_TCA
					FROM Asuntos a WITH(NOLOCK)
					CROSS APPLY SISE3.fnExpediente(a.AsuntoNeunId) a2
					LEFT JOIN [SISE_NEW].[dbo].[MapeoCamposTipoProcedimiento_TU_TCA] mctp ON a2.CatTipoProcedimiento = mctp.CatalogoDependienteElementoIdNew				
					INNER JOIN CatTiposAsunto ta  WITH(NOLOCK) ON a.CatTipoAsuntoId = ta.CatTipoAsuntoId
					INNER JOIN AUD_TipoAudienciaPorAsunto aud WITH(NOLOCK) ON aud.IdTipoAsunto = ta.CatTipoAsuntoId
					LEFT JOIN (SELECT ROW = ROW_NUMBER() OVER(PARTITION BY cd.CatalogoDependienteElementoIDNew
						,ceta.CatTipoAsuntoId  ORDER BY cd.CatalogoDependienteElementoIDNew)
						,TipoProcedimiento = ced.CatalogoElementoDescripcion
						,CatTipoProcedimiento = cd.CatalogoDependienteElementoIDNew
						,ceta.CatTipoAsuntoId
					FROM dbo.CatalogosDependientes cd WITH(NOLOCK)  
					INNER JOIN dbo.CatalogosElementosDescripcion ced WITH(NOLOCK) ON cd.CatalogoDependienteElementoIDNew = ced.CatalogoElementoDescripcionID
					INNER JOIN CatalogosElementosTiposAsunto ceta WITH(NOLOCK) ON cd.CatalogoDependienteId=ceta.CatalogoId 
					AND cd.CatalogoDependienteElementoIDNew = ceta.CatalogoElementoIdNew
					WHERE cd.CatalogoDependienteId IN (464,124,208,1207,734,1933,1892)
					) ctp ON a.CatTipoProcedimiento = ctp.CatTipoProcedimiento AND a.CatTipoAsuntoId = ctp.CatTipoAsuntoId AND ctp.ROW = 1
					WHERE  a.StatusReg = 1
					AND aud.Activo = 1
					AND a.CatOrganismoId = @pi_CatOrganismoId
					AND a.AsuntoAlias = @pi_AsuntoAlias
					AND a.CatTipoAsuntoId = ISNULL(@pi_CatTipoAsuntoId,a.CatTipoAsuntoId)
					AND IIF(ISNULL(@pi_CatTipoProcedimiento,0)=0,0,a.CatTipoProcedimiento) = ISNULL(@pi_CatTipoProcedimiento,0)
		END
			ELSE
				SELECT	 
				    DISTINCT a.CatTipoAsuntoId
					,a.AsuntoNeunId
					,@pi_CatOrganismoId CatOrganismoId 
					,a.AsuntoAlias
					,a.CatMateriaId
					,a.NumeroOCC
					,ta.Descripcion TipoAsunto
					,ISNULL(mctp.CatalogoDependienteElementoIdNew, 0) AS CatTipoProcedimiento --INSG 04/09/2024 Se sustituyó por valores de MapeoCamposTipoProcedimiento_TU_TCA
				    ,ISNULL(mctp.CatalogoDependienteDescripcionNew, '') TipoProcedimiento --INSG 04/09/2024 Se sustituyó por valores de MapeoCamposTipoProcedimiento_TU_TCA
				FROM Asuntos a WITH(NOLOCK)
				CROSS APPLY SISE3.fnExpediente(a.AsuntoNeunId) a2
				LEFT JOIN [SISE_NEW].[dbo].[MapeoCamposTipoProcedimiento_TU_TCA] mctp ON a2.CatTipoProcedimiento = mctp.CatalogoDependienteElementoIdNew
				INNER JOIN CatTiposAsunto ta WITH(NOLOCK) ON a.CatTipoAsuntoId = ta.CatTipoAsuntoId
				INNER JOIN AUD_TipoAudienciaPorAsunto aud WITH(NOLOCK) ON aud.IdTipoAsunto = ta.CatTipoAsuntoId
				LEFT JOIN (SELECT ROW = ROW_NUMBER() OVER(PARTITION BY cd.CatalogoDependienteElementoIDNew
							,ceta.CatTipoAsuntoId  ORDER BY cd.CatalogoDependienteElementoIDNew)
							,TipoProcedimiento = ced.CatalogoElementoDescripcion
							,CatTipoProcedimiento = cd.CatalogoDependienteElementoIDNew
							,ceta.CatTipoAsuntoId
						   FROM dbo.CatalogosDependientes cd WITH(NOLOCK)  
						   INNER JOIN dbo.CatalogosElementosDescripcion ced WITH(NOLOCK) ON cd.CatalogoDependienteElementoIDNew = ced.CatalogoElementoDescripcionID
							INNER JOIN CatalogosElementosTiposAsunto ceta WITH(NOLOCK) 	ON cd.CatalogoDependienteId=ceta.CatalogoId 
							AND cd.CatalogoDependienteElementoIDNew = ceta.CatalogoElementoIdNew
							WHERE cd.CatalogoDependienteId IN (464,124,208,1207,734,1933,1892)
							) ctp ON a.CatTipoProcedimiento = ctp.CatTipoProcedimiento AND a.CatTipoAsuntoId = ctp.CatTipoAsuntoId AND ctp.ROW = 1
				WHERE  a.StatusReg = 1
				AND aud.Activo = 1
				AND a.CatOrganismoId = @pi_CatOrganismoId
				AND a.AsuntoNeunId = @pi_AsuntoNeunId		
				AND IIF(ISNULL(@pi_CatTipoProcedimiento,0)=0,0,a.CatTipoProcedimiento) = ISNULL(@pi_CatTipoProcedimiento,0)
	END	
	ELSE 
		BEGIN
			/*Cargar Asuntos Documentos que no tienen promoción*/
			CREATE TABLE #MaxSec
			(AsuntoNeunId BIGINT, 
				Expediente VARCHAR(50) collate SQL_Latin1_General_CP850_CI_AI, 
				Mesa VARCHAR(15),
				Id INT 
			)

			INSERT INTO #MaxSec
			SELECT p.AsuntoNeunId, 
			aa.AsuntoAlias ,
			p.Mesa,
			ROW_NUMBER() OVER (PARTITION BY p.AsuntoNeunId, aa.AsuntoAlias ORDER BY CAST(CONCAT(CONVERT(VARCHAR,p.FechaPresentacion,112),' ',p.HoraPresentacion) AS DATETIME) DESC) AS id
			FROM Promociones p WITH(NOLOCK) 
			CROSS APPLY SISE3.fnExpediente(p.AsuntoNeunId) aa
			INNER JOIN CatTiposAsunto ta WITH(NOLOCK) ON aa.CatTipoAsuntoId = ta.CatTipoAsuntoId
			LEFT JOIN PromocionArchivos pa WITH(NOLOCK) ON pa.AsuntoNeunId = p.AsuntoNeunId
														AND pa.CatOrganismoId = p.CatOrganismoId 
														AND pa.NumeroOrden = p.NumeroOrden
														AND pa.Origen = p.OrigenPromocion 
														AND pa.YearPromocion = p.YearPromocion
														AND pa.StatusArchivo = 1
														AND pa.ClaseAnexo = 0
			WHERE p.StatusReg = 1 
			AND aa.AsuntoAlias = @pi_AsuntoAlias
			AND aa.CatOrganismoId = @pi_CatOrganismoId
			AND aa.CatTipoAsuntoId = ta.CatTipoAsuntoId

		SELECT	
			 a.AsuntoNeunId
			,@pi_CatOrganismoId CatOrganismoId
			,a.AsuntoAlias
			,a.CatTipoAsuntoId
			,a.CatMateriaId
			,a.NumeroOCC
			,ta.Descripcion TipoAsunto
			,ISNULL(mctp.CatalogoDependienteElementoIdNew, 0) AS CatTipoProcedimiento --INSG 04/09/2024 Se sustituyó por valores de MapeoCamposTipoProcedimiento_TU_TCA
		    ,ISNULL(mctp.CatalogoDependienteDescripcionNew, '') TipoProcedimiento --INSG 04/09/2024 Se sustituyó por valores de MapeoCamposTipoProcedimiento_TU_TCA
			,m.Mesa
		FROM Asuntos a WITH(NOLOCK)
		CROSS APPLY SISE3.fnExpediente(a.AsuntoNeunId) a2
		LEFT JOIN [SISE_NEW].[dbo].[MapeoCamposTipoProcedimiento_TU_TCA] mctp ON a2.CatTipoProcedimiento = mctp.CatalogoDependienteElementoIdNew
		INNER JOIN CatTiposAsunto ta WITH(NOLOCK) ON a.CatTipoAsuntoId = ta.CatTipoAsuntoId
		LEFT JOIN #MaxSec m ON  a.AsuntoNeunId = m.AsuntoNeunId AND a.AsuntoAlias = m.Expediente AND m.id = 1
		WHERE a.CatOrganismoId = @pi_CatOrganismoId
		AND a.AsuntoAlias = @pi_AsuntoAlias
		AND a.CatTipoAsuntoId = ISNULL(@pi_CatTipoAsuntoId,a.CatTipoAsuntoId)
		AND a.StatusReg = 1
	END
		END TRY 
		BEGIN CATCH
			EXECUTE dbo.usp_GetErrorInfo;
		END CATCH;
		SET NOCOUNT OFF
END