SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================= 
-- Autor: Anabel Gonzalez
-- Fecha de Creación: 14 de Junio 2024
-- Descripción: Ejecuta la actualización de resultado por audiencia e incrementa el NoBloque en AsuntosDetalleFechas por cada cambio de estado
-- Ejemplo : EXEC [SISE3].[paActualizarResultadoAudiencia] 3047, 65
-- Resultado: IdResultado,Descripcion y IdAgenda
-- SPOriginal:EXEC usp_AgendaMarcaAudiencia 9172722,12
-- Ajustes -- INSG -- Ajuste de lógica para para actualización de estado de audiencia. 09/12/2024
-- Modificación AGA 12062025 : Se realiza ajuste para obtener los AsuntoDetalleFechasId correctos para dar de baja al actualizar el estatus de audiencias
-- ============================================= 
ALTER PROCEDURE [SISE3].[paActualizarResultadoAudiencia]
@pi_AsuntoNeunId BIGINT, 
@pi_IdAgenda INT,
@pi_IdResultado INT
AS
	BEGIN
		SET NOCOUNT ON
		BEGIN TRY

		DECLARE @Baja TABLE (TipoAsuntoId INT);
		INSERT INTO @Baja

		SELECT v.TipoAsuntoId
		FROM [AUD_AsuntosDetalleFechas] AS aud
		CROSS APPLY (VALUES (aud.ControlFecha), (aud.ControlHora)) AS v(TipoAsuntoId)
		WHERE aud.AsuntoNeunId = @pi_AsuntoNeunId
		AND aud.AgendaId = @pi_IdAgenda


		IF EXISTS (SELECT 1 FROM @Baja)
			BEGIN

				CREATE TABLE #DetalleFechasIdTemp (AsuntoDetalleFechasId INT);
				INSERT INTO #DetalleFechasIdTemp (AsuntoDetalleFechasId)

				SELECT AsuntoDetalleFechasId
				FROM AsuntosDetalleFechas
				WHERE AsuntoNeunId = @pi_AsuntoNeunId
				AND TipoAsuntoId NOT IN (SELECT TipoAsuntoId FROM #DetalleFechasIdTemp 
																				UNION ALL SELECT 4564  
																				UNION ALL SELECT 4565 
																				UNION ALL SELECT 4566 
																				UNION ALL SELECT 4562 
																				)
				AND StatusReg = 1
				AND NoCaptura = 0
				ORDER BY AsuntoDetalleFechasId DESC;
				
				--SE REALIZA LA BAJA DE LOS AsuntoDetalleFechasId PARA ACTUALIZAR AL NUEVO ESTADO DE AUDIENCIA
				UPDATE AsuntosDetalleFechas
					SET StatusReg = 0,
					FechaBaja = GETDATE()
				WHERE AsuntoDetalleFechasId IN( SELECT * FROM #DetalleFechasIdTemp)
				AND AsuntoNeunId = @pi_AsuntoNeunId


				CREATE TABLE #PersonasDetalleFechasIdTemp (PersonaAsuntoDetallesFechasId BIGINT,AsuntoDetalleFechasId INT);
				INSERT INTO #PersonasDetalleFechasIdTemp (PersonaAsuntoDetallesFechasId,AsuntoDetalleFechasId)

				SELECT padf.PersonaAsuntoDetallesFechasId,padf.AsuntoDetalleFechasId
				FROM PersonasAsuntosDetalleFechas padf  WITH(NOLOCK)
				INNER JOIN #DetalleFechasIdTemp dft	ON padf.AsuntoDetalleFechasId = dft.AsuntoDetalleFechasId
				WHERE padf.AsuntoNeunId = @pi_AsuntoNeunId;

							   				 			  
				UPDATE padf
				SET StatusReg = 0,
					FechaBaja = GETDATE()
				FROM PersonasAsuntosDetalleFechas padf WITH (ROWLOCK)
				INNER JOIN #PersonasDetalleFechasIdTemp pdft
					ON padf.PersonaAsuntoDetallesFechasId = pdft.PersonaAsuntoDetallesFechasId
					AND padf.AsuntoDetalleFechasId =  pdft.AsuntoDetalleFechasId
				WHERE padf.AsuntoNeunId = @pi_AsuntoNeunId 

				----SE ACTUALIZA EL ResultadoId en AUD_AsuntosDetalleFechas
				UPDATE [AUD_AsuntosDetalleFechas] WITH(ROWLOCK)
				SET  [ResultadoId] = @pi_IdResultado
				WHERE AgendaId=@pi_IdAgenda

				SELECT 
				ADF.ResultadoId IdResultado
				,CatResult.Descripcion
				, CONVERT(INT,ADF.AgendaId) IdAgenda		
				FROM [AUD_AsuntosDetalleFechas] ADF WITH(NOLOCK)
				INNER JOIN AUD_CatResultado CatResult WITH(NOLOCK) ON CatResult.IdResultado = ADF.ResultadoId 
				WHERE ADF.AgendaId = @pi_IdAgenda AND ADF.ResultadoId = @pi_IdResultado

			END
		ELSE
			BEGIN
	   
				UPDATE [AUD_AsuntosDetalleFechas] with(rowlock)
				SET  [ResultadoId] = @pi_IdResultado
				WHERE AgendaId=@pi_IdAgenda

				SELECT 
				ADF.ResultadoId IdResultado
				,CatResult.Descripcion
				, CONVERT(INT,ADF.AgendaId) IdAgenda		
				FROM [AUD_AsuntosDetalleFechas] ADF WITH(NOLOCK)
				INNER JOIN AUD_CatResultado CatResult WITH(NOLOCK) ON CatResult.IdResultado = ADF.ResultadoId 
				WHERE ADF.AgendaId = @pi_IdAgenda AND ADF.ResultadoId = @pi_IdResultado
		 END;

		END TRY
		BEGIN CATCH
			EXECUTE dbo.usp_GetErrorInfo;
		END CATCH;
		SET NOCOUNT OFF
	END