USE [SISE_NEW]
GO
/****** Object:  StoredProcedure [SISE3].[pcObtenerReporteAudiencias]    Script Date: 22/01/2025 02:43:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================= 
-- Autor: Anabel Gonzalez
-- Fecha de Creación: 01/07/2024
-- Descripción: Consulta para obtener el de detalle de la agenda de audiencias por fecha, expediente o nombre de la persona
-- Ejemplo : EXEC [SISE3].[pcObtenerReporteAudiencias] 180, '2012/04/27', '2018/04/27',NULL,NULL
-- SPOriginal : EXEC usp_AgendaDaAudienciasPorDia 6, 14, 1201, 1, '27/04/2012', '27/04/2018'
-- Ajuste para eliminar duplicados, se quitan joins con PersonasAsuntosDetalleFechas, PersonasAsunto para evitar las partes - 210125 - INSG
-- ============================================= 
ALTER PROCEDURE [SISE3].[pcObtenerReporteAudiencias]
	 @pc_AsuntoNeunId BIGINT = NULL
	,@pc_CatOrganismoId INT
	,@pc_FAudIni DATETIME = NULL
	,@pc_FAudFin DATETIME = NULL
	,@pc_Expediente VARCHAR(20) = NULL
	,@pc_Persona VARCHAR(50) = NULL
AS
BEGIN	
SELECT
		     CONVERT(INT,aud.AsuntoNeunId) IdNeun			
			, cta.Descripcion  TipoAsunto
			, asu.AsuntoAlias  Expediente
			, CONVERT(INT,caud.IdTipoAudiencia) IdTipoAudiencia 
			, caud.Descripcion  Audiencia
			, CONVERT(INT,aud.AgendaId) IdAgenda
			, CONVERT(VARCHAR(10),CONVERT(DATE, fecha.ValorCampoAsunto)) FechaAudiencia
			, CONVERT(VARCHAR(5),CONVERT(TIME, hora.ValorCampoAsunto)) HoraAudiencia
			, ISNULL(cr.Descripcion, '') Resultado
			, CONVERT(INT,cr.IdResultado) IdResultado
			, ISNULL(LTRIM(UPPER(e.Nombre)) + ' ' + UPPER(e.ApellidoPaterno) + ' ' + UPPER(e.ApellidoMaterno), 'Sin Valor') Empleado
			, ISNULL(LTRIM(UPPER(s.Nombre)) + ' ' + UPPER(s.ApellidoPaterno) + ' ' + UPPER(s.ApellidoMaterno), 'Sin Valor') Secretario	
			, ISNULL(mctp.CatalogoDependienteDescripcionNew, '') Procedimiento
		FROM [AUD_AsuntosDetalleFechas] aud WITH(NOLOCK)
		INNER JOIN AUD_CatTipoAudiencia caud WITH(NOLOCK) ON aud.AudienciaId = caud.IdTipoAudiencia
		INNER JOIN AsuntosDetalleFechas fecha WITH(NOLOCK) ON aud.ControlFecha=fecha.TipoAsuntoId 
			AND aud.FechaId=fecha.AsuntoDetalleFechasId 
			AND aud.AsuntoNeunId = fecha.AsuntoNeunId
			AND aud.AsuntoId = fecha.AsuntoId
		INNER JOIN AsuntosDetalleFechas hora WITH(NOLOCK) ON aud.ControlHora=hora.TipoAsuntoId 
			AND aud.HoraId=hora.AsuntoDetalleFechasId 
			AND aud.AsuntoNeunId = hora.AsuntoNeunId
			AND aud.AsuntoId = hora.AsuntoId
		INNER JOIN Asuntos asu WITH(NOLOCK)	ON asu.AsuntoNeunId = aud.AsuntoNeunId
		INNER JOIN CatTiposAsunto cta WITH(NOLOCK) ON asu.CatTipoAsuntoId = cta.CatTipoAsuntoId
			AND cta.StatusReg = 1
		LEFT JOIN [SISE_NEW].[dbo].[MapeoCamposTipoProcedimiento_TU_TCA] mctp ON asu.CatTipoProcedimiento = mctp.CatalogoDependienteElementoIdNew
		LEFT JOIN AUD_CatResultado cr WITH(NOLOCK)	ON aud.ResultadoId = cr.IdResultado
		LEFT JOIN CatEmpleados e WITH(NOLOCK)	ON aud.EmpleadoId = e.EmpleadoId
			AND e.StatusRegistro = 1
		LEFT JOIN CatEmpleados s WITH(NOLOCK)
		ON aud.SecretarioId = s.EmpleadoId
			AND s.StatusRegistro = 1
		WHERE 
		    aud.OrganoId=@pc_CatOrganismoId 			
			AND aud.StatusReg=1	
			AND (@pc_FAudIni IS NULL OR CONVERT(DATE,fecha.ValorCampoAsunto,103) >= CONVERT(DATE,@pc_FAudIni,103) AND (@pc_FAudFin IS NULL OR CONVERT(DATE,fecha.ValorCampoAsunto,103) <= CONVERT(DATE,@pc_FAudFin,103)))
		 	AND ((@pc_Expediente IS NULL) OR (@pc_Expediente = asu.AsuntoAlias )) 
			AND ((@pc_AsuntoNeunId IS NULL) OR (@pc_AsuntoNeunId = asu.AsuntoNeunId )) 
			AND ((@pc_Persona IS NULL)
				OR (@pc_Persona = (LTRIM(UPPER(e.Nombre)) + ' ' + UPPER(e.ApellidoPaterno) + ' ' + UPPER(e.ApellidoMaterno))) 
				OR (@pc_Persona = (LTRIM(UPPER(s.Nombre)) + ' ' + UPPER(s.ApellidoPaterno) + ' ' + UPPER(s.ApellidoMaterno))))
		ORDER BY FechaAudiencia , HoraAudiencia ASC
END