USE [SISE_NEW]
GO
/****** Object:  StoredProcedure [SISE3].[pcAgendaDaAudienciasPorDia]    Script Date: 12/12/2024 06:40:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================= 
-- Autor: Anabel Gonzalez
-- Fecha de Creación: 14 de Junio 2024
-- Descripción: Se obtienen las audicencias por fecha y se clasifican si pueden modificarse segun su estado (resultado)
-- Ejemplo : EXEC [SISE3].[pcAgendaDaAudienciasPorDia] 180,'2024/04/27','2024/07/27'
-- SPOriginal : EXEC usp_AgendaDaAudienciasPorDia 6, 14, 1201, 1, '27/04/2012', '27/04/2018'
-- Modificación: INSG 04/09/2024 Se toman valores de MapeoCamposTipoProcedimiento_TU_TCA para Procedimiento en Tribunales Colegiados de Apelación.
-- Modificación: INSG 26/11/2024 Se agrega el valor de la mesa del secretario.
-- Modificación: INSG 12/12/2024 Ajuste, para evitar duplicados.
-- ============================================= 
ALTER PROCEDURE [SISE3].[pcAgendaDaAudienciasPorDia]
	@pi_CatOrganismoId INT,
	@pi_FAudIni DATETIME,
	@pi_FAudFin DATETIME
AS
BEGIN	
	; WITH maxAudiencia AS
(
    SELECT
		     CONVERT(INT,aud.AsuntoNeunId) IdNeun			
			, cta.Descripcion  TipoAsunto 
			, asu.AsuntoId --INSG-12/12/24
			, asu.CatTipoAsuntoId --INSG-12/12/24
			, asu.AsuntoAlias  Expediente
			, CONVERT(INT,caud.IdTipoAudiencia) IdTipoAudiencia 
			, caud.Descripcion  Audiencia
			, CONVERT(INT,aud.AgendaId) IdAgenda
			, CONVERT(VARCHAR(10),CONVERT(DATE, fecha.ValorCampoAsunto)) FechaAudiencia
			, CONVERT(VARCHAR(5),CONVERT(TIME, hora.ValorCampoAsunto)) HoraAudiencia
			, ISNULL(cr.Descripcion, '') Resultado
			, CONVERT(INT,cr.IdResultado) IdResultado
			, ISNULL(LTRIM(UPPER(e.Nombre)) + ' ' + UPPER(e.ApellidoPaterno) + ' ' + UPPER(e.ApellidoMaterno), 'Sin Valor') Empleado
			, e.EmpleadoId --INSG-12/12/24
			, ISNULL(LTRIM(UPPER(s.Nombre)) + ' ' + UPPER(s.ApellidoPaterno) + ' ' + UPPER(s.ApellidoMaterno), 'Sin Valor') Secretario
			, s.EmpleadoId SecretarioId --INSG-12/12/24
			, a.Descripcion as Mesa
			, CONVERT(VARCHAR(10),CONVERT(DATE, fecha.FechaAlta)) FechaAlta
			, CONVERT(VARCHAR(8),CONVERT(TIME, fecha.FechaAlta)) HoraAlta
			,fecha.ValorCampoAsunto
			,aud.StatusReg
			,aud.OrganoId
			,ISNULL(mctp.CatalogoDependienteDescripcionNew, '') Procedimiento
			,ROW_NUMBER() OVER (PARTITION BY aud.AsuntoNeunId,caud.IdTipoAudiencia ORDER BY fecha.FechaAlta DESC) Enumerado
		FROM [AUD_AsuntosDetalleFechas] aud WITH(NOLOCK)
		INNER JOIN AUD_CatTipoAudiencia caud WITH(NOLOCK) ON aud.AudienciaId = caud.IdTipoAudiencia
		INNER JOIN AsuntosDetalleFechas fecha WITH(NOLOCK) ON aud.ControlFecha=fecha.TipoAsuntoId 
			AND aud.FechaId=fecha.AsuntoDetalleFechasId 
			AND aud.AsuntoNeunId = fecha.AsuntoNeunId
			AND aud.AsuntoId = fecha.AsuntoId
		INNER JOIN AsuntosDetalleFechas hora WITH(NOLOCK) ON aud.ControlHora=hora.TipoAsuntoId 
			AND aud.HoraId=hora.AsuntoDetalleFechasId 
			AND aud.AsuntoNeunId = hora.AsuntoNeunId
			AND aud.AsuntoId = hora.AsuntoId
		INNER JOIN Asuntos asu WITH(NOLOCK)	ON asu.AsuntoNeunId = aud.AsuntoNeunId
		INNER JOIN CatTiposAsunto cta WITH(NOLOCK) ON asu.CatTipoAsuntoId = cta.CatTipoAsuntoId
			AND cta.StatusReg = 1
		--LEFT JOIN CatalogosDependientes cd WITH(NOLOCK) ON cd.CatalogoDependienteElementoIDNew = asu.CatTipoProcedimiento AND cd.CatalogoDependienteIdPadre = 200
		LEFT JOIN [SISE_NEW].[dbo].[MapeoCamposTipoProcedimiento_TU_TCA] mctp ON asu.CatTipoProcedimiento = mctp.CatalogoDependienteElementoIdNew -- INSG 04/09/2024 Se reemplaza relación de CatalogosDependientes con MapeoCamposTipoProcedimiento_TU_TCA
		LEFT JOIN AUD_CatResultado cr WITH(NOLOCK)	ON aud.ResultadoId = cr.IdResultado
		LEFT JOIN CatEmpleados e WITH(NOLOCK)	ON aud.EmpleadoId = e.EmpleadoId
			AND e.StatusRegistro = 1
		LEFT JOIN CatEmpleados s WITH(NOLOCK)
		ON aud.SecretarioId = s.EmpleadoId
			AND s.StatusRegistro = 1
		LEFT JOIN Areas a on a.EmpleadoId = s.EmpleadoId 
		    AND a.CatOrganismoId = @pi_CatOrganismoId 
			AND a.StatusReg = 1
		WHERE 
		    aud.OrganoId=@pi_CatOrganismoId			
			AND aud.StatusReg=1	
			AND (fecha.ValorCampoAsunto BETWEEN CONVERT(DATE,@pi_FAudIni) AND CONVERT(DATE,DATEADD(DAY, 1,@pi_FAudFin)))
),
	tblAudienciasAgendadas as
(

SELECT
    maxAud.IdNeun
	,maxAud.TipoAsunto
	,maxAud.AsuntoId --INSG-12/12/24
	,maxAud.CatTipoAsuntoId --INSG-12/12/24
	,maxAud.Expediente
	,maxAud.IdTipoAudiencia
	,maxAud.Audiencia
	,maxAud.IdAgenda
	,maxAud.FechaAudiencia
	,maxAud.HoraAudiencia
	,maxAud.Resultado
	,maxAud.IdResultado
	,maxAud.Empleado
	,maxAud.EmpleadoId --INSG-12/12/24
	,maxAud.Secretario
	,maxAud.SecretarioId --INSG-12/12/24
	,maxAud.Mesa
	,maxAud.FechaAlta
	,maxAud.HoraAlta
	,maxAud.ValorCampoAsunto
	,maxAud.StatusReg
	,maxAud.OrganoId
	,maxAud.Procedimiento
     ,CAST(CASE WHEN maxAud.Enumerado = 1 THEN 1 ELSE 0 END  AS BIT ) AS ModificarResultado	
	,maxAud.Enumerado
FROM maxAudiencia maxAud
)


SELECT tblAud.IdNeun 
	   ,tblAud.TipoAsunto
	   ,tblAud.AsuntoId --INSG-12/12/24
	   ,tblAud.CatTipoAsuntoId --INSG-12/12/24
	   ,tblAud.Expediente
	   ,tblAud.IdTipoAudiencia
	   ,tblAud.Audiencia
	   ,tblAud.IdAgenda
	   ,tblAud.FechaAudiencia
	   ,tblAud.HoraAudiencia
	   ,tblAud.Resultado
	   ,tblAud.IdResultado
	   ,tblAud.Empleado
	   ,tblAud.EmpleadoId --INSG-12/12/24
	   ,tblAud.Secretario
	   ,tblAud.SecretarioId --INSG-12/12/24
	   ,tblAud.Mesa
	   ,tblAud.FechaAlta
	   ,tblAud.HoraAlta
	   ,tblAud.ValorCampoAsunto
	   ,tblAud.Enumerado	   
	  ,tblAud.ModificarResultado
	  ,tblAud.Procedimiento
FROM tblAudienciasAgendadas tblAud	
ORDER BY tblAud.IdNeun, tblAud.IdTipoAudiencia, tblAud.ValorCampoAsunto ASC
	
END