USE [SISE_NEW]
GO
/****** Object:  StoredProcedure [SISE3].[piInsertarDetallesFechasAgenda]    Script Date: 13/01/2025 02:02:02 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================= 
-- Autor: Anabel Gonzalez
-- Fecha de Creación: 14 de Junio 2024
-- Descripción: Ejecuta el detalle para agendar una audiencia
-- SPOriginal : dbo.usp_AsuntosDetallesIns_FechasAgenda
-- Ajustes: INSG -- Corrección en el guardado de la audiencia 09/12/2024
-- Ajustes: INSG -- Asignación de TipoAsuntoId para Controles de Fecha y Hora, al reservar agenda antes y después del diferimiento. 12/12/24
-- Ajustes: INSG -- Corrección en el guardado de la audiencia 18/12/2024
-- ============================================= 
ALTER PROCEDURE [SISE3].[piInsertarDetallesFechasAgenda]
(
    @pi_CatOrganismoId INT,
	@pi_AsuntoNeunId BIGINT,
	@pi_TipoAsuntoId INT,
	@pi_AudienciaId INT,	
	@pi_Empleado INT,
	@pi_ParteSel BIGINT,
	@pi_ValorCampoAsunto DATETIME,
	@pi_SecretarioId INT = NULL,
	@pi_NombreSolicitante VARCHAR(100) = NULL,
	@pi_MotivoConsulta VARCHAR(500) = NULL,
	@pi_FechaAudienciaSolicitud DATETIME = NULL,
	@pi_FechaAcuerdoSolicitud DATETIME = NULL,
	@pi_EsAudienciaOraltis INT = NULL,
	@pi_IdAudienciaOraltis INT = NULL,
	@pi_PersonaId NVARCHAR(MAX), -- INSG - Se ajusta tipo de dato, se agregan dos parámetros mas.
	-- INSG - Nuevos Parametros
	@pi_ControlFecha INT,
	@pi_ControlHora INT,
	@pi_ControlFechaDiferida INT,
	@pi_ControlHoraDiferida INT
)
AS
BEGIN
    BEGIN TRY
	
	  DECLARE @AgendaIdIns INT = 0

	  BEGIN TRAN
		
		 -- INSG - Se trabaja con los ids de las partes
		CREATE TABLE #PersonasTemp (PersonaId INT);

        INSERT INTO #PersonasTemp (PersonaId)
        SELECT value
        FROM OPENJSON(@pi_PersonaId);
		--

		DECLARE @CatTipoOrganismoId INT = (SELECT CatTipoOrganismoId 
										   FROM [SISE_NEW].[dbo].[CatOrganismos] WITH(NOLOCK) 
										   WHERE CatOrganismoId = @pi_CatOrganismoId)  

		-- INSG - Se obtiene ultimo valor de AUD_AsuntosDetalleFechas
		DECLARE @MaxAsuntoDetalleFechaId INT = ISNULL((SELECT MAX([AsuntoDetalleFechasId]) 
		FROM [AsuntosDetalleFechas] WITH (NOLOCK)
		WHERE [AsuntoNeunId] = @pi_AsuntoNeunId
		), 0);
		-- INSG - Se obtiene ultimo valor de AUD_AsuntosDetalleFechas
		DECLARE @fechaMax INT = ISNULL((SELECT MAX([FechaId]) 
		FROM AUD_AsuntosDetalleFechas WITH (NOLOCK)
		WHERE [AsuntoNeunId] = @pi_AsuntoNeunId
		), 0);
		--
		
		DECLARE @CatTipoAsuntoId INT = (SELECT CatTipoAsuntoId 
										FROM Asuntos WITH(NOLOCK) 
										WHERE AsuntoNeunId = @pi_AsuntoNeunId AND StatusReg = 1)	
		-- INSG - Ajuste para obtener el consecutivo								
		DECLARE @ConsecutivoADF INT
		--
		-- INSG - Ajuste para asignar TipoAsuntoId cuando es diferimiento 12/12/24 - 18/12/24
		DECLARE @ResultadoId INT 
		DECLARE @ControlFecha INT
		DECLARE @ControlHora INT
		DECLARE @ResultadoDif INT 

		SET @ResultadoId = (SELECT TOP 1 ResultadoId FROM AUD_AsuntosDetalleFechas WHERE AsuntoNeunId = @pi_AsuntoNeunId AND AudienciaId = @pi_AudienciaId ORDER BY AgendaId DESC)

		SET @ResultadoDif = ISNULL(( SELECT IdResultado FROM AUD_CatResultado WHERE IdResultado = @ResultadoId AND Descripcion LIKE 'Diferida'), 0);

		IF @ResultadoDif <> 0
		BEGIN
			SET @ControlFecha = @pi_ControlFechaDiferida;
			SET @ControlHora = @pi_ControlHoraDiferida;
		END
		ELSE
		BEGIN 
			SET @ControlFecha = @pi_ControlFecha;
			SET @ControlHora = @pi_ControlHora;
		END;
		--
		DECLARE @AsuntoId INT = (SELECT A.AsuntoId 
								 FROM [SISE_NEW].[dbo].[Asuntos] A WITH(NOLOCK) 
								 WHERE A.CatOrganismoId = @pi_CatOrganismoId AND A.CatTipoAsuntoId = @CatTipoAsuntoId AND A.AsuntoNeunId = @pi_AsuntoNeunId AND StatusReg = 1)
		-- INSG - Ajuste para asignar el CierreAudienciaEstado	181224
		DECLARE @CierreAudienciaEstado INT = ISNULL((SELECT CatEstado.CierraAudiencia 
		FROM AUD_AsuntosDetalleFechas AUDAsuntos WITH (NOLOCK)
		INNER JOIN AUD_CatResultado CatEstado WITH (NOLOCK) 
        ON AUDAsuntos.ResultadoId = CatEstado.IdResultado
		WHERE AUDAsuntos.AsuntoNeunId = @pi_AsuntoNeunId AND AUDAsuntos.FechaId = @fechaMax
		), 0);

		-- INSG - Ajuste para asignar el NoBloquePadre	181224								  
		DECLARE @CtivoNoBloquePabre INT = ISNULL((
		SELECT CASE 
               WHEN @CierreAudienciaEstado = 0 THEN AFechas.NoBloquePadre 
               ELSE ISNULL(AFechas.NoBloquePadre, 0) + 1
           END
		FROM AsuntosDetalleFechas AFechas WITH (NOLOCK)
		WHERE AFechas.AsuntoNeunId = @pi_AsuntoNeunId 
      AND AFechas.AsuntoDetalleFechasId = @MaxAsuntoDetalleFechaId
		), 1);

		-- INSG - Ajuste para asignar el NoBloque
		-- INSG - Ajuste para asignar el NoBloque 18/12/24

		CREATE TABLE #TiposAsuntoTemp (ValorId INT);

        INSERT INTO #TiposAsuntoTemp (ValorId)
		SELECT 
			Valor
		FROM (
			SELECT 
				cat.IdTipoAudiencia AS IdTipoAudiencia,
				FAud,
				HAud,
				FDif,
				HDif
			FROM AUD_CatTipoAudiencia cat WITH (NOLOCK)
			INNER JOIN AUD_TipoAudienciaPorAsunto rel WITH (NOLOCK) 
				ON cat.IdTipoAudiencia = rel.IdTipoAudiencia 
			INNER JOIN CatOrganismos catOrg WITH (NOLOCK) 
				ON catOrg.CatTipoOrganismoId = rel.CatTipoOrganismoId
			WHERE rel.IdTipoAsunto = @pi_TipoAsuntoId
			  AND cat.IdTipoAgenda = 1
			  AND catOrg.CatOrganismoId = @pi_CatOrganismoId
			  AND rel.Activo = 1
			  AND cat.IdTipoAudiencia = @pi_AudienciaId
		) AS SourceTable
		UNPIVOT
		(
			Valor FOR Columna IN (FAud, HAud, FDif, HDif)
		) AS UnpivotedTable;

		DECLARE @iNoBloque INT;

		SET @iNoBloque = ISNULL((
		SELECT TOP(1) NoBloque 
		FROM AsuntosDetalleFechas 
		WHERE AsuntoNeunId = @pi_AsuntoNeunId AND StatusReg = 1
		ORDER BY AsuntoDetalleFechasId DESC
		), 0);
		
		IF EXISTS (
		SELECT 1
		FROM (
        SELECT TOP(1) TipoAsuntoId
        FROM AsuntosDetalleFechas 
        WHERE AsuntoNeunId = @pi_AsuntoNeunId AND StatusReg = 1
        ORDER BY AsuntoDetalleFechasId DESC
		 ) AS UltimoTipoAsunto
		WHERE TipoAsuntoId IN (SELECT ValorId FROM #TiposAsuntoTemp)
		)
		BEGIN
		SET @iNoBloque = @iNoBloque + 1;
		END;

		IF @iNoBloque = 0
		BEGIN
		SET @iNoBloque = 1;
		END;
		--
	
		CREATE TABLE #TblAsuntoDetalleFechas_Type (TipoAsunto INT, ValorCampoAsunto DATETIME, NoCaptura INT, NoBloque INT, NoBloquePadre INT, Consecutivo INT, FAud INT, Haud INT)

        -- INSG - Ajuste para asignar en la inserción de los tipos de asunto de control fecha y hora, noBloque, noBloquePadre, Consecutivo
		IF @ControlFecha IS NOT NULL
        SET @ConsecutivoADF = 1;
		
		INSERT INTO #TblAsuntoDetalleFechas_Type VALUES(@ControlFecha,CONVERT(DATE,@pi_ValorCampoAsunto,103),0,@iNoBloque,@CtivoNoBloquePabre,@ConsecutivoADF,@ControlFecha,@ControlHora)
		
		IF @ControlHora  IS NOT NULL
        SET @ConsecutivoADF = 2;

		INSERT INTO #TblAsuntoDetalleFechas_Type VALUES(@ControlHora,@pi_ValorCampoAsunto,0,@iNoBloque,@CtivoNoBloquePabre,@ConsecutivoADF,@ControlFecha,@ControlHora)
		--
			   
		CREATE TABLE #ids (id INT)		
		INSERT INTO #ids (id)
		SELECT IdFecha Id FROM AUD_ResultadoCierraAudiencia WITH(NOLOCK)
		WHERE IdTipoAudiencia = @pi_AudienciaId
			AND IdTipoAsunto = @CatTipoAsuntoId
		UNION(SELECT IdHora Id FROM AUD_ResultadoCierraAudiencia WITH(NOLOCK)
				WHERE IdTipoAudiencia = @pi_AudienciaId
				AND IdTipoAsunto = @CatTipoAsuntoId)
		UNION(SELECT Identificadores FROM (SELECT FAud, HAud, FDif, HDif
				FROM AUD_TipoAudienciaPorAsunto
				WHERE IdTipoAudiencia = @pi_AudienciaId
				AND IdTipoAsunto = @CatTipoAsuntoId) ta
				UNPIVOT (identificadores FOR Id IN (FAud, HAud, FDif, HDif))AS idsTA)		 
			
		DECLARE @NoBloquePadre SMALLINT

		IF @pi_AudienciaId = 3
	      BEGIN
	      	SET @NoBloquePadre = ISNULL((SELECT MAX(adfp.NoBloquePadre) FROM AsuntosDetalleFechas adfp WITH(NOLOCK) 
										 INNER JOIN PersonasAsuntosDetalleFechas padfp  WITH(NOLOCK) ON padfp.AsuntoNeunId = adfp.AsuntoNeunId
	      						                    AND padfp.AsuntoDetalleFechasId = adfp.AsuntoDetalleFechasId 
													AND padfp.PersonaId IN (SELECT PersonaId FROM #PersonasTemp) -- INSG - Ajuste para asignar las partes.
													AND padfp.StatusReg = 1
										 WHERE adfp.AsuntoNeunId = @pi_AsuntoNeunId 
										 AND adfp.TipoAsuntoId IN (SELECT id FROM #ids) 
										 AND adfp.StatusReg = 1), 0)
		END
		ELSE
	      BEGIN
	      	SET @NoBloquePadre = ISNULL((SELECT MAX(NoBloquePadre) FROM AsuntosDetalleFechas WITH(NOLOCK) 
										 WHERE AsuntoNeunId = @pi_AsuntoNeunId AND TipoAsuntoId IN (SELECT id FROM #ids) AND StatusReg = 1), 1)
	      END


		IF @pi_AudienciaId IN (1, 2, 88, 89, 90, 91, 92, 93, 94, 97, 98, 101,3)
		  BEGIN 
			IF @NoBloquePadre = 0
				BEGIN
						SET @NoBloquePadre = 1

					UPDATE AsuntosDetalleFechas
						SET NoBloquePadre = @NoBloquePadre
						WHERE AsuntoNeunId = @pi_AsuntoNeunId
						AND TipoAsuntoId IN (SELECT IdFecha Id FROM AUD_ResultadoCierraAudiencia WITH(NOLOCK) 
												WHERE IdTipoAudiencia = @pi_AudienciaId	
												AND IdTipoAsunto = @CatTipoAsuntoId 
												AND StatusReg = 1
											UNION(SELECT IdHora Id FROM AUD_ResultadoCierraAudiencia WITH(NOLOCK) 
												WHERE IdTipoAudiencia = @pi_AudienciaId	
												AND IdTipoAsunto = @CatTipoAsuntoId)
											UNION(SELECT Identificadores FROM(SELECT FAud, HAud, FDif, Hdif, FCel, HCel	FROM AUD_TipoAudienciaPorAsunto
														WHERE IdTipoAudiencia = @pi_AudienciaId	AND IdTipoAsunto = @CatTipoAsuntoId) ta
											UNPIVOT (identificadores FOR Id IN (FAud, HAud, FDif, Hdif, FCel, HCel))AS idsTA))
						AND NoBloquePadre = 0
			END
            
			DECLARE @IdResultado SMALLINT

			IF @pi_AudienciaId = 3
			BEGIN
				SET @IdResultado = (SELECT TOP 1 ResultadoId 
								    FROM AUD_AsuntosDetalleFechas 
									WHERE AsuntoNeunId = @pi_AsuntoNeunId 
									AND AudienciaId = @pi_AudienciaId 
									AND StatusReg = 1 
									AND Parte IN (SELECT PersonaId FROM #PersonasTemp)  -- INSG - Ajuste para asignar las partes.
									ORDER BY AgendaId DESC)
			END
			ELSE
			BEGIN
				SET @IdResultado = (SELECT TOP 1 ResultadoId FROM AUD_AsuntosDetalleFechas 
									WHERE AsuntoNeunId = @pi_AsuntoNeunId AND AudienciaId = @pi_AudienciaId AND StatusReg = 1 ORDER BY AgendaId DESC)
			END
			IF @IdResultado NOT IN (2, 16, 21, 22, 24, 98, 116, 120, 124, 128, 135, 141, 147, 164, 203, 180, 185, 186, 189,24)
			SET @NoBloquePadre = @NoBloquePadre + 1
	     END

		 CREATE TABLE #NuevosValoresAudiencia (AsuntoNeunId INT, AsuntoId INT, AsuntoDetalleFechasId INT, TipoAsuntoId INT, ValorCampoAsunto DATETIME, NoCaptura INT, NoBloque INT, NoBloquePadre INT, Consecutivo INT, EmpleadoId INT, CatOrganismoId INT, TFAuh INT, THAud INT)


		INSERT INTO #NuevosValoresAudiencia
		SELECT  @pi_AsuntoNeunId AsuntoNeunId
				, @AsuntoId AsuntoId
				, (ROW_NUMBER ()OVER (ORDER BY @AsuntoId ASC) ) + @MaxAsuntoDetalleFechaId AsuntoDetalleFechasId
				, adf.TipoAsunto
				, adf.ValorCampoAsunto
				, adf.NoCaptura
				, adf.NoBloque
				, CASE WHEN @pi_AudienciaId IN (1, 2, 3, 88, 89, 90, 91, 92, 93, 94, 97, 98, 101,3) THEN @NoBloquePadre ELSE adf.NoBloquePadre END AS NoBloquePadre
				, adf.Consecutivo
				, @pi_Empleado as EmpleadoId
				, @pi_CatOrganismoId as CatOrganismoId
				, adf.FAud
				, adf.Haud
		FROM #TblAsuntoDetalleFechas_Type adf 
		ORDER BY adf.Consecutivo

		IF @pi_EsAudienciaOraltis = 1
		BEGIN
            DECLARE @MaxAsuntoDetalleFechasId INT, @TaFechaId INT, @TaBloquePadre INT
                                  
			SELECT TOP 1 @TaFechaId = TipoAsunto, @TaBloquePadre = NoBloquePadre
            FROM #TblAsuntoDetalleFechas_Type  

            SELECT @MaxAsuntoDetalleFechasId = COUNT(tipoasuntoid)
            FROM asuntosdetallefechas WITH(NOLOCK)
            WHERE asuntoneunid = @pi_AsuntoNeunId   
				AND NoBloquePadre = @TaBloquePadre                           
				AND TipoAsuntoId = @TaFechaId
				AND statusreg = 1				

            IF(@MaxAsuntoDetalleFechasId = 0)
            BEGIN
                UPDATE #NuevosValoresAudiencia
                SET NoBloque = 1
            END
        END

		--INSERT AsuntosDetalleFechas
		INSERT INTO AsuntosDetalleFechas WITH (ROWLOCK)(AsuntoNeunId, AsuntoId, AsuntoDetalleFechasId, TipoAsuntoId, ValorCampoAsunto, NoCaptura, NoBloque, NoBloquePadre, Consecutivo, EmpleadoId)
		SELECT AsuntoNeunId, AsuntoId, AsuntoDetalleFechasId, TipoAsuntoId, ValorCampoAsunto, NoCaptura, NoBloque, NoBloquePadre, Consecutivo, EmpleadoId 
	    FROM #NuevosValoresAudiencia

		--INSG - Ajuste para el guardado de  AUD_AsuntosDetalleFechas
		INSERT INTO AUD_AsuntosDetalleFechas WITH (ROWLOCK)
        (AsuntoNeunId ,AsuntoID , Parte, AudienciaId ,FechaId,ControlFecha,HoraId,ControlHora,OrganoId, EmpleadoId, StatusReg, SecretarioId )
        SELECT TOP 1 @pi_AsuntoNeunId AS AsuntoNeunId
				, @AsuntoId AS AsuntoId
				, @pi_ParteSel AS Persona
				, @pi_AudienciaId AS AudienciaId
				, a.AsuntoDetalleFechasId
				, a.TipoAsuntoId AS ControlFecha
				, b.AsuntoDetalleFechasId
				, b.TipoAsuntoId  AS ControlHora
				, dbo.fnDevuelveOrgano(@pi_AsuntoNeunId) AS OrganoId
				, @pi_Empleado AS EmpleadoId
				, 1 AS StatusReg
				, @pi_SecretarioId
        FROM #NuevosValoresAudiencia a 
        JOIN #NuevosValoresAudiencia b
		 ON a.AsuntoNeunId = b.AsuntoNeunId 
			AND a.AsuntoDetalleFechasId != b.AsuntoDetalleFechasId 
		INNER JOIN AUD_TipoAudienciaPorAsunto taaf WITH(NOLOCK)
		ON a.TipoAsuntoId IN (taaf.FAud, taaf.FDif, taaf.FCel, 18204, 18205, 18206, 18207)
            AND taaf.Activo = 1
		INNER JOIN AUD_TipoAudienciaPorAsunto taah WITH(NOLOCK)
		ON b.TipoAsuntoId IN (taah.HAud, taah.HDif, taah.HCel, 18204, 18205, 18206, 18207)
            AND taah.Activo = 1
		SELECT @AgendaIdIns = SCOPE_IDENTITY()
		--
	
	     -- INSG - Ajuste para insertar las partes
		INSERT INTO PersonasAsuntosDetalleFechas WITH (ROWLOCK)
		(AsuntoNeunId ,AsuntoID ,AsuntoDetalleFechasId ,PersonaId ,FechaAlta ,StatusReg, EmpleadoId)
        SELECT adf.AsuntoNeunId 
            , adf.AsuntoId 
            , adf.AsuntoDetalleFechasId
            , pt.PersonaId
            , GETDATE() FechaAlta
            , 1 StatusReg
			, @pi_Empleado EmpleadoId
        FROM #NuevosValoresAudiencia adf WITH(NOLOCK)
        CROSS JOIN #PersonasTemp pt;


		DECLARE @IdAudiencia BIGINT = SCOPE_IDENTITY()
		--INSERT AUD_AudienciaSolicitante
		IF @pi_AudienciaId IN (90, 91) AND ((SELECT TOP 1 TipoAsunto FROM #TblAsuntoDetalleFechas_Type) IN (16754, 16755, 17150, 17151)) -- EL TIPO ASUNTO NO COINCIDE CON 16754??
		BEGIN			
			INSERT INTO AUD_AudienciaSolicitante WITH(ROWLOCK)
			(IdAgenda, NombreSolicitante)
			VALUES 
			(@IdAudiencia, @pi_NombreSolicitante)
		
			---GUARDANDO INFORMACION DE SOLICITANTE
			DECLARE @AsuntoDetalleDescripcionId INT = (SELECT ISNULL(MAX(AsuntoDetalleDescripcionId), 0) 
													   FROM [AsuntosDetalleDescripcion] WITH(NOLOCK) 
													   WHERE [AsuntoNeunId] = @pi_AsuntoNeunId) + 1
			DECLARE @TipoAsuntoDesc INT
			IF @pi_AudienciaId = 90
			BEGIN
				SET @TipoAsuntoDesc = 17766
			END
			IF @pi_AudienciaId = 91
			BEGIN
				SET @TipoAsuntoDesc = 17767
			END
			
			INSERT INTO AsuntosDetalleDescripcion WITH (ROWLOCK)
			(AsuntoNeunId, AsuntoId, AsuntoDetalleDescripcionId, TipoAsuntoId, Contenido, NoCaptura, NoBloque, NoBloquePadre, Consecutivo, FechaAlta, StatusReg, EmpleadoId)
			SELECT TOP 1 AsuntoNeunId, AsuntoId, @AsuntoDetalleDescripcionId, @TipoAsuntoDesc, @pi_NombreSolicitante, NoCaptura, NoBloque, @NoBloquePadre, Consecutivo, GETDATE(), 1, EmpleadoId FROM #NuevosValoresAudiencia

			INSERT INTO PersonasAsuntoDetalleDescripcion WITH (ROWLOCK)(AsuntoNeunId ,AsuntoID ,AsuntoDetalleDescripcionId ,PersonaId ,FechaAlta ,StatusReg)
			SELECT adf.AsuntoNeunId 
				, adf.AsuntoId 
				, @AsuntoDetalleDescripcionId
				, pt.PersonaId -- INSG - Ajuste para insertar las partes
				, GETDATE() FechaAlta
				, 1 StatusReg
			FROM #NuevosValoresAudiencia adf WITH(NOLOCK)
			CROSS JOIN #PersonasTemp pt; -- INSG - Ajuste para insertar las partes
		END	
			   		

		IF @pi_AudienciaId IN (3) AND ((SELECT TOP 1 TipoAsunto FROM #TblAsuntoDetalleFechas_Type) IN (17656, 17657))
		BEGIN			
			SET @AsuntoDetalleDescripcionId  = (SELECT ISNULL(MAX(AsuntoDetalleDescripcionId), 0) FROM [AsuntosDetalleDescripcion] WITH(NOLOCK) WHERE [AsuntoNeunId] = @pi_AsuntoNeunId) + 1
			SET @TipoAsuntoDesc=21845
			
			-----GUARDA CAMPO MOTIVO CONSULTA
			INSERT INTO AsuntosDetalleDescripcion WITH (ROWLOCK)
			(AsuntoNeunId, AsuntoId, AsuntoDetalleDescripcionId, TipoAsuntoId, Contenido, NoCaptura, NoBloque, NoBloquePadre, Consecutivo, FechaAlta, StatusReg, EmpleadoId)
			SELECT TOP 1 AsuntoNeunId, AsuntoId, @AsuntoDetalleDescripcionId, @TipoAsuntoDesc, @pi_MotivoConsulta, NoCaptura, NoBloque, NoBloquePadre, Consecutivo, GETDATE(), 1, EmpleadoId FROM #NuevosValoresAudiencia

			INSERT INTO PersonasAsuntoDetalleDescripcion WITH (ROWLOCK)(AsuntoNeunId ,AsuntoID ,AsuntoDetalleDescripcionId ,PersonaId ,FechaAlta ,StatusReg)
			SELECT distinct adf.AsuntoNeunId 
				, adf.AsuntoId 
				, @AsuntoDetalleDescripcionId
				, pt.PersonaId -- INSG - Ajuste para insertar las partes
				, GETDATE() FechaAlta
				, 1 StatusReg
			FROM #NuevosValoresAudiencia adf WITH(NOLOCK)
			CROSS JOIN #PersonasTemp pt; -- INSG - Ajuste para insertar las partes

			--------GUARDA CAMPO FECHA SOLICITUD AUDIENCIA
	        DECLARE @MaxFechaSolicitud INT = (SELECT ISNULL(MAX([AsuntoDetalleFechasId]),0) FROM [AsuntosDetalleFechas] WITH(NOLOCK) WHERE [AsuntoNeunId] = @pi_AsuntoNeunId) + 1

			INSERT INTO AsuntosDetalleFechas WITH (ROWLOCK)(AsuntoNeunId ,AsuntoId ,AsuntoDetalleFechasId ,TipoAsuntoId ,ValorCampoAsunto ,NoCaptura, NoBloque, NoBloquePadre, Consecutivo, EmpleadoId)
			SELECT TOP 1 AsuntoNeunId, AsuntoId, @MaxFechaSolicitud, 23903 , @pi_FechaAudienciaSolicitud, NoCaptura, NoBloque, NoBloquePadre, Consecutivo, EmpleadoId FROM #NuevosValoresAudiencia

			INSERT INTO PersonasAsuntosDetalleFechas WITH (ROWLOCK)(AsuntoNeunId, AsuntoID, AsuntoDetalleFechasId, PersonaId, FechaAlta, EmpleadoId, StatusReg)
			SELECT TOP 1 adf.AsuntoNeunId 
				, adf.AsuntoId 
				, @MaxFechaSolicitud
				, pt.PersonaId -- INSG - Ajuste para insertar las partes
				, GETDATE() FechaAlta
				, @pi_Empleado
				, 1 StatusReg
			FROM #NuevosValoresAudiencia adf WITH(NOLOCK)
			CROSS JOIN #PersonasTemp pt; -- INSG - Ajuste para insertar las partes

			-----GUARDA CAMPO FECHA ACUERDO SOLICITUD
	        DECLARE @MaxFechaAcuerdo INT = (SELECT ISNULL(MAX([AsuntoDetalleFechasId]),0) FROM [AsuntosDetalleFechas] WITH(NOLOCK) WHERE [AsuntoNeunId] = @pi_AsuntoNeunId) + 1

			INSERT INTO AsuntosDetalleFechas WITH (ROWLOCK)(AsuntoNeunId ,AsuntoId ,AsuntoDetalleFechasId ,TipoAsuntoId ,ValorCampoAsunto ,NoCaptura, NoBloque, NoBloquePadre, Consecutivo, EmpleadoId)
			SELECT TOP 1 AsuntoNeunId, AsuntoId, @MaxFechaAcuerdo, 23904, @pi_FechaAcuerdoSolicitud, NoCaptura, NoBloque, NoBloquePadre, Consecutivo, EmpleadoId FROM #NuevosValoresAudiencia

			INSERT INTO PersonasAsuntosDetalleFechas WITH (ROWLOCK)(AsuntoNeunId, AsuntoID, AsuntoDetalleFechasId, PersonaId, FechaAlta, EmpleadoId,StatusReg)
			SELECT TOP 1 adf.AsuntoNeunId 
				, adf.AsuntoId 
				, @MaxFechaAcuerdo
				, pt.PersonaId -- INSG - Ajuste para insertar las partes
				, GETDATE() FechaAlta
				, @pi_Empleado
				, 1 StatusReg
			FROM #NuevosValoresAudiencia adf WITH(NOLOCK)
			CROSS JOIN #PersonasTemp pt; -- INSG - Ajuste para insertar las partes
		END	

		
		------ Guardado del IdAudiencia en SISE, campo en base al cual se obtiene el NoBloque y NoBloquePadre para su manipulación (Altas, bajas y modificaciones)----------
        ------ Guardado del Status de la audiencia -------------------------------------------------------------------------------------------------------------------------
		
		IF @pi_EsAudienciaOraltis = 1                           
        BEGIN
            DECLARE @noBloque INT
            DECLARE @TipoAsuntoId INT
            DECLARE @TipoOrganismoId INT
            DECLARE @FechaAud INT
                                  
            SELECT TOP 1 @noBloque = NoBloque, @noBloquePadre = noBloquePadre, @FechaAud = TipoAsuntoId FROM #NuevosValoresAudiencia

            SELECT @TipoAsuntoId = asun.cattipoasuntoid, @TipoOrganismoId = corg.cattipoorganismoid 
            FROM catorganismos corg WITH(NOLOCK)
            LEFT JOIN asuntos asun WITH(NOLOCK)
            ON asun.catorganismoid = corg.catorganismoid
            WHERE asun.asuntoneunid = @pi_AsuntoNeunId

            DECLARE @TaIdAudiencia INT
            DECLARE @TaIdStatus INT

            SELECT @TaIdAudiencia = TaIdAudiencia, @TaIdStatus = TaIdStatus 
            FROM AUD_TipoAudienciaPorAsunto with(nolock)
            WHERE (FAud = @FechaAud OR HAud = @FechaAud)
				AND cattipoorganismoid = @TipoOrganismoId
				AND idtipoasunto = @TipoAsuntoId

            DECLARE @MaxAsuntoDetalleNumerosId INT
            SET @MaxAsuntoDetalleNumerosId = ( SELECT ISNULL(MAX([AsuntoDetalleNumerosId]),0) FROM [AsuntosDetalleNumeros] WITH(NOLOCK) WHERE [AsuntosNeunId] = @pi_AsuntoNeunId AND [AsuntoID] = @AsuntoId )

            DECLARE @MaxAsuntoDetalleCatalogosId INT
            SET @MaxAsuntoDetalleCatalogosId = (SELECT ISNULL(MAX([AsuntoDetalleCatalogosId]),0) FROM [AsuntosDetalleCatalogos] WITH(NOLOCK) WHERE [AsuntosNeunId] = @pi_AsuntoNeunId AND [AsuntoID] = @AsuntoId )

            INSERT INTO AsuntosDetalleNumeros WITH (ROWLOCK) (AsuntosNeunId,AsuntoID,AsuntoDetalleNumerosId,TipoAsuntoId,NumeroCampoAsunto,NoCaptura,NoBloque,NoBloquePadre,FechaAlta,StatusReg)
            VALUES (@pi_AsuntoNeunId, 1 ,@MaxAsuntoDetalleNumerosId + 1, @TaIdAudiencia, @pi_IdAudienciaOraltis, 0, @noBloque, @noBloquePadre, GETDATE(), 1) -- INSG - Ajuste de inserción

            -------820 es el id del catálogo de status de audiencias de ORALTIS
            INSERT INTO AsuntosDetalleCatalogos WITH (ROWLOCK) (AsuntosNeunId,AsuntoID,AsuntoDetalleCatalogosId,TipoAsuntoId,CatTipoCatalogoAsuntoId,CatCatalogoAsuntoId,NoCaptura,NoBloque,NoBloquePadre,FechaAlta,StatusReg)
            VALUES (@pi_AsuntoNeunId, 1, @MaxAsuntoDetalleCatalogosId + 1, @TaIdStatus, 820, 1, 0, @noBloque, @noBloquePadre, GETDATE(), 1) -- INSG - Ajuste de inserción
        END

		COMMIT TRAN
		
		SELECT @AgendaIdIns

		DROP TABLE #NuevosValoresAudiencia	
		DROP TABLE #TblAsuntoDetalleFechas_Type
		DROP TABLE #PersonasTemp; -- INSG - Borrado de tabla temporal
		DROP TABLE #TiposAsuntoTemp;

	END TRY
    BEGIN CATCH
		IF OBJECT_ID(N'tempdb..#NuevosValoresAudiencia', N'U') IS NOT NULL 
		BEGIN
				PRINT 'Existe'
				DROP TABLE #NuevosValoresAudiencia
				DROP TABLE #TblAsuntoDetalleFechas_Type
		END
		ROLLBACK TRAN
		SELECT @AgendaIdIns
        EXECUTE dbo.usp_GetErrorInfo;
    END CATCH;
END;