USE [SISE_NEW]
GO
/****** Object:  StoredProcedure [SISE3].[pcObtenerRecordatorio]    Script Date: 01/07/2024 11:12:24 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author: FJSR
-- Create date: 04/07/2024
-- Description: Obtiene un recordatorio
-- Basado en: usp_Word_ObservacionDocumento_Ins
-- EXEC [SISE3].[pcObtenerRecordatorio] 147295,6712
-- =============================================
CREATE PROCEDURE [SISE3].[pcObtenerRecordatorio]
	@pc_RecordatorioId BIGINT,
	@pc_EmpleadoId BIGINT
AS
BEGIN
    BEGIN TRY
		SET NOCOUNT ON;

		SELECT 
			ObservacionDocumentoId,
			AsuntoNeunId, 
			CatOrganismoId, 
			DocumentoId, 
			Observacion,
			FechaNotificacion, 
			EmpleadoId, 
			EmpleadoRecibe
        FROM dbo.Word_ObservacionDocumento WITH(NOLOCK)
		WHERE ObservacionDocumentoId = @pc_RecordatorioId
		AND EmpleadoId = @pc_EmpleadoId

        END TRY
     BEGIN CATCH
		EXECUTE usp_GetErrorInfo; 
     END CATCH
END