USE [SISE_NEW]
GO
/****** Object:  UserDefinedTableType [SISE3].[Tramites_type]    Script Date: 29/02/2024 10:05:38 p. m. ******/
CREATE TYPE [SISE3].[Tramites_type] AS TABLE(
	[No_Exp] [varchar](255) NULL,
	[TipoAsuntoDescripcion] [varchar](255) NULL,
	[NumeroRegistro] [int] NULL,
	[TipoPromocionDescripcion] [varchar](255) NULL,
	[FechaRecibido] [datetime] NULL,
	[NumeroOrden] [int] NULL,
	[NombreTipoCuaderno] [varchar](255) NULL,
	[Promovente] [varchar](5000) NULL,
	[TipoContenidoDescripcion] [varchar](255) NULL,
	[Contenido] [varchar](255) NULL,
	[Copias] [int] NULL,
	[Anexos] [int] NULL,
	[Estado] [varchar](255) NULL,
	[Mesa] [varchar](255) NULL,
	[SecretarioDescripcion] [varchar](300) NULL,
	[FechaAuto] [datetime] NULL,
	[Plantilla] [varchar](500) NULL,
	[AsuntoNeunId] [bigint] NULL,
	[AsuntoId] [int] NULL,
	[AsuntoDocumentoId] [int] NULL,
	[NombreArchivo] [varchar](255) NULL,
	[NombreCapDJ] [varchar](255) NULL,
	[EstadoAutorizacion] [int] NULL,
	[NumeroAlias] [bigint] NULL,
	[ArchivoPromocion] [varchar](255) NULL,
	[NombreOrigen] [varchar](255) NULL,
	[EmpleadoCancela] [varchar](255) NULL,
	[EmpleadoAutoriza] [varchar](255) NULL,
	[EmpleadoPreAutoriza] [varchar](255) NULL,
	[FechaAutoriza] [datetime] NULL,
	[FechaPreAutoriza] [datetime] NULL,
	[FechaCancela] [datetime] NULL,
	[userNameCapDJ] [varchar](20) NULL,
	[userNameSecretario] [varchar](20) NULL,
	[FechaRecibido_F] [varchar](20) NULL,
	[FechaAuto_F] [varchar](10) NULL,
	[NombreDocumento] [varchar](255) NULL,
	[YearPromocion] [int] NULL,
	[TipoAsuntoId] [int] NULL,
	[TipoCuadernoId] [int] NULL,
	[NombreCorto] [varchar](10) NULL,
	[RutaArchivoNAS] [int] NULL,
	[Origen] [varchar](255) NULL,
	[SintesisOrden] [int] NULL,
	[TipoProcedimiento] [varchar](500) NULL,
	[secretarioId] [bigint] NULL,
	[OrigenId] [int] NULL,
	[CapturoId] [bigint] NULL,
	[PreautorizoId] [bigint] NULL,
	[AutorizoId] [bigint] NULL,
	[CanceloId] [bigint] NULL,
	[CanceloCuenta] [int] NULL,
	[GuidDocumento] [uniqueidentifier] NULL
)
GO
